[2015-11-06 21:46] jenniferthibault opened #935 "In order to determine if it's meeting user needs, test 2/4/6 cycle select with users"
Test tool from #934 with users

Story map card: [2/4/6 cycle select](https://18f.storiesonboard.com/m/fec/!card/qv-XXBL-Je7ikjnTowJqCg)

[2015-11-06 21:47] jenniferthibault commented on #935
Use this testing to decide final direction of tool

[2015-11-07 00:04] emileighoutlaw commented on #859
I like this a lot more than what we have now.

Thoughts @jmcarp @noahmanger @LindsayYoung ?

[2015-11-07 00:09] noahmanger commented on #859
Better, but I still find the structure of the field label awkward. What about:

`Limit to candidates who raised more than $5,000`

[2015-11-07 00:35] AmyKort commented on #859
I think that's fine. I have a knee-jerk reaction to think contribution limit whenever I see "limit" in this context. Is that because I've worked here to long?

[2015-11-07 00:39] AmyKort commented on #859
Limited to candidates who raised more than $5,000

[2015-11-07 00:39] AmyKort commented on #859
?

[2015-11-07 00:46] noahmanger commented on #859
Hmmmm. I'll let Emileigh be the final say on verb conjugation. I like the imperative (is that right?) form more than past participle in this case, but I get your point. Maybe "Restrict to candidates...." ?

_Hoping I'm remembering my 10th grade english well_

_Instantly regretting getting into a grammar discussion with people with graduate degrees in English_

[2015-11-07 00:48] AmyKort commented on #859
Restricted to is perfect. Thank you!

Sent from my iPhone

[2015-11-07 00:50] jmcarp opened #937 "To prevent users from encountering irrelevant information, hide tabs where not applicable"
As described in https://github.com/18f/fec/issues/134, we're currently showing the disbursements tab for IE-only committees, but that tab isn't relevant in those cases. We should hide tabs by committee type such that tabs that aren't applicable aren't displayed.

[2015-11-07 00:53] AmyKort commented on #859
Sorry: restrict to.

I live in the past.

[2015-11-09 14:48] emileighoutlaw commented on #859
I'm hesitant to add anything like "restrict or limit" here. If we added `restrict to`, our language would be inconsistent with the other filters, all of which restrict/limit/filter the data in some way but don't specifically say `restrict` `limit` or `filter`.

<img width="292" alt="screen shot 2015-11-09 at 9 42 14 am" src="https://cloud.githubusercontent.com/assets/10552702/11036382/426528ec-86c

[2015-11-09 16:00] jenniferthibault commented on #866
Closed by:
https://github.com/18F/fec-cms/pull/116
https://github.com/18F/fec-style/pull/174
and https://github.com/18F/openFEC-web-app/pull/928

[2015-11-09 16:00] #866 closed

[2015-11-10 18:21] noahmanger commented on #892
Resolved by turning off Ethnio for IE 8 and lower.

[2015-11-10 18:21] #892 closed

[2015-11-11 01:41] #914 closed

[2015-11-11 03:36] noahmanger commented on #859
That's a good point. I was thinking about that too. I like that idea. Let's test it! I can make the change and have it testable for Thursday.

[2015-11-11 03:39] noahmanger commented on #859
There's one other option though that we haven't addressed: ''Not yet a candidate'". What should that be?

[2015-11-11 03:45] noahmanger commented on #775
This is now working
![image](https://cloud.githubusercontent.com/assets/1696495/11083372/9dcfc9f8-87e3-11e5-8796-e0dbf72af97f.png)

[2015-11-11 03:45] #775 closed

[2015-11-11 14:29] emileighoutlaw commented on #859
Criminy. I didn't even see that one. If we change the others, I'll keep jamming on that last filter.

What does "Not yet a candidate" mean? Does @AmyKort know? Or @jmcarp?

[2015-11-12 02:40] AmyKort commented on #859
If you've registered with the FEC, but not reached the $5,000 threshold, then you are reporting but not yet a candidate.

Is this what the data reflects?

Sent from my iPhone

[2015-11-12 16:41] emileighoutlaw commented on #859
So `Not yet a candidate` are people who haven't yet reached the $5,000 threshold?

If that's the case, it doesn't seem like a child of `Candidates who raised more than $5,000` — it seems like we should pull it out and call it something like `Candidates who haven't raised $5,000`

[2015-11-12 17:22] noahmanger commented on #859
I agree with @emileighoutlaw that it's incongruous. But I don't think we need a whole separate filter. I'd vote for just removing that.

[2015-11-12 17:53] noahmanger commented on #859
Also, we're testing this today so should get some data on how legible these suggested options are.

[2015-11-12 20:55] noahmanger commented on #933
So, in Slack discussions the other day we decided on Option B from that issue. I'm closing this and opening a new one for making the design refinements Jeremy included in his comment.

[2015-11-12 20:55] #933 closed

[2015-11-12 20:59] noahmanger opened #942 "Refine design of 2/4/6 selector"
In going with this option...
![option b](https://cloud.githubusercontent.com/assets/11636908/10526105/cbe963a4-7356-11e5-85a2-474a9cf22800.png)

...there's a few design refinements that have been suggested by usability testing (via @onezerojeremy, with a couple edits):

1. People want Option B toggles in chronological order, after the full election cycle toggle.

2. There's the suggestion that whe

[2015-11-12 22:12] noahmanger commented on #670
This is captured in the story map so I'm closing out here.

[2015-11-12 22:12] #670 closed

[2015-11-12 22:17] #299 closed

[2015-11-12 22:51] noahmanger commented on #850
This is captured on the storymap so closing.

[2015-11-12 22:51] #850 closed

[2015-11-12 22:53] #614 closed

[2015-11-12 22:55] noahmanger commented on #727
Is this still relevant?

[2015-11-12 23:40] noahmanger commented on #802
Related to this card: https://18f.storiesonboard.com/m/fec/!card/EO_Ee1HCYGbMMTnTx3CXqg

[2015-11-12 23:42] noahmanger commented on #617
Storymap card: https://18f.storiesonboard.com/m/fec/!card/y0knqjMo79Db7znT6n3rfw

[2015-11-12 23:43] noahmanger commented on #691
Storymap card: https://18f.storiesonboard.com/m/fec/!card/5958-T-XbVEZKznUD8RvAQ

[2015-11-12 23:50] noahmanger commented on #735
Storymap card: https://18f.storiesonboard.com/m/fec/!card/hbgu5GvJC_3_gznUD8RvAQ

[2015-11-12 23:52] noahmanger commented on #645
Storymap card: https://18f.storiesonboard.com/m/fec/!card/ZsfXerVCsbtmhTnUD8RvAQ

[2015-11-12 23:54] noahmanger commented on #937
No prior discussion, so closing this out in favor of this story card: https://18f.storiesonboard.com/m/fec/!card/KyvZREVXsH_KvjnUD8RvAQ

[2015-11-12 23:54] #937 closed

[2015-11-13 00:02] noahmanger commented on #921
Moved to story map: https://18f.storiesonboard.com/m/fec/!card/9jSngScPr5z0XznUD8RvAQ

Closing.

[2015-11-13 00:05] jmcarp commented on #921
Why close this? Aren't we going to wind up creating the same issue again? FWIW, I may knock this out some weekend on my own time.

[2015-11-13 00:17] noahmanger commented on #865
Card: https://18f.storiesonboard.com/m/fec/!card/xqcdHVJ85BIaCznTwmqB7g

[2015-11-13 00:19] noahmanger commented on #924
Card: https://18f.storiesonboard.com/m/fec/!card/q2sPXkB6Xur_rjnUEFZhfg

[2015-11-13 00:38] noahmanger commented on #855
Story card: https://18f.storiesonboard.com/m/fec/!card/xXORfv6n8LlhiznUEFZhfg

[2015-11-13 00:50] noahmanger commented on #389
https://18f.storiesonboard.com/m/fec/!card/RyWLKPXPXCzX7jnUEHzR2Q

[2015-11-13 00:52] noahmanger commented on #828
https://18f.storiesonboard.com/m/fec/!card/LgBFd2PuCGYcyjnUEHzR2Q

[2015-11-13 01:28] noahmanger commented on #884
Story: https://18f.storiesonboard.com/m/fec/!card/4LO6eJ8e9p-fLDnTx3QZPg

[2015-11-13 01:34] noahmanger commented on #835
Referencing this here: https://18f.storiesonboard.com/m/fec/!card/71Cv_9xvjTU3dTnTx3CXqg

[2015-11-13 01:38] noahmanger commented on #650
Duplicate issue.

[2015-11-13 01:38] #650 closed

[2015-11-13 01:49] noahmanger commented on #702
https://18f.storiesonboard.com/m/fec/!card/I0bne6Rqsx8cNznTwmRr_g

[2015-11-13 01:51] noahmanger commented on #815
Note this discussion earlier: https://github.com/18F/openFEC/issues/1198

Story: https://18f.storiesonboard.com/m/fec/!card/ItcaS83M6HGJgjnTp-HJfw

[2015-11-13 01:54] noahmanger commented on #729
Card: https://18f.storiesonboard.com/m/fec/!card/9vuPRVIC47rHnDnUEHzR2Q

[2015-11-13 01:55] noahmanger commented on #598
https://18f.storiesonboard.com/m/fec/!card/WvGA0kO5mkPD5TnTwnnq1g

[2015-11-13 01:56] noahmanger commented on #809
Story: https://18f.storiesonboard.com/m/fec/!card/R07otwMvz0p_EznUELlqgg

[2015-11-13 01:59] noahmanger commented on #772
Story - Understand the limits of our itemized data: https://18f.storiesonboard.com/m/fec/!card/e5abRHE1pjajIznUELlqgg

[2015-11-13 02:01] noahmanger commented on #643
This is relevant to two cards:
On consolidating mapping libraries: https://18f.storiesonboard.com/m/fec/!card/kiNDhrhW5Xzn4DnUELlqgg

On more unit tests:
https://18f.storiesonboard.com/m/fec/!card/xqcdHVJ85BIaCznTwmqB7g

[2015-11-13 02:05] noahmanger commented on #754
Captured in a new story: https://18f.storiesonboard.com/m/fec/!card/4lsAksI6LCnHgznUELlqgg

[2015-11-13 02:06] noahmanger commented on #701
Card: https://18f.storiesonboard.com/m/fec/!card/vfBqyymmLoMAzznTwluFuw

[2015-11-13 02:06] noahmanger commented on #799
Card: https://18f.storiesonboard.com/m/fec/!card/uJ4VWw-ewHuoXznTwnnq1g

[2015-11-13 02:08] noahmanger commented on #730
Card: https://18f.storiesonboard.com/m/fec/!card/_PlEmTX_w3ktbznUELlqgg

[2015-11-13 02:10] noahmanger commented on #597
Card: https://18f.storiesonboard.com/m/fec/!card/_m-tOiZlaSVYWDnUELlqgg

[2015-11-13 02:15] noahmanger commented on #506
https://18f.storiesonboard.com/m/fec/!card/cu01bioWDS3NTznUELlqgg

[2015-11-13 02:19] noahmanger commented on #326
We can change it, but it seemed right to add a new yellow card for "Understand the timeliness of data" under the blue card "Have confidence in the data you're looking at". Right now this is the only white card:

https://18f.storiesonboard.com/m/fec/!card/kXgi7AIYizmLeDnUEM13oA

But I could see having more.

[2015-11-13 14:37] emileighoutlaw commented on #727
Yeah — depending on how they want to launch the registration and reporting side. This has been drafted. I'll link to it here in a sec.

[2015-11-13 22:04] noahmanger commented on #934
Assigning to Josh.

[2015-11-13 22:24] LindsayYoung opened #945 "Download queries as csv"
Start to build that interaction and see how many results can be returned right away, and what how many requests a query can ask for at a time.

Next steps:
 create a queuing system
 decide on limit for custom

In parallel:
 design and test the user interaction around the downloads

[2015-11-13 22:28] LindsayYoung commented on #945
I should have written this in the other repo

[2015-11-13 22:28] #945 closed

[2015-11-13 23:21] noahmanger opened #946 "Design interaction of data exporting"
**Stories:** So that users can export data from the site, make it possible to:
- [Story 1](https://18f.storiesonboard.com/m/fec/!card/5wzt02F1sSSdiTnUBqI-VQ): ...instantly download a small set of filtered data.
- [Story 2](https://18f.storiesonboard.com/m/fec/!card/VA97jHrDIs-ibznUBqI-VQ): ...wait on the site for large datasets to be ready.
- [Story 3](https://18f.storiesonboard.com/m/fec/!card/5w

[2015-11-14 00:03] noahmanger opened #947 "Bug: On mobile, filters are still clickable even when hidden"
Something about the way that the filter panel is hidden on mobile makes it possible to actually click the filters even though they're not visible when the panel is collapsed. This prompts the keyboard to pop up on screen.

[2015-11-14 00:03] noahmanger opened #948 "Bug: Some detail panels extend beyond height of the container on mobile"
Example:

![img_3076](https://cloud.githubusercontent.com/assets/1696495/11160546/144dd47e-8a20-11e5-8045-cdaba473be26.PNG)

[2015-11-16 17:55] noahmanger commented on #946
Another question to answer, coming from @onezerojeremy 's notes on usability testing: does the export include _all_ possible columns? Is there a step where users select the columns they want to export? Does it just export what's currently visible on the table?

@jmcarp and @LindsayYoung are there any backend considerations to account for here? My guess is the easiest solution for the first version

[2015-11-16 18:19] LindsayYoung commented on #946
I think it would be good to have the ability to export all the columns, including fields we don't show in the viewer. That way, if you are an advanced data user without technical skills, you can still have access to the data.

I like the idea of starting with uniform fields for downloads and then making them custom. Making smaller requests, could speed things up.

[2015-11-16 18:21] noahmanger commented on #920
I was just going to make this change and then remembered that we have a bunch of language inconsistencies between the committee page and election page.

![image](https://cloud.githubusercontent.com/assets/1696495/11190652/9bd02c62-8c4b-11e5-8cf9-96a3f5f0e5d4.png)

We should have common language for:
- Map title
- Map description
- Toggle title

[2015-11-16 19:07] jenniferthibault commented on #942
@onezerojeremy / @noahmanger , clarification on point 1 here: aren't both the drop-down and the toggle already in chronological order?

[2015-11-17 03:14] noahmanger commented on #947
Update: This actually seems to be an issue with the Safari bug and the date filters referenced here https://github.com/18F/openFEC-web-app/issues/930

To test, on the iOS simulator, load beta.fec.gov/data/receipts and tap anywhere. Then, in the Safari inspector, console.log the `document.activeElement` and it's the first custom date field. This seems to be the case regardless of where you tap.

@j

[2015-11-17 03:28] noahmanger commented on #906
Yeah this seems to just be a bug arising from bad data.

@jmcarp is this something we want to address on the frontend?

[2015-11-17 15:17] jenniferthibault commented on #942
With clarification on 1st point outstanding, here's what I'm thinking:

The first state is nothing selected, second state is one period selected, third state is full cycle selected.
![cycle-select](https://cloud.githubusercontent.com/assets/11636908/11215362/b80c0b58-8d13-11e5-8cfd-5786c3e0d7f2.png)

On interaction, I'd think that you could choose any other item in the toggle in order to deselect

[2015-11-17 16:55] #908 closed

[2015-11-17 17:14] #948 closed

[2015-11-17 18:04] emileighoutlaw commented on #920
Would it work to have both be:
- Map title: "Individual contributions by state"
- Map description: "The total amount of contributions received from individuals"

What's the toggle title?

[2015-11-17 18:07] noahmanger commented on #920
I think I like "Contributor state" for the toggle title.

And for the description can we just add "in each state" to the end?

[2015-11-17 18:44] noahmanger commented on #942
Nice. This is looking good. A couple things:
- Re: chronological order, sorry that was unclear. I think the suggestion was to reverse it so that the most recent two-year option was on the left (but the "all" options is still the left-most)
- I don't think we should ever have a "none selected" state. When you first load the page, one of the options will be selected, and then you'll just change it f

[2015-11-17 19:51] emileighoutlaw commented on #920
Agreed on "Contributor state" for the toggle title.

Do you think it's unclear that we mean "in each state" if we don't say it? I took it out because I thought it was pretty clear without it (and thought folks might be more likely to read the description if it were shorter), but I'm amendable to other ideas!

[2015-11-17 19:59] jenniferthibault commented on #942
1. Gotcha
2. :+1: What would you like the default state to be? Most recent cycle?
3. As I understood this, you can't select two of the three options from the toggle bar, just one at a time, so that's what I was getting at . I'm not quite sure I know what you mean by the second part, make it seem like it's selecting everything without selecting everything? Can you point to a pattern you've seen els

[2015-11-17 21:21] noahmanger commented on #942
2: Per the discussion in Slack just now, the default should be the full cycle.
3: I can explain this over video.
4. Ah I forgot about that. Let's test the "All" option with users on Thursday with the working tool.

[2015-11-17 23:13] noahmanger commented on #920
Sure! Let's give it a shot.

[2015-11-17 23:18] noahmanger commented on #920
Actually, I think we oughta just remove the description. We don't use it on other similar tables.

[2015-11-17 23:40] noahmanger opened #958 "Bug: Autocomplete hint input captures focus"
When tabbing through controls, you temporarily lose focus when it is captured by a hidden input used by typeahead. These inputs have tabindex=0 set, but should have tabindex=-1.

[2015-11-18 00:29] noahmanger commented on #792
As far as I can tell, `-moz-appearance` stopped working around version 30, but seems to be working now. I'm going to move this to the icebox until we can verify it's still a problem.

[2015-11-18 00:30] noahmanger commented on #791
This is working on my version of Firefox. Moving to the icebox until we can verify it's still a problem.

[2015-11-18 00:54] jenniferthibault commented on #942
Thanks for holding on through these detail-based iterations all—here's where I think we've landed:

![screen shot 2015-11-17 at 7 49 07 pm](https://cloud.githubusercontent.com/assets/11636908/11229540/4c4f0d88-8d64-11e5-865d-4db5c7f35131.png)

- For testing this round, having the "All" button activate the active state for each toggle, which can be undone by simply clicking on any toggle button
- D

[2015-11-18 00:58] jenniferthibault commented on #942
OH! One last thing — we should probably remove the tooltip here in implementation, since the disclaimer text isn't needed anymore. (I did so in the design)

[2015-11-18 01:07] noahmanger commented on #942
Excellent! This looks great. Thank you! Will get to it in the morning.

[2015-11-18 13:08] emileighoutlaw commented on #920
Cool! Bold! I love the idea. Cut the description!

[2015-11-18 13:09] #920 closed

[2015-11-19 18:43] noahmanger opened #963 "Update report templates to include all fields"
Per @LindsayYoung 's comment here https://github.com/18F/openFEC-web-app/pull/952#issuecomment-158114173 , we should come through the report filing templates and make sure that all report fields are included in them.

This work was originally done in jinja templates, so those would be a good place to start as a reference.

Filing this as an open issue for now and then we can figure out when we wan

[2015-11-19 18:59] #750 closed

[2015-11-19 22:05] noahmanger commented on #859
Moving conversation from the PR back over there. Josh said https://github.com/18F/openFEC-web-app/pull/961#discussion_r45282953 :

How do you respond @emileighoutlaw and @AmyKort ?

[2015-11-19 22:24] emileighoutlaw commented on #859
Blurg. Okay, I'm going to have to think about this for a minute.

[2015-11-19 22:44] #899 closed

[2015-11-19 22:44] #907 closed

[2015-11-19 22:46] noahmanger commented on #934
This is done. Deploying now.

[2015-11-19 22:46] #934 closed

[2015-11-19 22:47] noahmanger commented on #942
Styles applied, deploying now. Any changes that need to be made based on usability testing can be logged separately.

[2015-11-19 22:47] #942 closed

[2015-11-20 00:22] noahmanger commented on #946
Another interaction question: do we want to support downloading in multiple formats? Or just CSV?

[2015-11-20 00:31] emileighoutlaw commented on #859
Hey @jmcarp, just want to make sure I understand correctly:

If the user selects an election cycle, the results will show the records for that selected cycle. If no cycle is selected, it defaults to the most recent two years of data?

I don't know that I think we need to spell out the second piece about candidate status value. Or if we do, maybe it would be a better tooltip?

[2015-11-20 00:32] noahmanger commented on #859
If there's no cycle selected, then it just shows all data.

[2015-11-20 00:34] noahmanger commented on #859
I think what we mean is that Past and Future means relative to the actual current election cycle (so today, 2016), right?

Or can you be a "past election cycle candidate" for an election in the past if you raised $5,000 for that election cycle before that election cycle?

This is screwy.

[2015-11-20 01:13] noahmanger commented on #946
So here's a flow I'm thinking (with very ugly screens; just meant for general page components, not actual style):

From a browse page, clicking the download button takes you directly to a new page in a new tab. If the request is small enough, the download button will be ready for you. Otherwise it will display a processing message:

![download waiting](https://cloud.githubusercontent.com/assets/16

[2015-11-20 01:29] AmyKort commented on #859
We shouldn't care when you raised the money. Candidates raise funds that are designated for a particular election. The issue is that you have registration and reporting requirements once you raise or spend in excess of $5,000 designated for that election. At that point you are "active" in that election for the purposes of the FECA. I thought the purpose of this filter was to allow people to filter

[2015-11-20 01:31] AmyKort commented on #859
Does it still default to the 2-year cycle if we default to 2-4-6?

[2015-11-20 01:38] AmyKort commented on #859
Or started raising money before the beginning of the election cycle for which they reach the threshold.

[2015-11-20 04:29] jmcarp commented on #859
The candidate status values that we show aren't related to the cycles in the filter panel. For most attributes in the candidate browse view, we use the most recent available value (e.g., name, district, status).

@AmyKort: the 2/4/6-year aggregates only apply to financial summary data (receipts, disbursements, etc.), and not to the data in the candidate browse view (https://beta.fec.gov/data/candi

[2015-11-20 16:22] jenniferthibault commented on #946
Haven't dug into mockups yet, but on the file type info, I just reviewed all submitted feedback issues that requested this:

Out of the 9 issues
- 7 of them specifically asked for .csv/Excel
- 1 asked for "pdf/html/FEC files"
- 1 asked for "data export" no format specified

[2015-11-20 17:43] noahmanger commented on #946
Good call. I believe that the "PDF/HTML/FEC files" is specifically about the filings, not exporting data. I think we can just count on a CSV.

[2015-11-20 20:00] noahmanger opened #967 "Revise cycle select based on usability feedback"
**Story:** In order for users to view summary totals for natural cycles, add the ability for users to view data in 4 and 6 year increments.

**Tasks:**
- [x] @onezerojeremy synthesize usability findings
- [x] Discuss design changes with @jenniferthibault
- [x] I'll implement

[2015-11-20 22:15] emileighoutlaw commented on #859
One more round of questions:

- If the candidate records (past, future, present) are always the most recent status value, why do we need these three options. Why not just have "candidates who raised more than $5,000" regardless of the cycle? Who would use the past/present/future filters, and how?

[2015-11-20 23:30] noahmanger commented on #859
That's a good question. @LindsayYoung ?

[2015-11-20 23:33] onezerojeremy commented on #946
I like this direction! I especially like the idea of a bar showing that the download is processing. Is it possible to just do that? Probably not MVP.

I'm also curious about what happens with the bar if you have multiple downloads processing (use case: comparing two candidates spending/fundraising)

[2015-11-20 23:34] onezerojeremy commented on #946
Also, from testing:

One test subject was taken aback by the thought of having to wait ("torrents are immediate"), and even more disturbed by the idea of having to enter an email address. This lends further credence to the current interaction pattern that does not require an email address. We should think about how to explain what is happening in a bit more detail; people expect instantaneous down

[2015-11-20 23:38] onezerojeremy commented on #967
Usability Testing:
People did not associate the the 2 year cycle toggles with the word "all". Possible remediation ideas: Make "All" triggered on page load, make it appear to deselect the other toggles. (One person thought "All" referred to all election years, as opposed to all years in that election cycle).

There are a couple of things going on here, but I think the simplest change to the page,

[2015-11-20 23:41] onezerojeremy commented on #935
Tested on 11/12 and 11/20. Results, also in #967:

People did not associate the the 2 year cycle toggles with the word "all". Possible remediation ideas: Make "All" triggered on page load, make it appear to deselect the other toggles. (One person thought "All" referred to all election years, as opposed to all years in that election cycle).

There are a couple of things going on here, but I think t

[2015-11-20 23:43] noahmanger commented on #930
Trying to troubleshoot this, and I'm finding that Safari just isn't even loading the datatables at all on develop (production works fine). There's no errors in the console and the debugger's being a pain, so a bit of a mystery.

[2015-11-20 23:45] onezerojeremy commented on #855
from 11/20 usability testing:
One person assumed that "other spending" was a more technical, in-depth sort of spending that only pro-users would be interested in. Also, one user pointed out that the converse would be nice, namely that they wanted to look at a given committee and see which candidates they've supported. Both failed to find this, which both thought was "very interesting" data when we

[2015-11-21 00:07] onezerojeremy opened #968 "Campaign Finance Home Nav Item underperforming"
After many weeks of testing, it is increasingly clear that many people are not rightly interpreting the primary nav link as a link to the beta data home. Because the user's hover fires before the click, many users don't rightly assume that they can click on "Campaign Finance Data" navigation item to take them to the data home, and thus miss the beta data home.

![nav-problem](https://cloud.githubu

[2015-11-21 01:15] jmcarp commented on #930
@jenniferthibault: I saw the same problem on production, but not on develop, whether locally or at https://fec-proxy.18f.gov/data/receipts/, etc. The issue may have been fixed during recent refactors of the browse filters that haven't made it to production yet.

@noahmanger: I'm not replicating the problem you described about tables not loading in safari (version 9.0.1). The filter typeaheads are

[2015-11-21 01:19] noahmanger commented on #930
Yep, I see that too.

[2015-11-23 15:36] jenniferthibault commented on #967
@emileighoutlaw can you help us out with finding a good word or short phrase for the "All" button in this toggle?

![screen shot 2015-11-23 at 10 34 44 am](https://cloud.githubusercontent.com/assets/11636908/11340863/f18a7748-91cd-11e5-9d83-4fb771748f19.png)

Jeremy's suggestion to revert to single button toggles for the next test makes sense to me!

[2015-11-23 17:09] noahmanger commented on #967
Language-wise, we could go back to the original suggestion from FEC: "Full cycle: 2015 - 2016". It's verbose, but maybe that's what we need?

When you say revert to single-button toggles do you mean just showing the "all" option selected instead of making the others look selected too?

[2015-11-23 17:10] jenniferthibault commented on #967
Correct, that is what I meant! Or at least, that's what I was interpreting @onezerojeremy to say. no?

[2015-11-23 17:49] noahmanger commented on #946
Great stuff! I like the idea of going from "Button click" --> "Banner appears" and then you can click to that page if you want or just keep doing what you're doing.

As for multiple downloads, that's a really good point. I'm guessing each one needs a different page @jmcarp / @LindsayYoung ? If so, I think we could just stack the download links, with the ability to hide the whole bar:

So you initi

[2015-11-23 19:25] emileighoutlaw commented on #967
I'm keen on "Full cycle: 20XX–20XX" for the language edit

[2015-11-24 17:19] noahmanger commented on #967
Sounds good. I'll implement that.

[2015-11-25 19:10] leahbannon opened #969 "display active menu items in mobile menu"
So that users can more easily explore the active parts of the site, we should prioritize displaying the active menu items in the mobile nav over the inactive ones. Is it a heavy lift to switch to defaulting to showing the "Campaign finance data" menu item expanded instead of collapsed?
![img_6045](https://cloud.githubusercontent.com/assets/4323988/11406990/098bb6e8-9365-11e5-8d9d-c65a88e9c37a.jpg)

[2015-11-30 21:38] noahmanger commented on #946
Summary of our discussion today, we're going to break this interaction up into a couple versions.

## V1: Notification bar only
- Both instant and queued downloads will cause the notification bar to appear
- Once the download is ready, a link to the csv will appear in that bar
- The bar will contain information on A) what's happening while the download processes and B) a suggestion to add more fil

[2015-11-30 22:19] emileighoutlaw commented on #946
Questions:
- @LindsayYoung or @jmcarp: Can you help me understand what is happening technically and in rough terms, and I'll finesse?
- Can we (should we?) add an "estimated time left"?

[2015-11-30 22:22] emileighoutlaw commented on #727
@amypike @amykort: Are we still needing to put this up with our OGC-approved `Registration and reporting` pages? If so, is the text we reviewed in October good to go? I can re-email it to y'all if you want to look again.

Next steps:
 * [ ] Determine if this necessary to launch content
 * [ ] Final Amy approval
 * [ ] Talk to @jenniferthibault and @noahmanger about the best way to design and imple

[2015-12-01 01:58] jmcarp opened #971 "Prototype download interaction"
Description by @noahmanger from https://github.com/18F/openFEC-web-app/issues/946#issuecomment-160769789:

## V1: Notification bar only
- Both instant and queued downloads will cause the notification bar to appear
- Once the download is ready, a link to the csv will appear in that bar
- The bar will contain information on A) what's happening while the download processes and B) a suggestion to add

[2015-12-01 05:27] jenniferthibault commented on #946
This is going to be a few steps of explanation—bear with me :)

### The export button:
@emileighoutlaw in these mockups I was making a clear distinction between "export" and "download" actions. For example, the button that starts the process of gathering data is "Export" and the button that allows you to download the file when it's ready is "Download". Does this make sense or would you rather chan

[2015-12-01 20:45] noahmanger commented on #946
Nice nice nice. Thoughts:

- Love the distinction between "export" and "download". That's smart.
- I think I prefer the first option for the status bar
- It feels a little weird to me at the bottom of the screen. What if we put it at the top but it actually pushed everything down, rather than overlapping?
- I think a "cancel" link would probably be good, but I think it should be distinct from an "

[2015-12-01 20:50] emileighoutlaw commented on #946
These are some interesting questions:

### Export and download
As a reader, I think `export` and `download`  are good, clear terms.

Before we decide, though, I'd be curious to hear if Lindsay or Josh think there's a more technically appropriate word for either of these things. I'm still not 100% sure what's happening when the user clicks "export" that's different than when they click "download."

[2015-12-01 20:51] jmcarp commented on #946
FWIW, "cancel" is a little complicated. If two users queue the same data download at the same time, we only build the file once. That means multiple users can share the same queued download, which means adding a naive cancel button would allow one user to accidentally cancel downloads requested by somebody else.

[2015-12-01 21:34] onezerojeremy commented on #946
i like this direction a lot!
I've no strong emotions between 1 and 2 ( i like them both). I also don't have strong emotions about top or bottom (i don't know if there are patterns or expectations here) but don't mind bottom.

one question: what happens if you have multiple downloads at once?

on cancel:
I think we should interpret "Cancel" here to equivalent of the user saying "I no longer desire

[2015-12-01 22:29] LindsayYoung commented on #946
I would guess that actually canceling would be more trouble than it is worth.

How about "make your request smaller" or "request fewer records" instead of "add more filters" I think smaller=faster will make sense to people.

[2015-12-02 15:10] jmcarp opened #973 "Prevent users from navigating to invalid candidate cycles"
As pointed out by @paulclark2, the 2-4-6 year feature exposes buttons for two-year periods during which a candidate might not have any activity--e.g. https://fec-stage-web.18f.gov/data/candidate/S0NY00188/?cycle=1998&election_full=false. Because candidate S0NY00188 has no activity before 1999, the last two links here throw 404s:

<img width="626" alt="screen shot 2015-12-02 at 10 07 45 am" src="ht

[2015-12-02 19:38] jenniferthibault commented on #946
Alrighty! Here's the latest after chatting desired behavior for draft 1 of this thing with Noah and Josh:

![waiting copy 2](https://cloud.githubusercontent.com/assets/11636908/11541470/68b974e8-9900-11e5-8ef9-81e7c30d5154.png)

- @emileighoutlaw I used your text combined with @LindsayYoung 's about faster downloads. I think it's helpful to include the instruction that you need to use the filters

[2015-12-03 23:26] noahmanger commented on #946
This has been designed and implemented. Closing!

[2015-12-03 23:26] #946 closed

[2015-12-04 02:28] noahmanger commented on #967
Made these changes. If there's further changes to make, we can add them as new issues.

[2015-12-04 02:28] #967 closed

[2015-12-04 02:28] noahmanger commented on #935
Done.

[2015-12-04 02:28] #935 closed

[2015-12-04 02:33] noahmanger commented on #973
What if:
- Gray out two-year periods where there was no activity
- Text of full cycle is lists the min year for which there was activity, rather than the min of that 4 or 6 year period

[2015-12-04 03:26] jmcarp commented on #973
That sounds reasonable to me (although my wife was pretty adamant that we should just hide the two-year periods with no activity). I can take care of this tomorrow. Would be happy to get input from @jenniferthibault @LindsayYoung @onezerojeremy too.

[2015-12-04 03:27] noahmanger commented on #973
Interesting. Yeah I would hardly go to the mat over this. Will happily cede to whoever has strong opinions, your wife included :)

[2015-12-04 12:41] PaulClark2 commented on #973
I think I prefer graying out two-year periods where there was no activity.   This way the candidate pages for each office are consistent:   for House you have one period, President you always have 2 and Senate you always have 3

[2015-12-04 14:45] LindsayYoung commented on #973
My inclination is to keep consistency and add grey to cycles that don't apply.

[2015-12-04 15:26] jenniferthibault commented on #973
I'd like to try @PaulClark2 's suggestion to show the years, but make them inactive. See if that confuses users or not. If so, take them out entirely, and see if that confuses people any less.  @onezerojeremy testing strategy?

[2015-12-04 16:26] onezerojeremy commented on #973
we can test it.  Or see if it's immediately obvious. Or maybe have them try to select and see how they react when it doesnt work.

[2015-12-04 16:48] onezerojeremy commented on #968
Tested this again on 12/03, consistently found that users are not immediately clear on the fact that the Campaign Finance Data menu tab was clickable.

[2015-12-04 19:40] jmcarp commented on #973
This is implemented and currently deployed on staging (not dev!): https://fec-stage-web.18f.gov/data/candidate/S0NY00188/?cycle=2000&election_full=true. @noahmanger: should we leave the issue open, or close and see if it comes up again during testing?

[2015-12-04 22:51] noahmanger opened #975 "Design interaction for cap on number of records that can be exported"
**[Story](https://18f.storiesonboard.com/m/fec/!card/EurTUqJOirh4DjnUgNBiGw)**: So that users cannot request a huge collection of resources that bogs the site down, impose a conservative cap on the number of records they can request.

**Goal:** We need to figure out how we communicate the export limit of 100,000 records to the user in some way or another. There's two major routes:

1. We do not al

[2015-12-04 23:02] noahmanger opened #976 "Make design tweaks to candidate page for cycle select"
**Goal:** Based on feedback from usability testing, make minor visual changes to the candidate pages in order to more clearly associate the cycle select with the data lower on the page.

**Tasks:**
- [x] @jenniferthibault mockup
- [ ] I'll implement

[2015-12-07 15:43] jenniferthibault commented on #969
Very shortly, Reg/Reporting and calendar will be active. Contact should currently be active (though this screen doesn't show it as so, so that's an error).

Since more content is launching soon, I'd say we should leave it as it.

A good lesson to learn for future beta launches though Leah, thank you for pointing it out!

[2015-12-07 15:46] jenniferthibault commented on #968
THANK YOU FOR TESTING THIS! As you know, I've been wondering :)

If we were to duplicate the link as the first item in the drop-down, what would your testing indicate we should name it? cc @emileighoutlaw

[2015-12-07 17:10] noahmanger commented on #968
This is the way we do it on mobile:

![image](https://cloud.githubusercontent.com/assets/1696495/11633839/55d92362-9cc2-11e5-9379-0698bf840b0b.png)

The reason we do it there is because the top item has to open the sub-menu. But it would be really easy to just show the repeated link on desktop.

[2015-12-07 17:21] jenniferthibault commented on #968
Nice! Seems like a logical first step to me.

[2015-12-07 18:16] emileighoutlaw commented on #859
Still wondering about the answer to this question, @jmcarp

[2015-12-07 18:33] jenniferthibault commented on #976
Research note summary on the candidate's page from @onezerojeremy & @emileighoutlaw :

- [ ] Link terms under Candidate Committee section such as “Principal campaign Committee, and “Authorized Campaign Committees” to glossary
<img width="455" alt="screen shot 2015-12-07 at 1 27 20 pm" src="https://cloud.githubusercontent.com/assets/11636908/11635681/4684af7a-9ce6-11e5-882d-f4feb9cdad08.png">

###

[2015-12-07 18:58] onezerojeremy commented on #968
Agreed! Let's try it!

[2015-12-07 19:22] emileighoutlaw commented on #968
I third! Let's go with that!

[2015-12-07 22:41] jenniferthibault commented on #975
Transcribing a bit from today's discussion in Slack, we want to only allow the export button to become active if a users' query is under 100,000 records.

We're not going to just give the first 100,000 because it would be harder for a person to try and create a query that will give them the next 100,000. but if they are creating the query themselves the first time, they can use dates or something

[2015-12-07 22:44] noahmanger commented on #975
Nice. So is the info button only there when the export button is disabled? Or should it always be there, as it has the link to the bulk downloads?

[2015-12-07 22:46] jmcarp commented on #975
Proposed backend implementation in https://github.com/jmcarp/openFEC/commit/54880d897ba11be95b68ea40b15f0cb2dfd97305.

[2015-12-07 22:50] jenniferthibault commented on #975
HM! My questions back at you should probably be captured as a universal design principle for the site, when we have an answer to it. @emileighoutlaw may be versed in this from her content work.

If a user is following all the rules, should they still be reminded of them?
—Or—
Do we only show the rules if a user isn't meeting the requirements?

[2015-12-07 22:52] noahmanger commented on #975
I think in this case it does make more sense to only show it if the button is disabled. Should we though use a different icon, maybe the exclamation point? That's more of a warning, and makes sense to be conditional.

[2015-12-07 23:03] jenniferthibault commented on #975
I can see both sides, but see nothing wrong with trying that route first. @onezerojeremy do you have thoughts or hunches?

[2015-12-07 23:11] noahmanger commented on #754
Bumping this into the current sprint.

[2015-12-07 23:15] noahmanger opened #977 "Only show tabs relevant to particular committee types"
**[Story](https://18f.storiesonboard.com/m/fec/!card/KyvZREVXsH_KvjnUD8RvAQ)**: So that users only see relevant information on committee pages, only show tabs for the type of data that that committee has.

**Tasks:**
- [x] Decide logic
- [x] Implement

[2015-12-07 23:15] noahmanger commented on #977
One question I have about this: is the correct way to write the logic here based on the type of committee or based on the data we have for them? Can we reliably assume that all committees of a certain type will always have X type of data and never Y type?

[2015-12-07 23:18] noahmanger opened #978 "Add EC and CC tabs to committee pages"
**[Story](https://18f.storiesonboard.com/m/fec/!card/vfBqyymmLoMAzznTwluFuw)**: So that users can understand which Other Spending a committee has conducted, show this information on the committee page.

**Tasks:**
- [x] Add IE tab (merge [current PR](https://github.com/18F/openFEC-web-app/pull/943))
- [x] Add EC tab
- [x] Add CC tab

[2015-12-07 23:20] jmcarp commented on #977
A thought about this: could the spreadsheet live in the github wiki on the API repo? I can never keep track of google docs.

Also, IMO we should stick to the committee type here. What do you think @LindsayYoung?

[2015-12-07 23:26] jenniferthibault commented on #754
@onezerojeremy / @noahmanger see the two designs above. Any direction or preference for what you'd like to test and how I can change it to help get it ready?

[2015-12-07 23:36] noahmanger commented on #754
I think I like the second option. Though we need to figure out how it behaves if there's a _bunch_ of filters applied. I think my preference would be to set some max number of tags and hide the overflow, but then allow you to "view more".

[2015-12-07 23:38] onezerojeremy commented on #754
hehe i'm good to try Noah's way, though I would also make the argument to start simple, which feels like option 1. It also feels more scalable (could handle more filters). Still would want to see how many you could have before it breaks.

could also do a small with little x's.

/shrug

[2015-12-07 23:39] noahmanger commented on #702
Here's the old issue for the itemized IE page. Will add separate issues for EC and CC.

[2015-12-07 23:40] noahmanger opened #979 "Add itemized EC browse page"
**Story:** So that users can understand detailed itemized electioneering communications, add a browse page for them.

**Tasks:**
- [x] Determine filters
- [x] Determine details panel content
- [x] Implement

**Dependency:** https://github.com/18F/openFEC/issues/1403

[2015-12-07 23:43] noahmanger opened #980 "Figure out navigation to IE, EC, and CC browse pages"
**[Story](https://18f.storiesonboard.com/m/fec/!card/I0bne6Rqsx8cNznTwmRr_g):** So that users can view itemized Independent Expenditures, Communication Costs, and Electioneering Communications, users can filter and browse them all.

**Goal:** We have separate issues to create these pages, but this task is to figure out how you get to them from the data landing page and the nav menu.

[2015-12-07 23:43] noahmanger commented on #980
@jenniferthibault I'm assigning to you but let me know if you want me to take it.

[2015-12-07 23:45] noahmanger opened #981 "Link "other spending" aggregate subtotals to itemized views"
**[Story](https://18f.storiesonboard.com/m/fec/!card/I0bne6Rqsx8cNznTwmRr_g):** So that users can view itemized Independent Expenditures, Communication Costs, and Electioneering Communications, users can filter and browse them all.

**Goal:** Once we've implemented browse pages for each of the other spending categories, link the aggregate subtotals on all pages to them just like we do with receipt

[2015-12-07 23:47] noahmanger commented on #977
Oh smart. I'd be in favor of more of this type of thing living in the Github wiki, which would also help with partner collaboration.

[2015-12-07 23:51] onezerojeremy commented on #975
I agree with Noah!  Though I think I'd reserve the "!" point, though. Mostly because browse pages where the limitation is relevant might be common, pre-filtering, and in general I'd save the exclamation point for more dangerous actions. Maybe they aren't though.

maybe the principle is something like:
"User is made aware of limitations when said limitations are relevant" hmm. maybe.

Also controve

[2015-12-08 00:17] PaulClark2 commented on #754
I am out of the office until 12/08/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC-web-app]
So users know which data they're looking at even when they collapsed the
filter panel, we'll show a quick summary of the filters ap

[2015-12-08 00:17] PaulClark2 commented on #754
I am out of the office until 12/08/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC-web-app]
So users know which data they're looking at even when they collapsed the
filter panel, we'll show a quick summary of the filters ap

[2015-12-08 00:17] PaulClark2 commented on #754
I am out of the office until 12/08/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC-web-app]
So users know which data they're looking at even when they collapsed the
filter panel, we'll show a quick summary of the filters ap

[2015-12-08 00:17] PaulClark2 commented on #754
I am out of the office until 12/08/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC-web-app]
So users know which data they're looking at even when they collapsed the
filter panel, we'll show a quick summary of the filters ap

[2015-12-08 01:37] noahmanger commented on #702
Here's what I'm thinking for filters, columns and

# Filters:
**Report and transaction info**
- Report type
- Report form?
- Amendment indicator
- Description
- Support / oppose
- Expenditure date (range)
- Amount (range)
- Payee

**Committee info**
- Committee name
- Committee designation?
- Committee type?
- Committee org type?

**Candidate info**
- Candidate name
- Office
- District
- State

An

[2015-12-08 15:00] emileighoutlaw commented on #754
Nobody asked me, but I'm popping on to say I think I prefer the second option (for scannability and readability), but I definitely hear Jeremy's concern about scaling.

[2015-12-08 15:50] emileighoutlaw commented on #975
#### Display
I believe it's okay to only show the tooltip when `export` is disabled— if `export` works, folks don't need to know why. I do see the issue with inconsistent use of `i`. Is there another option (other than ` ! `)? For example, could the alert box show when people hover over the disabled button?

#### Vocab
I'm not sure about the word "complete," only because every export is a complete

[2015-12-08 16:25] jmcarp commented on #973
Closing for now. We can reopen or file a new issue if @onezerojeremy finds that users don't like the revised behavior.

[2015-12-08 16:25] #973 closed

[2015-12-08 16:49] jenniferthibault commented on #975
Let's go with hovering over the disabled button activate the tooltip, avoiding `i` and `!` conflicts.

Content: Your call @emileighoutlaw, one tiny question: should we add `the` in front of "FEC bulk data exporter? Or is that removed on purpose? I'm all for softening the tone by avoiding curt sentences! I grabbed a random example for the mockup, so don't associate any preference for that over the

[2015-12-08 16:51] jenniferthibault commented on #975
I know content is still ongoing, but transferring this from design to implementation, and assigning to @noahmanger

[2015-12-08 17:18] emileighoutlaw commented on #975
I removed `the` on purpose, but let's add it back in! I do think it looks better.

Option 3 is my preference, content-wise (unless other folks have thoughts).

[2015-12-08 20:16] emileighoutlaw commented on #976
I think the issue of clarifying and dividing explanatory text could be solved by leaving the paragraph in it's proposed spot (under **Campaign committees**) and tweaking the wording:

[2015-12-08 23:17] jenniferthibault commented on #976
A few small additions and tweaks to try out in the mockup above:

<img width="708" alt="screen shot 2015-12-08 at 6 13 17 pm" src="https://cloud.githubusercontent.com/assets/11636908/11671568/6a47ee6c-9dd7-11e5-8e00-7729a260e3dd.png">

- Add an h2 class of the year range selected before the tab navigation
- make "Combined financial totals" and "Campaign committees" h3
- Not relevant to this intera

[2015-12-09 01:04] noahmanger commented on #976
Nice! I love all of this. Great idea to put the years in the tab bar.

You know I appreciate you thinking about heading levels, but to my eye making the years an H2 just looks off. I think because they're a different size than the tabs. I'll happily cede to your judgement, but just my $.02.

I'll get to work implementing in general and we can refine as needed.

[2015-12-09 01:19] noahmanger commented on #976
Small question: I just noticed those numbers were left-aligned on staging, but this was an accidental regression. Do you want them right aligned or left aligned?

[2015-12-09 04:35] noahmanger commented on #976
So testing it out, I'm actually liking the year range as the H2, but I would like to pair with you on this to suss out some of the finer details. Shouldn't be much work, but it'll be good to get your eye.

[2015-12-09 15:02] jenniferthibault commented on #976
Thanks @noahmanger — let's indeed wrap this up with a pairing session. Calendar invite coming your way!

[2015-12-09 17:57] jenniferthibault commented on #754
Trying to break things is a weirdly fun puzzle :grin:

I agree on the scan- & readability of the tag interface being something we want to work toward, so I explored this direction more.

@noahmanger I hear your earlier concern about possible confusion between the tag/filters:

I think this interface actually makes it easier to remove filters that have been applied. The interaction would be to clic

[2015-12-09 20:04] emileighoutlaw commented on #754
I think this looks great. I think we could get away with saying `+3 more filters` (omitting the word "applied") for concision.

[2015-12-09 22:10] noahmanger commented on #976
Implemented https://github.com/18F/fec-style/pull/202 and https://github.com/jmcarp/openFEC-web-app/pull/17 . Will close once they're merged.

[2015-12-09 22:29] noahmanger commented on #975
This has been implemented.

[2015-12-09 22:29] #975 closed

[2015-12-10 21:17] #976 closed

[2015-12-10 22:01] noahmanger opened #982 "Improve and extend typeahead filters"
**[Story](https://18f.storiesonboard.com/m/fec/!card/0IUxlAq1iQGHnDnTzAVHwQ):**So that users can easily filter to the candidates they’re looking for, improve and implement autocomplete filters.

# Discussion:
This is one of the dev tasks we had previously identified, and it goes along with our general priority of improving filters. I'm finding I've got extra time this sprint, so even though we had

[2015-12-10 23:04] LindsayYoung commented on #982
Lots of good thoughts here!

The API takes multiple committee or candidate IDs in many places and that would be an easy thing to add.

We did some work unifying search and If something doesn't show up in the typeahead, it is not going to show up in search, unless there is a result in a different category. (Correct me if I am wrong.)

I think you have a good point about consolidating filters, thoug

[2015-12-10 23:17] noahmanger commented on #982
Cool. Thanks for responding. But I want to try to clarify some things to make sure we're talking about the same thing:
- I'm not suggesting we unify candidate and committee typeahead results. We should continue to have different fields for searching candidates and committees. What I am suggesting is that we get unify the fields we have for searching **candidate name** and **candidate IDs (i.e. typ

[2015-12-10 23:30] LindsayYoung commented on #982
Thanks for clarifying! I was definitely misunderstanding some of what you were saying. I think we are mostly on the same page.

I think we should always have typeahead for candidate and committee names and you should be able to select multiple candidates or committees.

I don't think that there is a way to combine "non-committee contributor" and "committee contributor" on the receipts page without

[2015-12-11 15:58] emileighoutlaw commented on #727
Closing in favor of https://github.com/18F/fec-cms/issues/155

[2015-12-11 15:58] #727 closed

[2015-12-11 21:52] noahmanger opened #984 "Test download performance"
Per the discussion in the meeting today, we should put the date exporting (for candidates, committees, and filings) through the paces to make sure it holds up to real world use.

My concern is less that it will cause the site to grind to a halt, but more that it will simply take way too long for people to get their exports, causing them to think the system is broken.

So at the risk of being overl

[2015-12-11 21:58] noahmanger opened #985 "Deploy a release"
As discussed today, we want to shoot for a release of the following features on Wednesday, December 16:
- 2/4/6 cycle selects on candidate pages
- Data exporting for candidates, committees and filings
- Candidate committee registration content
- Independent expenditure tabs on committee pages

Apart from the separate issues in resolving these features, the plan is to:
- [ ] Merge all features into

[2015-12-11 22:36] jmcarp commented on #985
Thoughts:

* Neither the backend nor frontend for data downloads has been reviewed. Prefer not to merge either into develop until reviews are finished, which includes resolving any issues that might come up during review. I'll see who's available for reviews on Monday, unless anybody wants to start looking around today. I also don't know where the review of the new cycle selects is at.
* Presumabl

[2015-12-11 22:54] noahmanger commented on #985
Ah thanks. Good points all around.

- On reviews before merge: Oh absolutely. Sorry, I had the unwritten expectation that things only get merged in after review. I didn't realize the download things still hadn't been reviewed. Do we want outside reviewers for both? Shawn is working on the cycle review today.
- Agreed, #984 should happen first. I'm happy to take the lead, but it might be more usefu

[2015-12-11 22:56] noahmanger commented on #984
@LindsayYoung or @jmcarp do either of you want to take this?

[2015-12-12 00:20] noahmanger commented on #968
With no style adjustments, this is how it looks:

![image](https://cloud.githubusercontent.com/assets/1696495/11758683/06195b44-a023-11e5-8ee9-eeae54b2a059.png)

Looks a little weird to me. Jen what would you like?

[2015-12-12 19:39] jmcarp commented on #984
FWIW, the dev database runs on a less powerful machine than the prod database, so benchmarks on the dev database will underestimate performance on prod. Which isn't necessarily a bad thing. We could upgrade the staging database to use the same specs as prod, but that would raise costs.

[2015-12-14 17:01] jenniferthibault commented on #968
Ultimately, I think we should move back towards the mega menu, which will help us separate the "Browse" from the actual navigation better. Here's from an earlier mockup:

![menu - 1 copy 3](https://cloud.githubusercontent.com/assets/11636908/11787536/3802198c-a25a-11e5-8ea9-cf2714543563.png)

For now, I think these style tweaks to the borders (which more closely match mobile styles) should do it:

[2015-12-14 17:03] noahmanger commented on #968
+1 to both. Will do.

On Mon, Dec 14, 2015 at 9:01 AM, Jennifer Thibault <notifications@github.com

--
Noah Manger
18F <http://18f.gsa.gov> | Work: 415-696-6146

[2015-12-15 01:12] #968 closed

[2015-12-15 14:54] onezerojeremy commented on #968
I like the initial solution a lot!

I also wanted to note that I recall there being some movement away from mega-menus in broader UX circles, and think if we’re heading that way we should do so knowingly.

https://github.com/north/north
https://www.uie.com/articles/mega_menus/

[2015-12-15 20:03] PaulClark2 opened #991 "2-4-6 issue future two-year period"
https://fec-proxy.18f.gov/data/candidate/S2WI00219/?cycle=2016&election_full=false

Tammy Baldwin has no money if you choose full cycle (2013-2018) but has significant money if you choose 2015-2016 or 2013-2014. Also 2017-2018 option should probably either be grayed out or missing.

https://github.com/18F/FEC/issues/168

@jwchumley

[2015-12-15 23:28] jenniferthibault commented on #754
Here's an update to the design above that I *think* is ready for implementation or testing.

This design clearly designates 3 separate page areas:
1. the filter panel (the control area)
2. the tag and export panel (the review area)
3. the results

![screen shot 2015-12-15 at 6 20 26 pm](https://cloud.githubusercontent.com/assets/11636908/11827319/24f9380c-a359-11e5-83f1-207c9caf8c64.png)

- `Hide

[2015-12-16 04:52] noahmanger opened #992 "Update "View source filings" link"
Something I should have caught earlier: the "view source filings" link under the top level candidate financial totals does not show all the filings in a full cycle period. And if you're looking at a sub-period (say, 2013-2014 of the 2016 election cycle), it takes you to a filings view filtered to the 2013-2014 cycle, which, in the case of Hillary for America, is empty.

I don't _think_ this needs

[2015-12-16 15:19] jwchumley opened #993 "Display of future candidates is inconsistent in candidate browse (Not for 12/17/2015 release)"
There are a number of people who have filed for future presidential races. None of them are serious candidates but they should all be displayed (or not displayed) the same way. I'm not sure what the trigger is but some seem to be in the system but generate OOPS messages and others are not in the system. Here are some examples:

P20005310 - PURKAPLE, KEVIN THOMAS J - Pres  2032 -- is there but OOPS

[2015-12-16 21:03] PaulClark2 opened #994 "test"
@ChristianHilland

test github notification post

[2015-12-16 21:13] PaulClark2 commented on #994
@christianhilland

most random text

[2015-12-17 00:06] #992 closed

[2015-12-17 04:31] jmcarp commented on #991
Fixed in the release tonight. Thanks for catching!

[2015-12-17 04:31] #991 closed

[2015-12-17 04:32] jmcarp commented on #985
I think this can be closed--the release is out, minus the download feature.

[2015-12-17 04:52] leahbannon opened #995 "browse candidate to candidate page bug"
From browsing Candidates:

View a preview pane for more info on one candidate > scroll down towards the bottom of the page and click on a link to go directly to a different candidate page at the bottom of the page > you will jump back to the top of the page instead of going to the candidate page

[2015-12-17 06:40] leahbannon opened #996 "missing glossary items 'communication costs' and 'electioneering communication'"
These headers have glossary links but nothing shows up in the glossary when I click on them.
<img width="1368" alt="screen shot 2015-12-16 at 10 40 47 pm" src="https://cloud.githubusercontent.com/assets/4323988/11863124/16052426-a446-11e5-82d3-23086ef07fcf.png">

[2015-12-17 07:05] leahbannon opened #997 "make the legal resources section visually consistent"
The legal resources section on these 2 pages looks really different.

<img width="1241" alt="screen shot 2015-12-16 at 11 03 36 pm" src="https://cloud.githubusercontent.com/assets/4323988/11863534/719c3b82-a449-11e5-93c2-f564c1880a8e.png">
<img width="1221" alt="screen shot 2015-12-16 at 11 03 52 pm" src="https://cloud.githubusercontent.com/assets/4323988/11863536/740fd05e-a449-11e5-8387-e09d74695

[2015-12-17 12:10] #994 closed

[2015-12-17 14:35] PaulClark2 opened #998 "2-4-6 finanical summaries display authorized committees"
https://beta.fec.gov/data/candidate/P00003392/?cycle=2016&election_full=true

The financial summary for the full 4-year cycle includes amounts from 2 committees (C00431569 Hillary Clinton for President and C00575795 Hillary for America) but users cannot know this with the current display.

The full-cycle tab use list both committees
![clinton-full-cycle](https://cloud.githubusercontent.com/assets/

[2015-12-17 15:26] jmcarp commented on #996
IIRC, we were asked to remove that content from the glossary (which is why the text is blank), so it sounds like the solution here is to remove the links. @emileighoutlaw can you confirm?

[2015-12-17 17:26] #985 closed

[2015-12-17 17:31] noahmanger commented on #997
Oh yep, this is a small change that needs to be made in the admin area of the CMS. I tried to fix it, but the admin area is currently missing necessary static assets, so I can't do anything yet.

[2015-12-17 18:54] emileighoutlaw commented on #996
That's correct! I'll remove today.

[2015-12-17 20:37] jmcarp opened #1002 "Discuss behavior of "election years" filter on candidates view"
The cycle filter on the browse candidates view is currently labeled "election years", but actually filters on two-year cycle periods instead of election years. These fields are different--for example, Presidential candidate Hillary Clinton has election years `[2008, 2016]` and cycles `[2008, 2010, 2012, 2014, 2016]`. In other words, filtering using the "2011-2012" filter *will* retrieve Hillary Cl

[2015-12-17 22:58] noahmanger opened #1003 "Diagram out potential IA for browse pages"
Per the design session today, we want to explore having parent-child browse pages, which would allow us to create more specialized views and filters for more specific types of, say, filings or committees.

I'm going to work on mapping out what those pages and their respective filters and columns could be.

[2015-12-17 23:00] noahmanger opened #1004 "Wireframe interface for parent-child browse pages"
Related to https://github.com/18F/openFEC-web-app/issues/1003 , let's start wireframing options for how navigation between different levels of browse pages could work. This includes:
- Do browse categories have their own sub-landing pages?
- How do you go from a "All committees" browse page to more specific child pages?
- What happens with the data landing page? With the main home page?

[2015-12-18 15:48] jenniferthibault commented on #754
Transferring to @noahmanger for implementation

[2015-12-18 15:56] jenniferthibault commented on #980
@noahmanger this is part of the sub-views we discussed yesterday, correct? Not separate, new browse categories (at the same level as Candidates, Filings, Receipts, Disbursements, etc) right?

[2015-12-18 17:17] noahmanger commented on #980
Yeah, I think we can bracket this to think about in the bigger picture.

[2015-12-18 17:54] noahmanger commented on #997
Fixed this.

[2015-12-18 17:54] #997 closed

[2015-12-18 22:27] jenniferthibault commented on #1004
A *really* preliminary first look at how this could be broken out between child and parent views, based on sketching with @noahmanger @onezerojeremy and @jwchumley :

**DESKTOP**
**Parent:** Would allow users to navigate between different data categories (Candidate/Committee/Receipts/Disbursements/Filings), and select a child view of the data.
![committee-browse-landing](https://cloud.githubuserco

[2015-12-18 23:15] noahmanger commented on #977
Self-assigning this for now to figure out the logic and design of how we show what when.

[2015-12-18 23:20] noahmanger commented on #701
Duplicate of https://github.com/18F/openFEC-web-app/issues/978

[2015-12-18 23:20] #701 closed

[2015-12-21 22:11] #996 closed

[2015-12-21 22:13] noahmanger commented on #1002
Revisiting this, I think it makes way more sense to have the filter be "Election years" and filter by the years the candidate actually filed to run for office in. For committees, cycles continues to make sense, though we'll want to rename that to "Two-year periods" or something other than "Election years".

[2015-12-21 22:53] noahmanger opened #1009 "Develop a practice for incorporating feedback from the feedback tool"
Per the discussion in our sync up today, @onezerojeremy will help establish a practice for taking feedback from the tool, synthesizing it and presenting it to the full team in our Friday meetings so that we can choose what we want to act on.

Personally, I think this discussion makes the most sense to do on the mid-sprint Friday meetings.

[2015-12-22 12:56] jwchumley commented on #1002
OK. First a couple of questions.

1. Browse Hillary Clinton and check only the 2015-2016 box. Why does her Senate row show up? Her last Senate cycle ended in 2012.

2. Are you using the candidate election year when you look at 2015-2016 or the FEC election year?

I think I like the idea of changing from two-year periods to election years. It is different than what we are used to but it really make

[2015-12-22 21:39] noahmanger commented on #1002
1. This is a great example of why it's confusing. Her senate candidacy shows up because the principal committee has financial activity in 2015-2016: https://beta.fec.gov/data/committee/C00358895/?cycle=2016

2. (I don't know the answer to this question)

As far as interface, I'm ok showing up to six years out as options and for showing every year in order to include special elections. Maybe the th

[2015-12-22 22:17] noahmanger commented on #977
Just talked with @LindsayYoung and @jenniferthibault and here's what we discussed. Basically, we want a couple layers of logic:
1. Selectively show certain tabs based on the kind of committee they are.
2. Then, based on what data they've reported, either hide or disable tabs for which there is no data.

We're still discussing the relative merits of disabling vs hiding, but the underlying code will

[2015-12-23 01:56] noahmanger commented on #1003
Here's a first pass at a map of browse pages and sub-pages / sub-views:

![browse ia](https://cloud.githubusercontent.com/assets/1696495/11969810/b285e604-a8d4-11e5-8d76-14e5246a6404.png)

The idea is that each category (blue box) contains a view of all items in that category (brown) (which is what we have now), and then multiple sub-pages (white) for more narrow data sets. Each sub-page:

1. Appl

[2015-12-23 02:06] noahmanger commented on #1004
Yaaaay. A few thoughts:
- It feels a little like the "Browse data for:" bar breaks the pattern slightly of how we've been using the breadcrumb bar. We don't usualyl show other sibling pages. I'm not opposed to it, but we should square that circle. (Is that the phrase?)
- Really interested in the potential for data viz on the sub-pages. I'd also be interested in seeing how it might work as a toggle

[2015-12-23 12:39] jwchumley commented on #1004
I think on the browse committee data section we need some delineation between those options that apply to all committees like the overview and financial data and maybe an all filings option, and those that are specialty sets like three pac options.

[2015-12-23 15:34] #995 closed

[2015-12-23 17:27] #825 closed

[2015-12-23 21:18] noahmanger commented on #754
For record keeping, here's the latest desings: https://github.com/18F/openFEC-web-app/issues/754

[2015-12-28 20:02] jenniferthibault commented on #754
He might have meant here? https://github.com/18F/fec-style/issues/204#issuecomment-164960882

[2015-12-29 21:46] jenniferthibault opened #1013 "So that users understand what's happening, make the behind-the-scenes limits and interactions of the data download more apparent."
From internal pre-release testing:
Make the behind-the-scenes limits and interactions of the data download more apparent. For example:
- We cap at five downloads at the same time
- If you export a query that’s already in your downloads bar, it’s ignored

Steps to completion:
- [x] @jenniferthibault to mock up design and placement
- [ ] @emileighoutlaw to wordsmith

Thanks for raising this @patphon

[2015-12-29 21:49] patphongs opened #1014 "Export Feature: Mismatch between exported CSV and Manifest Records"
The results from the exported CSV and the # of records shown inside of the filter page and manifest.txt do not match.

For example, when exporting all committee records, the number of records shown on the manifest.txt and filter page is 54,214. However, the number of rows in the exported CSV is 54,736 excluding the header row. The assumption is that the # of rows inside of the CSV file should equa

[2015-12-29 23:11] jenniferthibault commented on #1013
These are two options for how we could introduce these alerts, but I'm curious to see if @noahmanger has other ideas. I've worked these into the latest complete mockups with the filter tags, even though those haven't been implemented yet.

**1: sliding "drawer" above the downloads bar**
pro: it feels nicer, and could have a nice sliding interaction
con: it feels like the message is far from the ac

[2015-12-30 01:20] PaulClark2 commented on #1014
See https://github.com/18F/openFEC/issues/1430 for more details

[2015-12-30 14:43] noahmanger commented on #1013
Aw, I really like the "hold up, pardner" ;)

I'd vote for the tooltip, as it's the most consistent between this and the way we implement the export cap. In both cases, we're disabling the export button, but for different reasons. I would just make it look the same way as that tooltip looks, so not having it have the notification style inside a tooltip, but instead just text inside a tooltip.

[2015-12-30 15:26] jenniferthibault commented on #1013
Heh. I like that—here's what it could look like
![waiting copy 4](https://cloud.githubusercontent.com/assets/11636908/12052729/ced49d30-aedf-11e5-8ff2-d6e2ca55b036.png)

[2015-12-31 18:32] jenniferthibault commented on #1004
I'm throwing a ton of ideas around, and collecting them [on InVision here](https://invis.io/EU5GFOCKY). Haven't detailed out thoughts behind it yet, and I think I have a few more things to work out so hold off on feedback for now. (Ignore reg/reporting stuff that's in the same InVision link)

[2015-12-31 19:15] #998 closed

[2016-01-04 15:43] emileighoutlaw commented on #1013
Second that "hold up pardner" is *awesome*, and I wish we could use it. The placeholder text touches on some good things, and I have greedily borrowed from it. :)

(simplest, most succinct option, I think.)

(passive voice, but in this case it might make our role sound less harsh. "you are limited" is different than "we limit you.")

**Note 1:** I purposefully left off anything about `wait for one

[2016-01-04 18:38] noahmanger commented on #1014
Closing this in favor of #1430

[2016-01-04 18:38] #1014 closed

[2016-01-04 18:45] noahmanger commented on #754
I'm going to close in favor of https://github.com/18F/fec-style/issues/204

[2016-01-04 18:45] #754 closed

[2016-01-04 19:10] #971 closed

[2016-01-04 20:21] LindsayYoung commented on #978
Dependency:

https://github.com/18F/openFEC/issues/1434

[2016-01-04 20:21] LindsayYoung commented on #981
Dependency:

18F/openFEC#1434

[2016-01-04 20:38] onezerojeremy commented on #1013
a question for @jmcarp, I think, but my guess is it will not

seems like reasonable reasoning to me

In testing last week, people were a little confused about the downloads contextual overlay: mainly they thought that the export processing bar was indicating that the file was downloading not exporting; that it was automatically downloading upon clicking export. I've seen this before in earlier tes

[2016-01-04 21:11] noahmanger commented on #977
Remaining tasks:
- [ ] Finalize logic around type-based tabs
- [ ] Design interaction around hiding or disabling
- [ ] Implement frontend

[2016-01-04 21:17] noahmanger commented on #859
Take-away from call: collapse all options into a single filter for "Has raised more $5,000"

[2016-01-04 22:28] LindsayYoung commented on #977
doc with tabs and types:
https://docs.google.com/spreadsheets/u/1/d/1aMkZf4LWQ6RUulOGwfQzQPZM0PxyJh0QUpUXw0dwGBk/edit?usp=drive_web

[2016-01-04 22:29] LindsayYoung commented on #977
Doc with tabs and types:
https://docs.google.com/spreadsheets/u/1/d/1tqdTPZq-o51F6_gZ4WbJ0OPbAuWzx2enT65fK33c3f4/edit?usp=drive_web

[2016-01-04 23:17] noahmanger commented on #1013
Yes, when they click the "x" they'll be able to add a new download in place.

[2016-01-04 23:33] noahmanger commented on #1013
@emileighoutlaw how does this work for the tooltip on Receipts and Disbursements, where the export button will be disabled with a tooltip for the time being:

[2016-01-05 00:09] jenniferthibault commented on #982
Super good thoughts here, and what a gnarly thing this is!

On the search interaction, my understanding of the ideal interaction (regardless of what field) closely tracks to how @noahmanger described:
- It should be possible for a user to search in any search field with basic text, have the type-ahead come up as a suggestion, but if they don’t want an entry from the typeahead, it will search as ba

[2016-01-05 15:07] jenniferthibault commented on #1013
@emileighoutlaw - on last thing. It was easy to glance over, but do you have a rewrite for the second tooltip that shows up if a user is trying to export a data set that's already exporting?

Right now it's

[2016-01-05 16:02] jenniferthibault commented on #1003
This is great Noah—thanks so much for putting it together. It all makes sense to me, and jives with how I've been thinking about this section as well. Heads up @onezerojeremy

[2016-01-06 17:46] emileighoutlaw commented on #1013
How about:

Yes to Noah's:

And finally (to make a decision):

[2016-01-06 17:50] noahmanger commented on #1013
For both the "You've already requested 5 exports" and "You've already requested this export", should the export button be disabled? I'm thinking yes, but then that means that every time you request an export it will be disabled until you change the filters (which is maybe correct, just checking).

[2016-01-06 17:51] emileighoutlaw commented on #1013
I think that makes sense to me!

[2016-01-06 17:56] jenniferthibault commented on #1013
Conceptually it seems just a teeny tiny bit odd, but maybe it won't feel that way when it's implemented. Worth moving forward with for now, but observing users on this would be helpful in the future to gut-check.

[2016-01-06 19:05] noahmanger commented on #1013
Ok, so I implemented a version of the "You're already exporting this data" that only disables the export button and shows the tooltip when you click on the export button for a query that's already pending. Does that work? We could ship that and then refine down the road.

[2016-01-06 19:31] emileighoutlaw commented on #1013
To me that sounds good. I'd love to know more about Jen's thoughts on this when we aren't under the rush of a release day. :)

[2016-01-06 19:41] jenniferthibault commented on #1013
That works !! Thanks for the hustle @noahmanger  & @emileighoutlaw

[2016-01-06 21:38] jenniferthibault opened #1016 "Bug: On wide screens, sections collapse on committee pages disbursement tabs"
Small styling glitch, I'm guessing we either need to make a new section, look at the existing open/close HTML to make sure things are closed at the right point, or adjust a breakpoint:

https://beta.fec.gov/data/committee/C00000935/?tab=disbursements
![screen shot 2016-01-06 at 4 30 52 pm](https://cloud.githubusercontent.com/assets/11636908/12155497/5f0b3b08-b493-11e5-8406-d3b189fe6667.png)

The "

[2016-01-06 21:43] noahmanger commented on #1016
Oh weird. Well, those two tables shouldn't even be showing up at the same time. When you toggle between them, it shows up correctly...looking into it.

[2016-01-06 21:50] noahmanger commented on #1016
Ah, found it. Dumb mistake. Thanks for catching!

[2016-01-07 15:05] jmcarp commented on #982
Not sure about this, if I'm reading correctly. So far, the filter panel and the filter tags have a one-to-one correspondence: there's exactly one tag for each checked checkbox or non-empty text field, and vice versa--meaning that users can get a complete picture of the current filter rules from either the panel or the tags. Dropping checkboxes for typeahead searches would break that correspondence

[2016-01-08 01:24] noahmanger commented on #982
No, you're reading correctly and that's a good point. I think I'm probably in favor of keeping the checkboxes for consistency's sake.

[2016-01-08 03:48] #1016 closed

[2016-01-08 15:12] jmcarp opened #1019 "Disable export on empty table"
The export table button should be disabled, and an appropriate tooltip displayed, when the table is empty. This will be quick to implement--just need language for the tooltip.

cc @emileighoutlaw @jenniferthibault

[2016-01-08 15:22] jmcarp opened #1020 "Prevent deploy when credentials missing"
If essential credentials are missing, the deploy process should bail out as soon as possible and instruct the user to update the credentials.

cc @noahmanger @LindsayYoung

[2016-01-08 16:16] emileighoutlaw commented on #1019
Trying to get a good solution *tout suite*. What do y'all think of:

[2016-01-08 16:39] LindsayYoung opened #1021 "missing support/oppose on the independent expenditures"
I am not seeing support/oppose on the independent expenditures https://beta.fec.gov/data/elections/president/2016/?tab=spending

[2016-01-08 16:40] jmcarp commented on #1021
@noahmanger noticed this yesterday. It's an interesting bug, since the column does show up for the 2012 election. We verified that this wasn't introduced by the latest release and went ahead with the deploy, but we do need to figure this one out.

[2016-01-08 16:54] jenniferthibault commented on #1019
This works for me, but I can only think of one scenario in which this message would happen:

- When a user has applied filters that return no data matching their search parameters.

Are there others that we should plan for @jmcarp @noahmanger ?

[2016-01-08 17:14] jmcarp commented on #1019
@jenniferthibault yep, that's the only scenario when we'd get no data at the moment. The only other scenario that comes to mind is if we ever in the future allow users to export tables from, e.g., election pages--which don't have (explicit) filters but often have tables with no data.

[2016-01-08 17:25] noahmanger commented on #1021
Yeah it's really weird. The tables display correctly on the candidate and committee pages, and the data is in the response for the 2016 election. :head desk:

[2016-01-08 17:35] emileighoutlaw commented on #1019
I did wonder if there was a need to be more explicit and add something like `Remove filters or change search parameters`. My thinking was that less explanation might actually be more clear (because the tooltip will be easier to read and absorb quickly).

Open to adding a second line if we think it'll be helpful though!

[2016-01-08 18:20] jenniferthibault commented on #1019
Personally, I like the helpful tip. I think the number of people who actually see this tooltip though will be very small. If there's zero results, and the button is deactivated, that's a pretty strong cue.

Your call, @emileighoutlaw !

[2016-01-08 18:35] noahmanger commented on #1013
We implemented this! Great idea. This really makes the whole interaction feel better.

[2016-01-08 18:35] #1013 closed

[2016-01-08 19:51] emileighoutlaw commented on #1019
Yeah, there does seem to be something a little curt about just saying "This table has no data to export." How about:

?

[2016-01-08 21:06] jenniferthibault commented on #1019
:+1: :+1:

[2016-01-08 23:40] noahmanger opened #1022 "Implement redesigned typeahead filters"
**[Story](https://18f.storiesonboard.com/m/fec/!card/0IUxlAq1iQGHnDnTzAVHwQ):** So that users can easily filter to the candidates they're looking for, improve and implement autocomplete filters.

After [designs](https://github.com/18F/openFEC-web-app/issues/982) are completed, update the typeahead filters.

Dependency: https://github.com/18F/openFEC-web-app/issues/982

[2016-01-08 23:41] noahmanger commented on #982
Takeaway from the meeting: let's sort this out over video. I'll add it to the agenda for our team check-in on Monday.

[2016-01-08 23:43] #984 closed

[2016-01-09 00:10] noahmanger opened #1023 "Design interaction based on partitioned transaction tables"
In order to a) provide downloads for large tables, and b) provide more years of data to the transaction tables, we're going to be partitioning these tables, which has consequences for how you can search and filter them.

Whether as part of the overall browse IA work or separate, we need to figure out how this interaction is going to work.

As currently planned, users will only be able to search th

[2016-01-11 17:44] noahmanger opened #1024 "Quick accessibility fixes for downloads"
Via Nick:

- [x] When you click the export this data button, move focus to the download button. When using the keyboard, you have to tab through the rest of the page to get to the download button, which is a pain.
- [x] Second, for the download button, associate the file name with the button, `aria- describedby="id_of_file_name"`

[2016-01-12 02:10] noahmanger opened #1026 "Improve feature release QA process"
As we discussed today, in order to try to catch problems with features earlier on, we need to ramp up our QA process well before we intend to release.

The task here is to come up with a simple checklist or plan for who should review features and when. Features should be reviewed both for data accuracy as well as quality of experience.

[2016-01-12 02:14] noahmanger opened #1027 "Improve remote usability testing rig"
In order to spend less time doing tech trouble shooting on usability tests and more time getting valuable data, @onezerojeremy will look at improving our overall system for this.

[2016-01-12 18:17] noahmanger opened #1029 "Make filter tags work for ranges"
Filter tags need to show up correctly for range inputs. Currently, we have two types: money and time.

Here's a proposal for how it would work for both:

![tags](https://cloud.githubusercontent.com/assets/1696495/12272459/7154037c-b915-11e5-87db-fcceab3514a2.png)

The thing that I'm least sure about is how to handle an undefined min value, especially for date ranges. Do we set it to the min date w

[2016-01-12 18:59] #1019 closed

[2016-01-12 19:45] emileighoutlaw commented on #1029
Interesting thought. I'm going to think about this for a sec — will make recommendations by COB tomorrow.

[2016-01-12 23:44] emileighoutlaw commented on #1029
### General thoughts:
When we're applying ranges, let's make sure we're using an `n` dash and no spaces. Like so: "$200–$300." Consequently, if you want me to review that content when you put it in, I can do that no problem!

### Undefined max:
**Money:** I like `$200 and up`. It's the same content construct used by most other websites I like (I'm looking at you, Amazon). I think we should go with

[2016-01-13 00:33] jmcarp commented on #1029
One issue that came up while talking to @noahmanger is how to handle the "X" button on filter tags with multiple values. Does closing the tag clear both fields? Do we allow users to clear one value or the other separately?

I'm wondering if we might consider a simpler approach, such that each filter field gets its own closable filter tag:

Min only: ">= $500"
Max only: "<= $1000"
Min and max (two

[2016-01-13 15:24] jenniferthibault commented on #982
Here's what I understand as the take-away from Monday's conversation:

Using the contributor search as an example, we're going to combine both the functionality of basic search and typeahead search into one search bar, AND allow users to search by name or committee ID in ONE search bar.  This would either
- a) accept a text string that can search against the "contributor name" column;
- b) accept

[2016-01-13 16:24] LindsayYoung commented on #982
Yes, that seems like what we agreed.

Do you think that we could also use the glossary or a tool tip to explain why using an ID and using a string behave differently?

When I think about it, for receipts, if I really needed to find all receipts from a committee, I would want to search for the string of their name and their ID, because the filings are inconsistent and they don't always get all the

[2016-01-13 20:48] jwchumley opened #1030 "Bad links on https://beta.fec.gov/registration-and-reporting/file-paper/"
https://beta.fec.gov/registration-and-reporting/file-paper/

THe links under legal resources should be: (the last one is the only one that is already correct)

https://www.gpo.gov/fdsys/pkg/CFR-2011-title11-vol1/pdf/CFR-2011-title11-vol1-sec100-19.pdf
https://www.gpo.gov/fdsys/pkg/CFR-2012-title11-vol1/pdf/CFR-2012-title11-vol1-sec101-1.pdf
https://www.gpo.gov/fdsys/pkg/CFR-2012-title11-vol1/pdf/C

[2016-01-13 20:52] jwchumley commented on #1030
Same thing. On this page all the legal resources links have the same problem.
 https://beta.fec.gov/registration-and-reporting/essentials-house-and-senate-candidates-and-committees/

https://www.gpo.gov/fdsys/granule/CFR-2014-title11-vol1/CFR-2014-title11-vol1-sec102-10
change to
https://www.gpo.gov/fdsys/pkg/CFR-2014-title11-vol1/pdf/CFR-2014-title11-vol1-sec102-10.pdf

[2016-01-13 21:00] emileighoutlaw commented on #1030
Thanks for noticing, Jeff. Looking into it now.

[2016-01-13 21:29] emileighoutlaw commented on #1030
Hey Jeff — Just had a chance to take a look at your hyperlinks, and they all look correct to me. They don't link directly to the PDF of the code, but rather to a table of contents page for each referenced section (aside from the last link, which GPO didn't have TOC front-matter for).

I chose this broader, table view for the legal resources because they give users the option to look at it as eithe

[2016-01-13 21:40] patphongs opened #1031 "Full Election Cycle Error"
@LindsayYoung and @jmcarp: My assumption is that any FULL election cycles greater than 2016 returns a 404 error. If, however, the user tries to view an existing 2 year period within those election cycles, the user will get a return for the candidate.

<h4>Scenario 1 (Senators in Class 1 Seats):</h4>
Search for Elizabeth Warren. Her election cycle defaults to 2018 full.

**Request URLs:**
Search de

[2016-01-14 12:00] jwchumley commented on #1030
This was reported by someone in RAD. Their comment was as follows:

"Citation links aren't consistent. some point to general page, some the
actual citation. for example see..."
https://beta.fec.gov/registration-and-reporting/file-paper/ "
In legal resources section, the link to 100.19, 101.1, and 102.1 do not go
directly to the citation code (102.2 does). "  "

It seems from the comment that they

[2016-01-14 12:30] PaulClark2 commented on #1031
@jmcarp @LindsayYoung  I thought https://github.com/18F/openFEC-web-app/issues/991 (Baldwin) fixed this issue

[2016-01-14 15:23] emileighoutlaw commented on #1030
I fixed the last link on the File by Paper page (https://beta.fec.gov/registration-and-reporting/file-paper/) so that it goes to the 11 CFR 102.2 title page, like all the other links (https://www.gpo.gov/fdsys/granule/CFR-2009-title11-vol1/CFR-2009-title11-vol1-sec102-2).

I clicked through the rest of the pages and links— the one link on File by Paper was the only one I could find that was an out

[2016-01-14 16:19] jmcarp commented on #1029
Ping @emileighoutlaw @jenniferthibault

[2016-01-14 16:38] emileighoutlaw commented on #1029
Thanks for the ping— I chatted with Michelle about this yesterday. EITI is doing their minimums and maximums separately but haven't done any user testing yet. So I'll keeping tabs on what they find out.

I'd be up for having separate tags and seeing how they test.

*If* we want to do this,

- I'd like to use language, as opposed to `>` or `<`, which readers often struggle with. How about:

- Can w

[2016-01-14 16:43] jenniferthibault commented on #1029
I'm working on mockups to keep up with y'all. Only addition to @emileighoutlaw 's thoughts would be to make sure that the filter tag text is inclusive of the limits the users apply (greater than or equal to $ // less than or equal to $) (before and up until date // date and after)

@emileighoutlaw could you take a quick swipe at your preferred language for that?

[2016-01-14 16:44] jenniferthibault commented on #1029
(I'm also cool with trying mins and max's separately!)

[2016-01-14 16:55] emileighoutlaw commented on #1029
Ohhhh, interesting question. How about:

`$1,000 or less`

and for dates:

`5/1/2016 and before`

I'm also thinking about how we visualize dates (xx/xx/xxxx)— do we have flexibility to try writing them differently?

For example `Jan. 1 2016 and later`. (that probably looks too long, right?)

Admittedly, most U.S. folks expect to see dates as `mm/dd/yyyy`, so I'm not sure if we anticipate confusion

[2016-01-14 17:07] LindsayYoung commented on #1031
Baldwin is working fine https://fec-proxy.18f.gov/data/candidate/S2WI00219/?cycle=2016&election_full=false

It looks like this is a different issue specific to people up for election in 2020

[2016-01-14 17:25] jenniferthibault commented on #1029
@emileighoutlaw chatted on slack, and she is researching and fine-tuning a few more language bits ad will have final text soon. In the meantime, here's what the two-tag system would look like.

<img width="856" alt="screen shot 2016-01-14 at 12 25 22 pm" src="https://cloud.githubusercontent.com/assets/11636908/12331941/e95e8306-bab9-11e5-920d-4513f8565111.png">

To tie up the strings on Noah's que

[2016-01-14 17:38] patphongs commented on #1031
@LindsayYoung: Actually I noticed that it is an issue specific to senate elections 2018 and 2020 full cycle along with presidential full cycles 2020 and greater.

[2016-01-14 18:28] emileighoutlaw commented on #1029
Per brainstorming and chatting with Jen, I think we're interested in testing:

And then for the the undefined min, `after 1/1/1976 (earliest available)`

I like the earliest available note. But does that make the tag look too long?

[2016-01-14 18:38] PaulClark2 commented on #1031
But Baldwin is a 2018 senate candidate see:

https://beta.fec.gov/data/candidate/S2WI00219/?cycle=2018&election_full=true

https://beta.fec.gov/data/candidate/S2WI00219/?cycle=2012

[2016-01-14 20:49] emileighoutlaw opened #1032 "Bug: Weekly calendar toggle"
When you toggle into the weekly view, the "quarter" and "month" buttons stop working.

![weeklyview](https://cloud.githubusercontent.com/assets/10552702/12337121/240d10e6-bad6-11e5-8e1b-ed6abbe49a41.gif)

[2016-01-14 20:55] emileighoutlaw opened #1033 "Bug: Overflow events don't expand on calendar"
When a calendar dates has `+ more events`, you can click to expand and see the events. But you can't subscribe to or get additional information about them, when they pop up.

![moreevents](https://cloud.githubusercontent.com/assets/10552702/12337267/00dd6f16-bad7-11e5-8955-7bfb20fca9f9.gif)

[2016-01-14 21:00] emileighoutlaw opened #1034 "Bug: deselecting calendar filters"
Before usability sessions today, we noticed a couple adding and removing filters.

1. You can close out of the short filters by clicking anywhere on the box (not just the X). Is that the intended functionality? (It's a cursor hover over the text, not a pointer)
2. Some filters won't close once opened. And if you check and uncheck them in the side nav, they appear multiple times. (I originally thou

[2016-01-14 23:47] jmcarp commented on #1032
Duplicate of https://github.com/18F/fec-style/issues/224.

[2016-01-14 23:47] #1032 closed

[2016-01-15 03:46] jenniferthibault commented on #1003
We've been working off of Noah's mockups here & have been doing lots of brainstorming with him and @onezerojeremy. (You've seen some debate in the slack channel :) )

Here's the latest thinking for the IA of the data side of the site *I recommend opening in a new tab so you can see text better*:
![data side ia](https://cloud.githubusercontent.com/assets/11636908/12344582/d03e434a-bb0c-11e5-97fe-8e

[2016-01-15 14:34] jenniferthibault commented on #980
See latest mockups & concepts in https://github.com/18F/openFEC-web-app/issues/1003

[2016-01-15 14:35] jenniferthibault commented on #1003
I should have mentioned, this does _not_ take into account the partitioning in https://github.com/18F/openFEC-web-app/issues/1023, which I'd like to chat about to maek sure I understand what some options could be.

[2016-01-15 14:36] jenniferthibault commented on #1023
@jmcarp do you have time to talk with me about this today?

[2016-01-15 15:11] emileighoutlaw commented on #1003
This is amazing work, Jen, Noah, and Jeremy! Looking at the spreadsheet now.

I'll let @LindsayYoung weigh in, but my understanding of IE reports is that they *are* Form 5. Am I wrong? I'll keep posting comments here and in the spreadsheet, as I make my way through.

Thanks so much for the common-sense explainer and introduction to all this, Jen <3

[2016-01-15 17:05] jenniferthibault commented on #982
I very very much see that concern as someone who knows what's going on behind the scenes, and love that you are looking out to make sure users understand what is happening!

This is a good thing to clarify. Since you could use this unified search field multiple times, could a user enter a candidate ID number, hit enter (so it would be a filter tag and check box) then enter the candidate name, hit

[2016-01-15 17:12] LindsayYoung commented on #982
We might want to add the name at the end of the ID so people know what they are looking for:
ID C8675309 (Americans for Joyfulness)

Especially if you are looking at a few committees, this would be helpful.

To me, string searches in quotes would be intuitive, or as intuitive as any of this gets:
"Democracy for America"

[2016-01-15 17:17] jenniferthibault commented on #982
THE QUOTES MAKE SO MUCH SENSE!

If it's a text string (meaning a user did not select it from a typeahead option) it should be in quotes. Yes. Yes yes yes.

Looking at the [ID ########] [(Name)] , @emileighoutlaw has been looking at instances of tag length in other places, so I want to ping her on here just for a heads up and for help figuring out if that's too long. The logic does make sense to me

[2016-01-15 19:14] LindsayYoung commented on #1031
It looks like it fixed it for the 2-year cycle but not the full cycle, taking a look now.

[2016-01-15 19:31] LindsayYoung commented on #1031
We are currently determining the election cycle form the `cand_cmte_linkage` table, but this doesn't work well for candidates that have not registered yet-  and their info is not in `cand_cmte_linkage` that includes a lot of Senate candidates. We could re-do the logic, but I wonder if it doesn’t make more sense to just show the current 2-year cycle for races 6 years in the future, it is not like w

[2016-01-15 20:40] emileighoutlaw commented on #982
I _think_ it'll work? I'd love to see it in action, but

Is probably okay. How long do committee names get?

[2016-01-15 20:56] jenniferthibault commented on #982
Sorry for leaving it unclear. The scenario here is for when a user enters a Committee ID from the typeahead filter, AND enters a basic text search query in addition. The question then, is what happens when the name of the Committee associated with the ID (or any resulting committee name provided by typeahead) is very long? You can see some names [here](https://beta.fec.gov/data/committees/), they

[2016-01-15 20:58] LindsayYoung commented on #982
That looks good to me.  Even if the tag is a bit big, it is so much more helpful to have a name.

[2016-01-15 21:29] LindsayYoung commented on #1003
For the filings, we have all the reports, notices, RAFI's etc. Tell me if you think something is missing.

Independent expenditures are a type of spending and can be disclosed in different places. The forms that a committee fills out are dependent on what kind of entity they are. If you are a PAC doing independent expenditures, you are going to report that on a F3x, if you are a independent expend

[2016-01-15 21:37] emileighoutlaw commented on #982
Oh I see! And I love your construction in the mock-up. I agree with you, Lindsay that the big tag is worth it.

For the cutoff, it seems like 20 characters of text feels like a good line. In browsing group names, I noticed a couple content themes:

1. Groups that start with a candidate name or other salient info:

These names will be clear and unique, wherever our character cutoff is.

2. Groups t

[2016-01-15 22:13] emileighoutlaw commented on #1003
Thanks, Lindsay! I take that to mean that we do have data for Form 6, Form 8, and Form 12? Should they be included under the "All filings" list in Jen's mockup?

A couple more IE questions:

1. Since independent expenditures are reported on several forms, would the data box called `IE reports` thus include information from Form 3X, Form 5, and so on (i.e., essentially grouping information drawn fr

[2016-01-15 22:19] jenniferthibault commented on #982
:+1: :+1:  Thank you for the testing! I think this is ready for implementation then.

[2016-01-15 22:30] LindsayYoung commented on #1003
Looking at filings is not the best way to find IEs. We are not showing IE totals on the filings browse view at all. On the election and committee pages, there are summaries of the IE spending. For the IE browse view, it is going to be data on the transaction level.

I think 1. would be confusing because while F3X can have IEs most of them don't. If people are interested in IEs they should look at

[2016-01-19 19:45] jmcarp commented on #1034
1. Not sure--that's a question for @noahmanger.
2. This should be fixed now--check out https://fec-proxy.18f.gov/calendar/.

[2016-01-20 01:17] emileighoutlaw commented on #1034
:+1:

[2016-01-20 01:17] emileighoutlaw commented on #1033
@jmcarp: this is one I'd love to address for usability testing, if we can.

[2016-01-20 03:10] jenniferthibault opened #1037 "Bug: Event details around edges cut off on calendar"
On month view: On days at the bottom edge of the calendar, event details are cut off when opened.

<img width="958" alt="screen shot 2016-01-19 at 10 02 25 pm" src="https://cloud.githubusercontent.com/assets/11636908/12438832/a1ac40fa-bef8-11e5-99b6-9954035a51e7.png">
<img width="974" alt="screen shot 2016-01-19 at 10 02 42 pm" src="https://cloud.githubusercontent.com/assets/11636908/12438833/a1af

[2016-01-20 03:15] jenniferthibault opened #1038 "Bug: Weekly view calendar controls not working"
When I change the calendar view from monthly to weekly, it seems that all functionality and controls in the calendar stop working, (or responding to clicks).

![fec-calendar](https://cloud.githubusercontent.com/assets/11636908/12438987/e3bcb096-bef9-11e5-88b6-21b9cb35583d.gif)

I'm on Chrome Version 47.0.2526.111

[2016-01-20 03:29] jenniferthibault opened #1039 "For consistency, event details "add to calendar" button should be styled as neutral instead of orange"
I'd like to correct the button color styling and add a smidge of white space above it. I was able to see the markup for this through the browser inspector, but unable to find the source code to make the adjustment.

**Existing styling:**
`class="button button--secondary dropdown__button button--calendar"`
<img width="376" alt="screen shot 2016-01-19 at 10 18 15 pm" src="https://cloud.githubusercon

[2016-01-20 03:54] jenniferthibault opened #1040 "To make functionality more universal between grid and list views, add "add to calendar" ability from list view"
Currently a user can't add a calendar event to their own calendar from the quarterly list view, and must return to the monthly grid view in order to do so. Users should be able to access the same functionality from grid and list views. h/t Josh for the common sense detail here :mag:

- [x] @jenniferthibault to design
- [x] @jmcarp to implement

[2016-01-20 14:24] emileighoutlaw commented on #828
New terms have been added and merged in. :+1:

[2016-01-20 14:24] #828 closed

[2016-01-20 14:27] emileighoutlaw opened #1041 "Bug: Many calendar times are set to midnight"
This isn't critical to usability testing, but when I was looking at the calendar this morning, I noticed many of the event times are defaulting to midnight (12 a.m.)

![timing](https://cloud.githubusercontent.com/assets/10552702/12451541/0a063c6e-bf58-11e5-8afa-7ab85eba648b.gif)

[2016-01-20 15:05] jmcarp commented on #1041
Thanks for flagging this--we were showing full start times for all-day events, which are always midnight. This is fixed in https://github.com/jmcarp/fec-cms/commit/f05ea4c09ebe7aa013a85aa458e9cb5087b11e75 so that we omit the hour and minute of start times for all-day events.

[2016-01-20 15:05] #1041 closed

[2016-01-20 15:22] PaulClark2 commented on #1031
I think in many cases we do have candidates registered from future elections.  I think we don't really need to show anything beyond 2018 (but I could be convinced).

Warren
`select * from CAND_CMTE_LINKAGE where cand_id = 'S2MA00170' and cand_election_yr = 2018 and cmte_tp = 'S' and cmte_dsgn in ('P', 'A');`

https://beta.fec.gov/data/candidate/S2MA00170/?cycle=2016&election_full=false

It seems l

[2016-01-20 16:16] jenniferthibault commented on #1029
Sorry for trailing off here, I had mentally checked it as resolved. To wrap up and transfer to implementation status, here's what @emileighoutlaw 's above summary would look like.

![screen shot 2016-01-20 at 11 10 53 am](https://cloud.githubusercontent.com/assets/11636908/12454736/d1566894-bf66-11e5-99f2-96c4d3e89d66.png)

I like the clarity that the longer "(earliest available)" tag brings, and

[2016-01-20 16:42] jmcarp commented on #1029
@jenniferthibault there's a version of this on dev now, e.g. https://fec-proxy.18f.gov/data/receipts/. I didn't implement the "earliest available" piece, since I have a few questions / concerns about it:

* I'm not sure when the "earliest available" tag should be displayed--always, unless the user specifies an explicit minimum? Only when the user specifies a maximum?
* What happens when the user c

[2016-01-20 17:09] jenniferthibault commented on #1029
Nice! Thanks for explaining your thoughts here.

The intent of "earliest available" tag would be to make a parameter being applied to the data anyways based on when we have records available for more explicit. In the case of receipts, 2011.  (though now I'm a little confused, because when I just went to poke around, it's showing receipts from the 2000's).

Since the results wouldn't actually chang

[2016-01-20 17:24] emileighoutlaw commented on #1029
Ah this is a really good point. I think based on Josh's comments (particularly, `what if you close it?`), it doesn't make sense to add the earliest available tag.

I think this is definitely something Nick and I will test this week.

[2016-01-20 23:13] jenniferthibault commented on #1039
Addressed by https://github.com/18F/fec-style/commit/983e5a1adf0e0eac9274857844cd607f7ace5a56 and https://github.com/jmcarp/fec-cms/pull/2

[2016-01-20 23:13] #1039 closed

[2016-01-21 18:53] noahmanger commented on #982
Awesome. This all looks terrific. I love the quote marks to distinguish string searches. Thanks for hashing this out!

[2016-01-21 18:54] noahmanger commented on #1033
This looks to be resolved by changing the way that overflow events are rendered.

[2016-01-21 18:54] #1033 closed

[2016-01-21 19:03] noahmanger commented on #1034
Ah, I noticed this in the `styling-calendar-patch` but neglected to comment on it. Josh's refactor to simplify the code switched from listening for clicks on just the remove button to [listening for clicks on the entire tag](https://github.com/18F/fec-style/commit/431e6beb6d0efb7a5487e4d7ee0c8d75e25af201#diff-88b30edb2887f4b686dd1d93063060b9R39). I'd prefer to go back to clicking on the X only.

[2016-01-21 19:22] noahmanger commented on #702
Resolved by https://github.com/18F/openFEC-web-app/pull/987

[2016-01-21 19:22] #702 closed

[2016-01-21 19:24] noahmanger commented on #1029
Agree that I think it makes sense to not show "earliest" if that date field is null.

[2016-01-21 20:11] jenniferthibault commented on #1003
Based on a week of great workshopping with the team, here is the latest information architecture for the data side,

![data side ia copy 2](https://cloud.githubusercontent.com/assets/11636908/12492928/b91b53d0-c050-11e5-96ba-9dcaf55ba5ff.png)

For a better feel of how this navigation could play out , poke around [this (still WIP) InVision interactive prototype.](https://invis.io/XD5P2IG89) If you

[2016-01-21 22:03] jenniferthibault opened #1042 "On calendar: order time intervals from smallest to largest"
The current time interval order is largest --> smallest:

![screen shot 2016-01-21 at 5 00 09 pm](https://cloud.githubusercontent.com/assets/11636908/12495942/a89bc2dc-c060-11e5-842a-dd49f7b38e9e.png)

Let's reverse that to smallest --> largest in order to fit a more chronologically expanding sense of time.
**Week | Month | Quarter**

[2016-01-21 22:26] jmcarp commented on #1042
Done in https://github.com/jmcarp/fec-cms/commit/b7784e50b117a831b2b0dc727c098483e73d0eea.

[2016-01-21 22:26] #1042 closed

[2016-01-21 22:54] jenniferthibault commented on #1040
I believe I've found a logical place for this, and like the idea of the abbreviated icon. The one thing I can't decide is if it's weird to have the dropdown come out of the opposite corner from the arrow.

For example, on the left is what I would instinctively shorten the button to without text. Icon on the left, arrow on the right. But because of it's placement on the page, the dropdown would be

[2016-01-22 00:38] jmcarp commented on #1034
@noahmanger ack, meant to preserve the original behavior in that refactor. Pushed a fix to my open PR against `styling-calendar` at https://github.com/jmcarp/fec-style/commit/bd42ec9d404b87f20681415d1b58d142c07999c4.

[2016-01-22 00:42] noahmanger commented on #1004
Closing this in favor of https://github.com/18F/openFEC-web-app/issues/1003 which has the more recent discussion and links to mocks.

[2016-01-22 00:42] #1004 closed

[2016-01-22 00:43] noahmanger commented on #1021
This is working now. Any idea what changed? Was it just a data hiccup?

[2016-01-22 00:53] noahmanger commented on #1009
I know this is done, but I forget where it's documented. @onezerojeremy ?

[2016-01-22 00:57] jmcarp commented on #1021
Not sure about this--we haven't pushed code to production since this issue was filed, and as far as I could tell, we were getting the expected data all along. Other than the nightly data updates, I'm not sure what else could have changed here.

[2016-01-22 02:10] emileighoutlaw commented on #1040
I think that's a great hunch! We haven't seen anyone ask for that specific functionality yet, but we also haven't asked folks to navigate through a list view with a lot of different event types, either.

And I like "Sort by: Event type | Date" as the language :)

[2016-01-22 03:03] noahmanger commented on #977
So this all seems pretty straightforward:
![screen shot 2016-01-21 at 7 00 42 pm](https://cloud.githubusercontent.com/assets/1696495/12501393/5385aa22-c071-11e5-9777-246631053587.png)

I'm just not sure what to do about the "kind of" cells for type Z committees. Do those just need special views for those tabs? Seeing as these are old, I'm inclined to just come up with a modified financial summary

[2016-01-22 03:24] noahmanger commented on #1003
This is looking really awesome and interesting. The main question or concern I have is how exactly the "All totaled receipts" / "all totaled disbursements" pages work. Is each row in those tables a report? Or is it a committee entry? I think we do want a way for people to view the financial reports with summary data filed by committees. I see the value in breaking out of the "filing" model, but I

[2016-01-22 04:43] jenniferthibault commented on #1003
We have some ongoing comments in the filter spreadsheet about this—mostly similar open questions. I'd love to sort this one out more concretely before we go into tomorrow's meeting and demo it. - or, change it somehow. @LindsayYoung I'm going to timebox it to 30 minutes, and calendar us for tomorrow morning.

[2016-01-22 14:14] emileighoutlaw commented on #1003
I'm going to jump into that meeting, if y'all don't mind. I promise not to sidetrack, but I definitely want to be a fly on the wall.

[2016-01-22 14:36] jenniferthibault commented on #1003
You're always welcome to join, @emileighoutlaw !

[2016-01-22 15:44] emileighoutlaw commented on #1003
I think the InVision prototype looks fantastic! I have language thoughts, but I think it's a little too early for that so I'll stick to bigger/more structural notes right now. :+1:?

## Learn how money is raised and spent ...
- I think the third option is more `Search and download advanced data tables` (rather than view)

## Explore more activity ...
This is the featurette section for novice users

[2016-01-22 15:54] emileighoutlaw commented on #1003
p.s. I've been thinking about the language on the `Advanced data tables` page. Been jamming on that here, if anyone wants to take a look:

https://docs.google.com/a/gsa.gov/document/d/1SIoewqAtvjG4qDRLVhqBin8b3EgwDuDlgkf8eF-9cxQ/edit?usp=sharing

[2016-01-22 17:40] jenniferthibault commented on #1003
Some changes based on chatting with Lindsay this morning, and marking a spot for an area she brought up earlier that we should have tables on, Elections.

The Totaled Receipts/Disbursements didn't make much sense (I was interpreting incorrectly) so they've been removed. Added in in place of them is Financial Report Summary data for committees, which will be very similar to the FEC's existing [2016

[2016-01-22 18:45] jmcarp commented on #1040
There's a rough implementation of list view exporting on dev now. As usual, it works but doesn't look quite right--should be close enough for @noahmanger to clean up.

I would guess that extra sort options on the list view would be a separate issue. It shouldn't take much time to implement. But for the sake of argument (which I enjoy), I wonder how much value this adds--when is it useful to collap

[2016-01-22 18:46] emileighoutlaw commented on #1003
I love

(including PACs and Super PACs)

Great thought! I originally wasn't sure how much even *within* the featurette we want to talk about Joint Fundraising Committees and Party Committees. But there is an appetite for that (and we think there's valuable info in there)?

I think I'm not opposed to including transactions, but I think it might need to be more specific language or more specific con

[2016-01-22 22:54] noahmanger opened #1044 "Update methodology disclaimer on disbursement aggregates"
I'm pretty sure this language in the disclaimer is innaccurate, and actually these aggregates are based on combining certain category codes, correct?

<img width="983" alt="screen shot 2016-01-22 at 2 53 30 pm" src="https://cloud.githubusercontent.com/assets/1696495/12525274/0f66dc24-c118-11e5-8199-a4c47106293d.png">

[2016-01-22 23:33] jmcarp commented on #1044
We use some codes and lots of text matching:

https://github.com/18F/openFEC/blob/develop/data/sql_incremental_aggregates/prepare_schedule_b_aggregate_purpose.sql#L1-L21

I don't know where the codes come from--we're using the `disb_tp` column.

[2016-01-22 23:38] noahmanger opened #1045 "Novice user discovery spike"
In order to help us better understand the needs of novice users when designing exploratory data pages, we need to undertake a small discovery spike.

@brethauer @jenniferthibault and @emileighoutlaw Let's talk on Monday to flesh out the details.

(cc @onezerojeremy just to stay informed, but I don't think you need to worry about this).

[2016-01-22 23:42] noahmanger opened #1046 "Review columns and filters for specialized datatable views"
We need a meeting this sprint with FEC folks to review the spreadsheet of columns and filters for the new specialized datatable views.

- [x] Schedule meeting
- [x] Finalize columns and filters

[2016-01-23 00:01] noahmanger commented on #1023
@jenniferthibault lemme know if you want to pair on this.

[2016-01-23 00:09] noahmanger commented on #1029
This works well now. Will keep the main tag issue open until we merge into develop.

[2016-01-23 00:09] #1029 closed

[2016-01-25 14:42] jenniferthibault commented on #1040
Thanks @jmcarp - good call on the new issue. I wasn't saying we should implement based on my hunch, but just that it was an option to consider if we see behavior around it. Moving that to a new issue for discussion next up.

Transferring this to @noahmanger for styling.
Verdict on the arrow side: since it's a left-screen-side button, let's have the dropdown arrow and the menu be anchored to the le

[2016-01-25 14:49] jenniferthibault opened #1047 "To allow users to sort the event calendar list view by their preference add a "sort by" option"
This option is subject to findings from usability testing.
An enhancement we could offer to the list view is to enable sorting the list purely by chronological order instead of by event type as it is now.

<img width="762" alt="screen shot 2016-01-25 at 9 45 36 am" src="https://cloud.githubusercontent.com/assets/11636908/12554005/80b7a3d6-c348-11e5-8f4c-42975555a019.png">

Discussion of merits and

[2016-01-25 14:51] jenniferthibault commented on #1045
:tada: :tada:

[2016-01-25 14:56] emileighoutlaw commented on #1045
# So excited

[2016-01-25 16:19] emileighoutlaw opened #1049 "Bug: Permalinks don't work with dates"
Noticed in usability testing: if you add dates as a data filter, it doesn't permalink:

![permalinks](https://cloud.githubusercontent.com/assets/10552702/12556733/65e36a24-c355-11e5-911a-099448875e82.gif)

[2016-01-25 16:32] emileighoutlaw opened #1050 "Bug: Can't remove dates from sidebar"
Noticed in usability:
1. You can click the radio button to add dates in the sidebar, but you can't un-click it to remove dates.
2. If you remove the date filters from the top bar, the radio button stays "clicked" in the sidebar.

![dates](https://cloud.githubusercontent.com/assets/10552702/12557104/45266bea-c357-11e5-8cfa-1e0deca3a629.gif)

[2016-01-25 16:39] emileighoutlaw opened #1051 "Usability: States drop-down"
If you select a state from the drop-down menu, the drop-down stays active, even if you scroll away. We noticed in usability sessions that users had trouble finding the filters behind the active state drop-down.

![states](https://cloud.githubusercontent.com/assets/10552702/12557324/36fa8136-c358-11e5-9964-cacbfb34041a.gif)

[2016-01-25 16:58] emileighoutlaw opened #1052 "Bug: Open in new tab doesn't work on authorized committee pages"
This bug is visible from committee pages.

If you try to open one of the other tabs in a new window (with `control + click`), it doesn't work. It opens the same tab in the new window.

![tabs](https://cloud.githubusercontent.com/assets/10552702/12557876/db72a566-c35a-11e5-913b-f5e9464bd02f.gif)

[2016-01-25 17:22] noahmanger commented on #1051
This isn't a bug so much as not sure what the expected behavior should be. Currently the dropdown stays open so that you can select multiple items without having to open it again, and the datatable reload happens on each selection. The dropdown remains open until you click anywhere else on the page.

Is there a more intuitive way to handle this?

[2016-01-25 17:28] noahmanger commented on #1040
Small point on the arrow: on the other dropdowns, we anchor the dropdown panel to the left side of the button, but the arrow is still on the right. Do you want to change this there too?

[2016-01-25 17:38] jenniferthibault commented on #1040
Can we? That would be awesome.

[2016-01-25 18:32] noahmanger commented on #1020
We did this, right?

[2016-01-25 18:55] emileighoutlaw commented on #1051
Ahhh, good question— @brethauer, do you have thoughts on this?

[2016-01-25 18:57] noahmanger commented on #982
Implementation: https://github.com/18F/openFEC-web-app/issues/1022

[2016-01-25 18:57] #982 closed

[2016-01-25 19:04] brethauer commented on #1051
Other possibilities could include collapsing it when mouse leaves the area, but this could make it trickier to select multiple states.

Let's keep it as is and continue testing it to get more data.

[2016-01-25 21:40] jenniferthibault commented on #980
Closing this in favor of keeping discussion to one big IA issue in #1003

[2016-01-25 21:40] #980 closed

[2016-01-26 03:58] jmcarp commented on #1020
Needs review: https://github.com/18F/openFEC/pull/1446

[2016-01-26 14:54] emileighoutlaw commented on #1044
If it's both codes and free text input, I think the simplest clarification would be to say "these totals are summed based, in part...."

Suggested tweak:

[2016-01-26 14:59] LindsayYoung commented on #1002
I think the most straight forward is having the 2 years at a time and filtering for candidates that ran for election in that year.

I think the current filtering is causing confusion, as seen in 18F/FEC/issues/201

Since we switched tables, we are going on fec_year. @paulclark2 I am a bit confused about some candidates that have fec_years after they ran for office. (I think fec_year might be good

[2016-01-26 15:38] LindsayYoung commented on #1044
Slightly off topic, @noahmanger the $0 is showing as a full bar, is that captured somewhere?

[2016-01-26 16:35] noahmanger commented on #1044
Oh wow I totally missed that. Well I wonder why $0 rows are even showing up?

[2016-01-26 17:08] jenniferthibault commented on #1023
A first inclination at a straightforward approach:

Partitioning by year or two-year period will allow users to compare all transactions in election cycles within one table – if they want to compare across election cycles or years, they'd have to change the view. This seems like a way that would constrain results in a way that still fits within a mental model of elections as cycles and time-based

[2016-01-26 17:14] noahmanger commented on #1023
Cool cool. Yeah, I think two-year period will be better, especially as the aggregates on committee pages are all based on the two-year period.

What do you think of having the message as an info tooltip like we have on the "unique only" filter?

[2016-01-26 17:25] PaulClark2 commented on #1002
Candidate's will have FEC_ELECTION_YR rows greater than their CAND_ELECTION_YR when their authorized campaign committees are still active and are still required to file.

One way to get 2016 candidates it to query on both fec_election_yr and cand_election_yr

[2016-01-26 18:17] LindsayYoung commented on #1002
Any objections to @paul’s suggestion that we should check fec_year and election_year then filter by people that ran during that 2-year period. You can add as many of those as you want now, so I don’t hink we should worry about 2-4-6 in that view.

[2016-01-26 19:27] emileighoutlaw commented on #1023
Curious to hear what @jenniferthibault thinks about the tooltip. I think it makes sense either way.

*Con tooltip*: It's more noticeable if it's always visible (not a tooltip)
*Pro tooltip*: The filters will be easier to take in with less text clutter (if it is a tooltip)

I like the text you have suggested there.

[2016-01-26 20:00] LindsayYoung commented on #1023
Are we partitioning by filing date or receipt/disbursement date @jmcarp ? I have a strong preference for the receipt and disbursement dates because that will be the year the record is describing, we will get funky results because of amendments if we go by the filing date.

[2016-01-26 20:11] noahmanger commented on #1023
Good question. When we show aggregates on committee pages is that by
receipt date or by filing date?

On Tue, Jan 26, 2016 at 12:00 PM, Lindsay Young <notifications@github.com>
wrote:

--
Noah Manger
18F <http://18f.gsa.gov> | Work: 415-696-6146

[2016-01-26 20:23] LindsayYoung commented on #1023
That goes by the `rpt_yr` which is the year the report applies to not necessarily the year it was filed.

[2016-01-26 20:34] noahmanger commented on #1023
Great. Good that that lines up.

The other part of this, then, that we need to address is how the date filters work below. We need to restrict them to just dates within the selected year.

[2016-01-26 20:51] jenniferthibault commented on #1023
Yeah, I was anticipating needing to line up the date filters. We need to get this into the mega filter spreadsheet.

I'd rather have a tooltip, just wasn't sure if we wanted this info to be omnipresent.

[2016-01-26 20:55] emileighoutlaw commented on #1023
I can give my :+1: to tooltip!

[2016-01-26 20:57] jenniferthibault commented on #1023
Tooltip closed:
![screen shot 2016-01-26 at 3 56 24 pm](https://cloud.githubusercontent.com/assets/11636908/12594712/6ab973cc-c445-11e5-920e-76e613744707.png)

Tooltip open:
![screen shot 2016-01-26 at 3 56 13 pm](https://cloud.githubusercontent.com/assets/11636908/12594711/6ab43f10-c445-11e5-8f58-25cad54c748c.png)

[2016-01-26 21:34] noahmanger commented on #1002
This sounds good. +1 to using two-year periods for the filters, rather than single years.

To make sure I'm understanding, querying on both fec_election_yr and cand_election_yr would only return candidates if they have filed to run in those two years *and* their authorized committee has reported activity for that two year period?

[2016-01-26 21:43] noahmanger commented on #1038
Duplicate of https://github.com/18F/fec-style/issues/224

[2016-01-26 21:43] #1038 closed

[2016-01-26 21:44] noahmanger commented on #1037
Resolved in upcoming PR.

[2016-01-26 21:44] #1037 closed

[2016-01-26 22:28] brethauer commented on #1045
Hey team here is my brief writeup/overview on the plan: Please comment if you feel so inclined!
https://docs.google.com/document/d/1n5CN0eR8z8Cy5xTvDQL0Qgpo-XjqFYmpEq9qiIS8G6A/edit

[2016-01-26 23:45] #1034 closed

[2016-01-26 23:47] noahmanger commented on #685
I'm not seeing this issue, so moving to icebox.

[2016-01-26 23:48] noahmanger commented on #906
That record no longer exists and I'm not seeing this bug anywhere else. Closing.

[2016-01-26 23:48] #906 closed

[2016-01-27 00:04] noahmanger commented on #1022
Small thing to include in here. The `.tt-hint` input needs to have `tabindex=-1` set so that it doesn't capture focus when tabbing through filters. https://github.com/18F/openFEC-web-app/issues/958

[2016-01-27 00:05] noahmanger commented on #1022
Should we also include the multiple values issue with this as well? https://github.com/18F/fec-style/issues/219

[2016-01-27 00:08] noahmanger commented on #930
I'm not seeing the jumping issue in safari any more. @jenniferthibault can you see if it's still happening for you? Might have just been a browser bug.

[2016-01-27 00:13] noahmanger commented on #947
This also seems to be resolved. Can someone just double check?

1. Go to beta.fec.gov/data/receipts on a phone or the iOS simulator
2. Tap on one of the table rows
3. Verify that you didn't get jumped down to a hidden field somewhere

[2016-01-27 01:27] leahbannon commented on #977
If a SuperPAC is IE-only, they’ll never have data about contributor occupation or employer, right? Are we addressing that here at all? Should we consider explaining this? Does the explanation that we currently provide address this? Ex: https://fec-proxy.18f.gov/data/committee/C00571372/?tab=receipts

Or... should I open a separate issue?

[2016-01-27 01:52] noahmanger commented on #977
Well, they actually have that data, it's just not showing up for some unrelated reason...hmmm. (Being IE-Only just has to do with the type of activity they do).

[2016-01-27 02:02] noahmanger commented on #1031
Following up on this: what do we need to do to figure this out?

[2016-01-27 04:13] leahbannon opened #1054 "Bernie's senate candidate page 404ing"
I went https://beta.fec.gov/data/candidate/S4VT00033/?cycle=2018&election_full=true

from a candidate search for "sanders"

The API seems to have it. S4VT00033

[2016-01-27 04:33] evankroske opened #1055 "Invalid XSS header on candidate and committee pages"
Browser: Chrome 47.0.2526.111 (64-bit)
OS: OS X 10.11
URL: https://beta.fec.gov/data/candidate/P00003392/

When I open the Chrome developer tools on this page, I see the following error in the console:

[2016-01-27 12:15] jwchumley commented on #1002
All candidates will have both cand_election_yr (from the form 2) and
FEC_election_yr (applied by us) whether or not they have a committee or
the committee has filed reports.  We assign the fec_election_yr because we
treat off year elections as part of the next even election year for
campaign finance summary purposes. Also, as paul said as long as a
committee is active the candidate continues to be

[2016-01-27 14:27] emileighoutlaw commented on #1030
I think we've determined that the links are bad. We may consider changing them in the future, but they're working as expected right now.

[2016-01-27 14:27] #1030 closed

[2016-01-27 14:43] ccostino commented on #947
@noahmanger:  I just took a look on my iPhone 6 (latest version of iOS and Safari) and I don't think I jumped to anything - the screen stayed at the top of the contributor information section (so the View all and View original image links were at the top of my screen).

[2016-01-27 17:11] jenniferthibault commented on #977
After thinking on this a over a longer period of time and navigating around different types of committee pages, I'm coming back to the disable/vs don't show at all tab question.

I think it will be less confusing if we disable tabs that don't have relevant data instead of removing them completely.
The strongest reason I have behind this is that there are so many types of committees, that asking a

[2016-01-27 17:17] noahmanger commented on #1055
Thanks for catching, @evankroske !

[2016-01-27 17:21] noahmanger commented on #1054
Ah! Thanks for catching. This is related to this bug https://github.com/18F/openFEC-web-app/issues/1031

I'm going to close this, but move your comment to there.

[2016-01-27 17:21] #1054 closed

[2016-01-27 17:21] jenniferthibault commented on #930
Nope, not seeing the jumping problem, but the search boxes are a different type of messed up:

![screen shot 2016-01-27 at 12 20 38 pm](https://cloud.githubusercontent.com/assets/11636908/12621843/7d1414e0-c4f0-11e5-9cdd-0c68e86a4e8a.png)
![screen shot 2016-01-27 at 12 20 52 pm](https://cloud.githubusercontent.com/assets/11636908/12621842/7d1065ca-c4f0-11e5-9833-73c9f22641b0.png)
![screen shot 201

[2016-01-27 17:21] noahmanger commented on #1031
Sanders Senate campaign has the same issue: https://beta.fec.gov/data/candidate/S4VT00033/?cycle=2018&election_full=true

[2016-01-27 17:26] noahmanger commented on #930
Yep, that's logged here: https://github.com/18F/fec-style/issues/230

I'm totally stumped on that one. But this issue seems to be resolved, so I'm going to close.

[2016-01-27 17:26] #930 closed

[2016-01-27 17:27] noahmanger commented on #947
Cool, thanks for checking. Yeah, I think this is a non-issue now.

[2016-01-27 17:27] #947 closed

[2016-01-28 14:54] #1044 closed

[2016-01-28 15:45] jmcarp commented on #1055
If I remember correctly, we're getting this error because requests go first through a proxy app (fec-proxy) and then to either the CMS app (fec-cms) or the data app (openfec-web-app). All three apps are hosted on cloud.gov, and I believe that cloud.gov always adds the `x-xss-protection` header, even if it's already set. In other words, the header is being set twice.

As far as I know, users of clo

[2016-01-28 16:34] jmcarp commented on #1049
Should be resolved in https://github.com/18F/fec-style/commit/9d5d95a12dda4a3804f36b3995fffc685367c56d.

FWIW, the permalinks and filters were working fine--just needed to update the filter tags.

[2016-01-28 16:56] emileighoutlaw commented on #1049
Awesome. Thanks for the update @jmcarp :)

[2016-01-28 23:52] jmcarp commented on #1022
Yes, I have a (kind of lame) fix for 18F/fec-style#219 included in the work in progress patch--you can't add the same value twice, although the option still shows up in the typeahead results. I can look into a nicer fix as part of this task.

[2016-01-29 19:06] noahmanger commented on #1040
This is done.

[2016-01-29 19:06] #1040 closed

[2016-01-29 20:23] LindsayYoung commented on #859
dependency for the web-app change is 18F/openFEC/issues/1469

[2016-01-29 20:24] noahmanger commented on #1031
This has been resolved on dev.

[2016-01-29 20:24] #1031 closed

[2016-01-29 20:39] onezerojeremy commented on #1009
Draft process:

we've got a spreadsheet in google docs:
https://docs.google.com/spreadsheets/d/1_0at7HqTaKKYaMk6PsUy5XYm_LNUD4O9N72fYJeHBUk/edit#gid=1759743196

This is very much a draft, as it's still a pretty manual process where by someone takes a look at the the feedback on https://github.com/18F/fec/issues?page=2&q=is%3Aissue+is%3Aopen
and try to make it useful not just for bug fixes and feat

[2016-01-29 20:41] noahmanger commented on #1027
To do:
- [ ] Try one other thing

[2016-01-29 20:45] #1023 closed

[2016-01-29 22:51] noahmanger opened #1057 "Some candidate links on IE tables are broken"
On the [itemized IE table on dev](https://fec-proxy.18f.gov/data/independent-expenditures/?is_notice=true&min_date=01-01-2015&max_date=12-31-2016), some, but not all, candidate links are missing an ID: all Jeb Bush links and one Marco Rubio.

h/t @leahbannon

[2016-01-29 23:31] noahmanger commented on #1045
Might be good to work in some usability testing around their [graphic tools](http://fec.gov/portal/graphic_presentation.shtml). I can explain more on Monday, but this is something we talked about doing and I think could get us some interesting data.

[2016-02-02 00:15] #1057 closed

[2016-02-02 18:19] #1049 closed

[2016-02-02 22:00] emileighoutlaw opened #1062 "Filter content and visual design"
During our long IE discussion in Slack, I noticed that these two filters are separated by a HR.

![screen shot 2016-02-02 at 4 55 31 pm](https://cloud.githubusercontent.com/assets/10552702/12765804/53efe688-c9ce-11e5-9a41-38e7920522b6.png)

It seems like there might be a more elegant way to show that these two go together. Just as a jumping off point, maybe:

[ ] Supporting
[ ] Opposing
[ text box

[2016-02-02 23:34] jenniferthibault commented on #1062
I think that's great. Those are especially the kind of changes I'd like to see made in the [mega filter spreadsheet](https://docs.google.com/a/gsa.gov/spreadsheets/d/1-LjKQy3dOJI9FJmrhNEfgsr-uD7HzzH0qf1zpo3azTE/edit?usp=sharing) before they get mocked up or implemented too!

[2016-02-02 23:43] noahmanger commented on #1062
+1 . Makes sense, though let's not push that in this release.

[2016-02-02 23:58] noahmanger opened #1065 "Figure out "sort_hide_null" frontend behavior"
When we moved the "Hide null when sorting" checkbox to be a regular filter, some things changed:

Previously, it was set using table options and it was hidden from the visible URL. This meant we would set it by default, which is useful when sorting by date so that results with no date don't show up at the top.

But now, because it's a regular filter there's no way to set it without also setting a

[2016-02-03 05:20] dlapiduz commented on #1055
@jmcarp here is a card for it: https://trello.com/c/P6DknfSK/659-avoid-duplication-of-xss-headers-in-nginx-secureproxy

Basically you are right, the fact that you are proxying to an app that already has the header duplicates it.

[2016-02-03 14:39] emileighoutlaw commented on #1062
Captured in the mega spreadsheet for future implementation :)

[2016-02-03 14:42] emileighoutlaw commented on #1065
I'll let Jen chime in, but my content gut is saying we don't won't it to generate a tag.

[2016-02-04 04:02] evankroske opened #1069 "Tabs receipts, disbursements, and between committees missing data on committee pages"
I've checked [two][1] [committees][2] pages, and both of them now have no data on tab "Receipts from Individuals", "Disbursements", and "Between Committees". The console contains the following interesting errors:

- `XMLHttpRequest cannot load https://api.open.fec.gov/v1/committee/C00575795/     schedules/schedule_b/by_pur…0kTkxxq9JNfIRlrOPorXc60dqOVEs4GE&sort=-             total&per_page=10&page=

[2016-02-04 04:12] evankroske commented on #1069
[Looks like the web app's API key was revoked.][1] However, if I try to request the resource with my own API key, I receive a server error (500). (I'm not going to put my API key in a GitHub issue, but I'll share it privately if someone is interested.)

[1]: https://api.open.fec.gov/v1/committee/C00575795/schedules/schedule_a/by_state/?api_key=oXyFx4md0kTkxxq9JNfIRlrOPorXc60dqOVEs4GE&cycle=2016&pe

[2016-02-04 04:26] evankroske commented on #1069
And the resource is available again. The tabs are working correctly now.

[2016-02-04 04:32] evankroske commented on #1069
Never mind, I'm still seeing the following error message sometimes:

This looks like an api.data.gov problem.

[2016-02-04 04:51] jmcarp commented on #1069
Thanks for flagging this, and sorry for the disruption. This looks to be resolved now. For the record, the CORS errors showed up because of an unrelated underlying issue--when we hit a 500, we don't get the usual CORS headers, so we get that additional error. And the 403 is expected if you're hitting that URL from curl or a browser--that API key is only meant to be used through beta.fec.gov.

[2016-02-04 04:59] evankroske commented on #1069
Yep, that explains why my API key worked and yours didn't. Thanks for looking into this!

[2016-02-04 04:59] #1069 closed

[2016-02-04 17:50] jenniferthibault commented on #1065
I second that. I think we should keep it as is now on beta.fec.gov and not apply it by default. Users can select it, and it's not hidden under an accordion view, so it's exposed.

[2016-02-04 18:01] porta-antiporta opened #1071 "Recent filings section treats documents without a receipt date as most recent."
On https://beta.fec.gov/data/ in the recent filings section, there are several filings (mostly dating from the 80s from the document name) that are sorted as latest because they don't have a receipt date.

Given the culprits are pretty dated submissions, no receipt date should probably be sorted somewhere other than as most recent in the list.  The 5 culprits take up half of the available slots.

[2016-02-04 18:39] noahmanger commented on #1065
What about the other two questions:
- Do we want it visible in the URL?
- Do we want it to generate a tag?

[2016-02-04 18:41] noahmanger commented on #1071
Good catch. We lost the "hide null when sorting" functionality somewhere. @jmcarp do you have time to look at this today?

[2016-02-04 19:03] jenniferthibault commented on #1065
If we're not applying the filter (and thus the criteria) by default at page load, then no to those two questions as well!

What I'm trying to say/think is: Don't check the box, don't apply to "hide results with missing values while sorting" as a filter. So therefore it would not even apply to the URL, the data, or the tags.

[2016-02-04 19:27] noahmanger commented on #1065
Sorry, that was confusing. I mean, _when_ you check it, should it do those things?

[2016-02-04 19:35] LindsayYoung commented on #1065
It is really useful to have that pre-checked, otherwise you get things like pages and pages of records with missing dates (or missing whatever) first.

[2016-02-04 19:51] emileighoutlaw commented on #1065
I hear that, Lindsay. Here's my understanding:

Having this filter defaulted on helps lots of general users— people who don't want to deeply understand the data but need (for example when sorting earliest to most recent expenditures) not to be blocked by pages and pages of blank data.

That said, we still want the filter to exist as an option for our super advanced users to un-check, should they w

[2016-02-04 20:04] emileighoutlaw opened #1072 "Enhancement: Additional column in filter?"
I was looking at a lot of IE data today, and when more than a few years are selected, they look really long. Would it make sense to split this into two columns?

<img width="329" alt="screen shot 2016-02-04 at 2 45 49 pm" src="https://cloud.githubusercontent.com/assets/10552702/12827996/492ec506-cb50-11e5-8182-887aa1d6f86a.png">

[2016-02-04 20:53] noahmanger commented on #1072
I think this will be addressed when we introduce accordions in the filter panel. I'd prefer that option to columns, but am open to columns.

[2016-02-05 19:27] jenniferthibault opened #1076 "Develop discovery plan for design of data dashboard features"
In order to understand what users want from the experience of the dashboard/featurette side of the data site, develop a plan for discovery activities.

Dependencies: https://github.com/18F/openFEC-web-app/issues/1045

[2016-02-05 19:59] #1022 closed

[2016-02-05 20:39] brethauer opened #1077 "Dropdown bug on candidate search page"
On Windows/Chrome, the dropdown doesn’t allow scroll past Delaware. (Same issue for district).

[2016-02-05 20:40] brethauer opened #1078 "On candidate page, election year filter showing candidates from other years"
In candidate filters, when 2015-2016 filter is applied, results still show candidates from other years.
@emileighoutlaw I think you got a screenshot?

[2016-02-05 20:52] brethauer commented on #1077
(I was not able to repeat this bug on a Mac in Chrome or Safari)

[2016-02-05 20:56] emileighoutlaw commented on #1078
I did! It isn't a great shot (snagged in the middle of a session), but I think it'll work:

<img width="495" alt="screen shot 2016-02-05 at 11 06 56 am" src="https://cloud.githubusercontent.com/assets/10552702/12858924/f201dc2e-cc20-11e5-8cdd-e20db548a374.png">

[2016-02-05 22:16] #1071 closed

[2016-02-08 16:12] jenniferthibault commented on #1076
[This is the Google document](https://docs.google.com/a/gsa.gov/document/d/1OouA9iN10C420O2rKLkxQptQfcb-rSw_uZR4F-tAvk8/edit?usp=sharing) I've been working in to think about what we need to know before designing out the dashboard/featurette side.

@brethauer & @emileighoutlaw I'd specifically like you to take a look to see how your activities and results from last week's novice interviews cover th

[2016-02-08 19:12] jenniferthibault commented on #1065
This has been tricky because its challenging us to define principles of behavior AND functionality here.

Here are the principles we've been using:
- If a filter is applied, show a tag so that users know what they're seeing data for
- If a filter is applied, reflect that in the URL so that searches can be saved and shared w/ permalinks
- Create a download manifest that shows users what filters wer

[2016-02-08 19:52] emileighoutlaw opened #1082 "Bug: Stewart Mills (MN House District 8) contributions by state don't display"
**url**:  https://beta.fec.gov/data/elections/house/MN/08/2016/

When you view the House candidates in Minnesota District 8:

- View by contribution size looks great!
- View by contribution state shows nothing for Stewart Mills

### This looks right (by contribution size):
<img width="1056" alt="screen shot 2016-02-08 at 2 44 34 pm" src="https://cloud.githubusercontent.com/assets/10552702/12896971

[2016-02-08 22:22] emileighoutlaw commented on #1065
That is precisely the principles I understand. Thanks for setting them out here for us, Jen.

### Thoughts
`- If a filter is applied, show a tag so users know what they're seeing data for`

I *think* like the underlying assumption here is that *knowing which filters are applied* helps people understand what the data they're looking at. But in this specific case, the filter is complicated and requi

[2016-02-08 23:08] noahmanger commented on #1065
@emileighoutlaw I was just about to lob out the same crazy idea. Glad I read to the bottom first :) @jmcarp what do you think of Emily's idea?

@jenniferthibault I think those principles are right on. I'd add one more:

- Filters can be added and removed

This is to differentiate from the kind of pre-filtering we will be doing for the specialized datatable pages.

Also, I think there's a somewhat

[2016-02-08 23:18] jenniferthibault commented on #1065
If the logic statement could be something like “If a category has no data, put that entry last when sorting” and we don't need a filter at all, my :fingers-crossed: hard for
![obliviate](https://cloud.githubusercontent.com/assets/11636908/12902611/3512bb2a-ce90-11e5-957d-5b26b10b14d5.gif)

[2016-02-09 01:35] noahmanger commented on #1047
This is merged.

[2016-02-09 01:35] #1047 closed

[2016-02-09 13:22] emileighoutlaw opened #1084 "Candidate comparison tool"
Throughout the site, our template for ranges has been `X–XX of XX records`. I noticed on the candidate comparison tool that our ranges are shown as `X to XX of XX records`. Lindsay helped me do a cursory search yesterday, but I can't find this in the code anywhere.

@jmcarp? @noahmanger?

(I'm also going to look into installing ack or ag today to help avoid this in the future)

Some screenshots:
!

[2016-02-09 20:59] brethauer commented on #1045
Mid-research synthesis doc:
https://docs.google.com/document/d/1hsSbfwUFUqodp-hR3rtIFiFXwsisCs-VLv8mkcm_bo4/edit#

[2016-02-09 21:08] jmcarp commented on #1065
So we can easily tell the database to always return `null` values last, whether sorting ascending or descending. The caveat is that we'd then have to create two indexes for every column on every column that we want to support this behavior:

[code]

Especially for the bigger tables, that's going to eat up a lot of space on disk and in memory. As usual, we can do whatever we want for the smaller ta

[2016-02-09 21:28] brethauer commented on #1045
Themes and research questions we want to focus in on for the remaining sprint:

**Theme: What inspires story ideas?**
- How can we get people excited about the potential of the data?
- Explore idea: example questions on the dashboard along with how they might be answered

**Theme: Building up enough knowledge and being able to self-guide**
- What are the most common stumbling blocks in trying to u

[2016-02-09 22:10] emileighoutlaw opened #1087 "Research: Audit campaign finance content"
### Background:
As part of our novice research phase, one of the things we'd like to quantify is "What types of stories are journalists publishing about campaign finance." I'll be leading a small content audit with that we'll capture in a Google Doc (forthcoming).

### What we hope to learn:
- Are there "meat and potatoes" campaign finance stories?
- If so, what?

Knowing this will help us better

[2016-02-09 22:16] emileighoutlaw commented on #1087
Related: https://github.com/18F/openFEC-web-app/issues/1045#issuecomment-182079312

[2016-02-09 23:58] noahmanger opened #1088 "Test new navigation mockups"
In order for users to navigate between browse pages, design a sub-navigation system.

@jenniferthibault already made good progress on this, but we should test it and refine the designs before moving this to implementation.

Tasks:
- [x] Prep for usability testing
- [x] Test
- [ ] Refine based on feedback

## Update:
This should also address how users may navigate between "processed" data and efili

[2016-02-10 16:19] jenniferthibault commented on #1087
Reading back through yesterday's notes, a second point to investigate while you're reading these intro articles is **how and what people explain about campaign finance 101.**

[2016-02-10 16:33] jenniferthibault opened #1090 "Research: Audit campaign finance visualizations"
Using [this doc](https://docs.google.com/spreadsheets/d/1M77EOzvPpDBTHH3jR3GA6vqpD140AYX0wm-0p0a_hGw/edit#gid=0) as a starting point, I'm going to pull together examples of how other sites are presenting campaign finance data as interactive visualizations.  I'll probably make this in Mural.ly

**Goal:**
- Spot patterns of compelling data viz structures and formats (and spot what's not)
- Spot tren

[2016-02-10 16:53] jenniferthibault opened #1091 "Research: Audit patterns of popular post topics and features from social media"
In order to understand what type of content engages people about campaign finance data, use Twitter and Facebook to see what people post about.

**Goals:**
- Spot patterns of how people are using the site
- See what people are interested in sharing about campaign finance
- See what types of info starts conversations that ultimately leads other back to the site.

**Related:**
- https://github.com/1

[2016-02-10 16:54] jenniferthibault commented on #1091
h/t @noahmanger : I'll probably start this in Mural.ly so that we can screenshot & link

[2016-02-10 16:55] emileighoutlaw commented on #1087
Capturing information in [Mural.ly](http://mur.al/bZzjED9y)

[2016-02-10 17:09] jenniferthibault commented on #1090
Murally has been started [here](https://app.mural.ly/t/gsa6/m/gsa6/1455123969160)

[2016-02-10 17:09] jenniferthibault commented on #1091
Murally has been started [here](https://app.mural.ly/t/gsa6/m/gsa6/1455124008510)

[2016-02-10 21:08] jenniferthibault commented on #1045
I did some thinking about how this fits in to the bigger picture of our design process for the dashboard side: take a peek at the Dashboard section [here] and let me know how we could make that better. (https://docs.google.com/a/gsa.gov/document/d/1OouA9iN10C420O2rKLkxQptQfcb-rSw_uZR4F-tAvk8/edit?usp=sharing)

I also wanted to rough out the timing for these activities leading up to the workshop wi

[2016-02-11 00:54] noahmanger commented on #1065
Great question. Practically speaking, it would have the same effect and effectively look the same to the user. This seems like an option we can keep for API users, but we can get rid of on the front-end. This would be my strong preference if there's no overwhelming reason to keep it.

[2016-02-11 16:28] emileighoutlaw commented on #1045
Yes! That timeline looks great to me!

[2016-02-11 17:52] ccostino commented on #1065
From a user experience perspective, this looks messy seeing this "filter" show up as a tag across the top as well.  I would argue that this bit of functionality is not the same as the other filters if the idea is to always have that data available regardless and it's just a quality of life improvement when viewing the web site.  Is it okay that we always hide information that missing?  If so, shou

[2016-02-11 20:06] LindsayYoung commented on #1065
I think that there is value in making this user controlled and explicit. I think that when there is a lot of data messaging, and no explanations or controlI we risk people loosing faith in the data. If people want all the data, they will want to uncheck that box. Also it would not make sense why the number of results changes when you sort differently, unless we tell you.

I am a bit concerned with

[2016-02-11 20:13] jmcarp commented on #1065
For context, the "hide null" control wasn't located inside the filter panel until the latest release--@noahmanger and @jenniferthibault can explain why.

It might be time to move this issue to FEC or usability testing. I think we've spent more than enough time talking in circles around it and revising behavior without coming to a conclusion.

[2016-02-11 21:53] noahmanger commented on #1065
Just talked with Lindsay on this over the phone and she agrees that @jmcarp 's solution of just permanently setting the hide null filter on the front end (but not exposing it in the UI ever) is a fine way to go. And just to clarify, this filter isn't passed through to the downloads, correct?

[2016-02-11 22:55] noahmanger commented on #1046
Ok! We've finished going through the spreadsheet and identified all of the filters we need. I'm sure more stuff will come up as we build things out, but the initial review is done.

[2016-02-11 22:55] #1046 closed

[2016-02-12 21:43] jmcarp commented on #1065
@noahmanger correct!

[2016-02-12 22:55] #1065 closed

[2016-02-12 23:58] noahmanger commented on #1003
Alright! After lots of painstaking work, I think we have a really good outline for all of the new browse pages. Still subject to word-smithing and potentially moving pages around based on more research and testing, but this identifies the main **categories** for the datatable pages, as well as each page within them.

![browse ia](https://cloud.githubusercontent.com/assets/1696495/13023822/83430020

[2016-02-12 23:58] #1003 closed

[2016-02-16 04:22] evankroske opened #1098 "Browser tests fail with error "Too many open files" on OS X"
When I run the browser tests on OS X using the instructions in the readme, 163 of them produce errors and 8 fail:

[Traceback.](https://github.com/18F/openFEC-web-app/files/131880/output.txt) I'm on OS X 10.11.3, El Capitan.

[2016-02-16 16:22] LindsayYoung opened #1099 "redirect open.fec.gov to beta.fec.gov"
Nothing is at  open.fec.gov

[2016-02-16 18:24] noahmanger opened #1101 "Add "Number of candidates" and "Candidate share" to EC page"
Trying to summarize what we've discussed on Slack:

### On /data/electioneering-communications:
- [x] Add columns and details panel rows  for "Number of candidates" and "Candidate share".
- [x] Add a disclaimer explaining the "Candidate share" calculation

Also:
- We will still keep "Disbursement amount" in the table as well as the filter.
- We will not add a filter for "Candidate share"

### On C

[2016-02-16 18:34] noahmanger opened #1102 "Copy edits to Electioneering Communications table"
- [ ] Change "Committee" to "Spender"
- [ ] Change "Amount" to "Disbursement amount"

[2016-02-16 18:36] LindsayYoung commented on #1102
And just to confirm-- disbursement amount is just going to be in the panel. the column is going to show candidate share, right?

[2016-02-16 18:41] ChristianHilland commented on #1101
Amy P. and I looked at the EC forms in greater detail. While we don't often receive many questions about ECs these days from the public, there was a need several years ago (and there probably still is) to determine the total amount that that is being spent for or against a particular candidate. The only way for us to do with the available FEC Form was to divide the disbursement cost to a particula

[2016-02-16 18:42] noahmanger commented on #1102
It depends where this conversation goes: https://github.com/18F/openFEC-web-app/issues/1101

[2016-02-16 18:54] ChristianHilland commented on #1102
Yes, I think the Disbursement Amount on that screen should be the per candidate amount. Does that answer your question?

[2016-02-16 19:44] emileighoutlaw commented on #1101
Okay! This makes complete sense to me! Thanks for taking the time to explain.

Would it be possible to tweak the disclaimer language a little? I'm thinking something like:

[2016-02-16 19:59] emileighoutlaw commented on #1102
Hey there. This is a pretty complicated issue, so this is my attempt to get on the same page with everyone as to what changes we need! :)

### Table view
For the table view (shown below), we want to show the following filters:
- Disbursement amount
- Number of candidates
- Amount per candidate

![screen shot 2016-02-16 at 2 52 20 pm](https://cloud.githubusercontent.com/assets/10552702/13089194/892

[2016-02-16 20:22] noahmanger commented on #1102
Sorry, bad idea on my part to have these as two separate issues. I'm closing this in favor of #1101 so that we're not having this conversation in two places.

[2016-02-16 20:22] #1102 closed

[2016-02-16 20:34] emileighoutlaw commented on #1101
In addition to the disclaimer language, this is my attempt to get on the same page with everyone as to what changes we need! :)

### Table view
For the table view (shown below), we want to show the following filters:
- Disbursement amount
- Number of candidates mentioned
- Amount per candidate

![screen shot 2016-02-16 at 2 52 20 pm](https://cloud.githubusercontent.com/assets/10552702/13089194/892

[2016-02-16 20:57] ChristianHilland commented on #1101
I'm tagging @paulclark2 and @apike for their input as well.

1) I would suggest this disclaimer or similar language:

To help users work with this data, we divide each itemized disbursement amount by the number of federal candidates named in connection with that disbursement. The resulting number is listed as the notional amount per candidate.

2) Filter question: I don't think we should include "

[2016-02-16 21:00] apike commented on #1101
@ChristianHilland Glad to hear you're interested in my input, but I'm a little out of the loop here. Did you mean to say @apike or perhaps somebody else?

[2016-02-16 21:04] ChristianHilland commented on #1101
Sorry about that. Thanks for the message.

[2016-02-16 21:09] amypike commented on #1101
So sorry, Allen (@apike).  He meant me, @amypike.

[2016-02-16 21:10] apike commented on #1101
No problem, cool project - good luck :)

[2016-02-16 23:44] PaulClark2 commented on #1101
@emileighoutlaw @ChristianHilland @amypike

1) I think Christian's language is closer to what we are doing.  EC reporting is different from other "other spending" reporting because the filer does not disclose a specific amount for each candidate.   Looking at a EC (Form 9) filing might help.

http://docquery.fec.gov/pdf/532/12970531532/12970531532.pdf
Page 2 (12970531533) two (2) disbursements fou

[2016-02-17 01:34] noahmanger commented on #1101
Ok, I've added the columns, and included this disclaimer in a tooltip in the details panel like so:

<img width="1085" alt="screen shot 2016-02-16 at 5 31 30 pm" src="https://cloud.githubusercontent.com/assets/1696495/13097100/360dbdf6-d4d3-11e5-82ff-966d0d2cf6c4.png">

I used Christian's language. I think it should be slightly tweaked for the disclaimer on the aggregates, though. Maybe:

[2016-02-17 01:36] noahmanger commented on #1101
Also, in the IE aggregate table disclaimer, we explain that the subtotals don't contain 24 and 48 hour reports. Do we want to use the same language (if that's the case)?

[2016-02-17 12:46] PaulClark2 commented on #1101
No, we don't need a disclaimer about 24-hour and 48-hour reports for ECs.  All EC filings are 24-hour notices.

@ChristianHilland @amypike Can you take a look at the disclaimer language above.

[2016-02-17 15:46] PaulClark2 commented on #1101
@noahmanger We think we should exclude, "These subtotals reflect the sum of each this per candidate amount." from the disclaimer.  In theory if you sum across all the candidate share amounts you should get the total disbursement amount for the EC filing but in practice this isn't always true.  Some filers include disbursements but do not include a candidate or candidates.  In these cases, the disb

[2016-02-17 15:55] amypike commented on #1101
@PaulClark2, you've hit everything we discussed!  Thank you!

[2016-02-17 16:08] emileighoutlaw commented on #1101
Since the disclaimer is connected to the text "Amount per candidate" would it be possible to say:

[2016-02-17 16:17] amypike commented on #1101
@emileighoutlaw, that sounds great, thank you!  We have one suggestion - "The resulting amount is listed here" rather than "the resulting number is listed here." @PaulClark2 @ChristianHilland

[2016-02-17 16:55] emileighoutlaw commented on #1101
Sounds good to me! Sound good to others?

[2016-02-17 18:52] ChristianHilland commented on #1101
Works for me.

[2016-02-17 21:54] #1101 closed

[2016-02-18 00:07] noahmanger commented on #1076
Can we close this, since the plan has been developed and the implementation of that plan is captured in other issues?

[2016-02-18 00:07] noahmanger commented on #1009
How's this going @brethauer ? Can I help at all?

[2016-02-18 00:10] noahmanger commented on #981
Resolved by https://github.com/18F/openFEC-web-app/pull/1058

[2016-02-18 00:10] #981 closed

[2016-02-18 00:11] noahmanger commented on #979
Resolved by https://github.com/18F/openFEC-web-app/pull/1058

[2016-02-18 00:11] #979 closed

[2016-02-18 00:11] noahmanger commented on #978
Resolved by https://github.com/18F/openFEC-web-app/pull/1058

[2016-02-18 00:11] #978 closed

[2016-02-18 00:11] noahmanger commented on #977
Resolved in https://github.com/18F/openFEC-web-app/pull/1058

[2016-02-18 00:11] #977 closed

[2016-02-18 13:25] brethauer commented on #1009
Hey @noahmanger I'd be glad for some help- I chatted with @leahbannon a few days ago and I believe she is doing some thinking about this, so she may want to chime in here too.

Two questions:
1) How important is it to look for trends here? I like the idea generally, but obviously there is a time/effort cost and someone needs to own it (not sure I have the bandwidth)
2) What has been most useful ab

[2016-02-18 22:57] noahmanger commented on #1009
I'd say the utility of the feedback tool so far has been one part catching bugs and one part getting a general sense of need (such as when a bunch of people requested downloads). I don't think this should take a ton of time, but someone should have their eye on it.

We can talk about this more at our meeting tomorrow, but I've been thinking about how this fits into some process improvements I want

[2016-02-19 16:37] jenniferthibault commented on #1090
All research is captured in the murally—moving forward with analyzing common questions in an affinity diagram today http://mur.al/YEK5jlaG

[2016-02-19 16:37] #1090 closed

[2016-02-19 16:38] jenniferthibault commented on #1091
All research is captured in the murally—moving forward with analyzing common questions in an affinity diagram today http://mur.al/YEK5jlaG

[2016-02-19 16:38] #1091 closed

[2016-02-19 16:38] jenniferthibault commented on #1076
Yep: All research is captured in the murally & google doc—moving forward with analyzing common questions in an affinity diagram today http://mur.al/YEK5jlaG

[2016-02-19 16:39] #1076 closed

[2016-02-19 20:41] #1087 closed

[2016-02-20 18:17] evankroske commented on #1090
Can you configure your murally to be read-only? It looks like anyone can move around your sticky notes right now.

[2016-02-21 22:39] jenniferthibault commented on #1090
Thanks for the check on this,  now configured for read-only, and I swapped the link out above. http://mur.al/bVoQNdOw

[2016-02-24 20:15] #1009 closed

[2016-02-24 23:05] LindsayYoung commented on #1078
This is a behavior thing that keeps coming up, it is captured in another issue.

[2016-02-24 23:06] LindsayYoung opened #1107 "small bug: can't show full cycle before our data begins"
Example, the cycle starts in the 70s and full cycle errors,
https://beta.fec.gov/data/candidate/S2KY00012/?cycle=1982&election_full=true

[2016-02-25 02:25] noahmanger commented on #1088
With the pending merge of the candidate office datatable pages, this has been on my mind so I wanted to get some thoughts out / work through some of our design backlog. These are all just glorified sketches...not submitting for visual recommendations :)

I think there's a few goals this design update needs to address:
- How do users find (and understand) the various alternative datatable pages?
-

[2016-02-25 06:14] jmcarp commented on #1107
This doesn't seem to be related to the fact that the cycle includes years from the 1970s--and it looks like an improvement to the `election_full` flag we're passing to our candidate and committee history endpoints clears up the error on this page. See https://github.com/18F/openFEC/pull/1542.

[2016-02-25 14:04] LindsayYoung commented on #1107
thanks!

[2016-02-25 16:46] jmcarp commented on #1078
We discussed this earlier in #1002. Reading over that conversation again, it sounds like everyone was on board with updating the election years filter on the candidate data table page to actually filter on election years, rather than cycles active. Since we already have logic for getting candidate election years on the backend, this would be a quick change--if nobody objects, I'll submit changes l

[2016-02-25 17:49] #1107 closed

[2016-02-25 20:36] jenniferthibault opened #1108 "Reverse order of years in election cycle toggles: create chronologically ascending order"
Currently, the election cycles are ordered:
Full cycle :: most recent two-year period – most distant two-year period
I'm going to call this chronologically descending order.

Which looks like this:
<img width="476" alt="screen shot 2016-02-25 at 1 56 49 pm" src="https://cloud.githubusercontent.com/assets/11636908/13333121/69e042fa-dbd3-11e5-858e-56730bae2878.png">

and this, as @LindsayYoung point

[2016-02-25 22:42] noahmanger commented on #1078
Agreed. Let's do that.

[2016-02-25 23:18] LindsayYoung commented on #1002
Assigning to myself so we don't forget, other people can jump in on this if they have time and can beat me to it.  Thanks for finding the exact issue Josh.

[2016-02-25 23:22] noahmanger commented on #1108
Ah yep. I think you're right, and I agree. Thanks for doing the archaeology! Let's switch it back.

[2016-02-29 04:52] evankroske opened #1112 "To make it easier to contribute, document how to run JavaScript tests"
The readme should contain instructions for running the JavaScript tests: `npm test`

[2016-02-29 15:07] jmcarp commented on #735
It doesn't sound like there's technical work to be done here, so I'm going to reassign to @noahmanger to figure out what action to take, if any.

[2016-02-29 15:36] #1098 closed

[2016-03-03 17:31] #1112 closed

[2016-03-04 21:43] #1045 closed

[2016-03-05 03:47] #1024 closed

[2016-03-08 17:15] edmullen opened #1118 "View all link in candidate search doesn't apply the search parameters"
When you search on a candidate name, the results are limited to 20. In the alert that explains this, there is a link to "View all".

![image](https://cloud.githubusercontent.com/assets/2654503/13609559/764b6d50-e527-11e5-97ab-b699552c64f8.png)

When you click the link, the results are no longer limited to the query, even though the URL contains the term.

![image](https://cloud.githubusercontent.c

[2016-03-08 21:11] jmcarp opened #1120 "Restore or drop perfbar"
We have perfBar installed, but haven't used it since disabling it last fall. My memory is that I ran into problems with gulp at the time, but I'm not sure at this point. In any case, let's either restore perfBar and do something useful with it, like hooking it up to new relic, or drop it altogether. Meanwhile, perfBar seems to have had about one commit in the last year, so it may be dead.

[2016-03-10 02:32] jenniferthibault commented on #1088
@noahmanger !! I'm super into the alternate filter toggle idea, and it's also been on my mind that we should try to encourage people to close the filter panel more often and benefit from the experience of a full-width data table.

I have three screens below that show how we could integrate that with a slight tweak to your nav. Instead of individual dropdowns, I've tried using the mega-menu format

[2016-03-10 16:14] jenniferthibault commented on #1088
The one thing I forgot to ask (and I think might be a separate thing, so maybe we make a new issue?) is what's up with that "About this dataset" copy. Where's it coming from, what's the need? Why that instead of individual tooltips about the column headers, etc?

[2016-03-10 20:36] AmyKort opened #1122 "Define/explain "federal funds" category in candidate data"
We're using "Federal Funds" as the label for funds the Department of the Treasury provides to candidates from the Primary Matching Payment Account. We should provide some clarification that here "Federal funds" means public funding for a presidential candidate. In other guidance, the FEC uses the term "federal funds" to refer to funds raised within the limits, prohibitions and reporting requiremen

[2016-03-10 20:39] emileighoutlaw commented on #1122
I do think a definition would be helpful. But my first question is, should we call it something other than "federal funds." Just because we're calling it that right now doesn't mean we were right in the first place. I hate to have the same term applied to do different things across the site.

[2016-03-10 20:40] emileighoutlaw commented on #1122
Maybe we could call it "federal matching funds" if it's always matching funds?

[2016-03-10 20:54] AmyKort commented on #1122
You could have matching funds for primary candidates, the general election grant from the Presidential Election Campaign Fund for general election candidates, and for prior cycle data there will also be public funding for convention committees. It looks like we refer to these funds as "federal funds" on our forms, so I'm not sure whether we want to change that language in the data. I do think, tho

[2016-03-10 21:00] emileighoutlaw commented on #1122
I wonder if this is more an explanation than a definition, in which case a tooltip could be in order?

@jenniferthibault, what do you think?

[2016-03-10 21:47] ChristianHilland opened #1123 "Disbursements Page"
Below are comments in connection with the Disbursement page of the beta site. You may be aware of some of these issues already. Please let me know if you have any questions.

1) The Recipient Information section includes Recipient (Committee) and Recipient (Non-Committee) fields.  I think having two separate search fields may be confusing to the average user.  Does anyone have any thoughts about t

[2016-03-10 22:12] AmyKort commented on #1122
If it helps, look at 11 CFR 300.2(g), which defines "federal funds" as funds that "comply with the limitations, prohibitions, and reporting requirements of the Act."

I'm having a harder time coming up with a blanket definition for the thing we are actually trying to describe.

[2016-03-10 23:21] #1118 closed

[2016-03-11 02:56] noahmanger commented on #1123
Thanks! Here's my thoughts:

1. Agreed. We're actually consolidating these into a single field in the next release.
2. I think even though the disbursement purpose field isn't required it's still useful, but curious what @LindsayYoung thinks.
3. Amount field: Do you mean the column in the table or the filter? We have a separate issue for right aligning the numbers. I think it's a good idea.
4. Thi

[2016-03-11 02:58] noahmanger opened #1124 "Bug: "Clear filters" doesn't clear typeahead checkboxes"
As reported in #1123 , the "clear filters" button doesn't clear the checkboxes generated by the typeahead filter.

![gif](http://g.recordit.co/Q5YooJjie4.gif)

[2016-03-11 03:10] noahmanger commented on #1088
Thanks for tackling this. The mega-menu idea is interesting. Two thoughts though:

1. How would this work on smaller screens? This requires quite a bit of width to lay out all the links horizontally.
2. I'm not sure which level of hierarchy should be included in the sub-nav. Should it be the other parent categories (like you have), or the siblings (like I have). I'm not sure. What do you think?

[2016-03-11 04:16] jenniferthibault commented on #1088
Goooooood thoughts, and I have some thoughts, but no definitive answers

1: It looks like the largest parent category we have here is Committees, with 10 child entries, right?https://github.com/18F/openFEC-web-app/issues/1003#issuecomment-183534712
Can we accomplish that on tablet with three columns? On mobile, since removing the top-level dropdowns anyways, we might need to rethink some organizat

[2016-03-11 17:03] ChristianHilland commented on #1123
Thank you for your responses.  A couple of follow-ups:

3) I meant the Amount column in the table.

5)  Some disbursements are classified as memo entries, which means that particular disbursement amounts are not included in the overall spending total.  For example, a committee is required to disclose its payment to a credit card company.  Reporting regulations require that the committee also inclu

[2016-03-11 17:28] ChristianHilland opened #1126 "Comments re: Candidates page"
https://beta.fec.gov/data/candidates/

Here are a couple of comments for the Candidate page:

1) I think it would be helpful to the user if the **Receipt Date** field were to be displayed on the table.

2) *_Candidates raising more than $5,000 *_filter:  I think the Statutory Candidate option is wonderful. I'm not sure how helpful the "Future Candidate," "Not yet a candidate," and "Statutory candi

[2016-03-11 17:58] ChristianHilland opened #1127 "Suggested New Feature: Email Alerts for new report filings"
I've mentioned this before, but I figured I'd make a post about it on GitHub so that it's on our radar.

Once we have .FEC files (and HTML/PDF links) of committees' campaign finance reports available on the beta site, it would be a extremely helpful to build an email alert system. This system would allow users to sign-up to be notified via email once a particular committee(s) has filed a new repor

[2016-03-11 19:29] emileighoutlaw commented on #1126
Hey Christian! Great comments! We're actually in the process of working on this very thing in this issue:

https://github.com/18F/openFEC-web-app/issues/859

Which is to say, I completely agree with everything you wrote!

[2016-03-11 20:39] PaulClark2 commented on #1122
Maybe something like "Presidential public funds" with a tool tip with additional explanatory text.  Committees report both primary matching funds and the general election grant on Line 16.

[2016-03-11 20:45] emileighoutlaw commented on #1122
Just reiterating that I do like the idea of giving it another name, other than federal funds, since we're going to use that elsewhere on the site to mean something different. But I am curious to hear what Jen's thoughts on all this are, once she's released from jury duty. :)

[2016-03-11 20:49] AmyKort commented on #1122
My personal preference would be to change the label to something other than Federal funds, but I am coming at this from a particular perspective--and it is not a data perspective. So you shouldn't trust me here.
I think Paul's idea works. Will "Presidential public funds"  cover public funding for conventions? Our prior presidential election year data will show those funds. In our Public Funding of

[2016-03-11 20:50] emileighoutlaw commented on #1122
I think my comment might have been unclear. I am totally in favor of changing the label!

[2016-03-11 20:52] AmyKort commented on #1122
You were clear. I was agreeing with you . . . badly.

[2016-03-11 20:54] emileighoutlaw commented on #1122
As long as Amy and I are in agreement, all is right in the world. :dancers:

[2016-03-11 21:43] PaulClark2 commented on #1122
So we also use the term "federal funds" on the Form 4 (nominating convention).  If we want a single term for both the F3P and F4 public funding perhaps we should drop "presidential" from my suggestion and just use "public funding."

[2016-03-11 21:44] AmyKort commented on #1122
I'm fine either way. They are presidential nominating conventions.

[2016-03-11 21:45] PaulClark2 commented on #1122
True and using "presidential public funds" might add some clarity.

[2016-03-11 22:38] PaulClark2 opened #1129 "Purpose (purpose of disbursement / category code)"
This is related to https://github.com/18F/openFEC-web-app/issues/1123 item 2 and probably https://github.com/18F/openFEC/blob/develop/data/functions/purpose.sql

For the purpose of disbursement aggregates on the committee pages, I'm still a little unclear what's included in the section that uses "cleaned" with category code descriptions.  Is it all Schedule B transactions excluding the transaction

[2016-03-11 22:55] noahmanger commented on #1123
Thanks for clarifying / explaining. We have the memo code in the details panel. Is that enough, or are you suggesting it should be a column? We're already crunched for space, which is my only concern. @PaulClark2 and @LindsayYoung what do you think?

[2016-03-12 17:32] ChristianHilland commented on #1123
It's not a problem if the memo code field isn't displayed. Most users will have to export the full set of data regardless.

[2016-03-12 20:44] jenniferthibault commented on #1122
Catching up—it seems like if it's a thing that will add clarification and is used in more than one place, it might be better suited for a glossary term than a tooltip.

[2016-03-13 13:01] emileighoutlaw commented on #1122
I'm also in favor of glossary term, if we're calling it "presidential public funds" or "public funds."

I'm leaning slightly toward "presidential public funds," just because "public funds" sounds a bit like money from the public.

Is there anywhere we can look for a non-contentious glossary definition for this?

[2016-03-13 16:44] AmyKort commented on #1122
If we change the label to Presidential public funds, or something like it,
I agree we should try for a glossary entry. Let me look through our
educational materials for some language we can use as a starting point.

[2016-03-13 19:40] ccostino commented on #1124
@noahmanger, I think I've uncovered where the issue is, but before I fix it I'd like to know what the appropriate behavior is for when we clear all of the filters.  Should the typeahead filters work just like the other checkbox filters in that the checkboxes remain but are cleared, or should we also remove them all together?

[2016-03-14 15:54] jenniferthibault commented on #1088
To be clear, I want to make sure we know that we are really talking about three highly inter-related issues:
1. Redesigning the data table header space pattern to take up less space
2. Redesigning the filter panel interaction to encourage users to hide it more often
3. Designing the subnavigation

[2016-03-14 16:10] noahmanger commented on #1124
I think they should work like the others and just uncheck the checkbox. @jenniferthibault do you agree?

[2016-03-14 16:14] jenniferthibault commented on #1124
I don't have real data on this, but I interpret "Clear filters" as start from a clean slate, which to me indicates the checkboxes are removed altogether, since a user might then be intending to start an entirely different search.

What's your thoughts on why they should stick around @noahmanger ?

[2016-03-14 16:23] noahmanger commented on #1124
Well the current behavior is that for checkboxes generated from dropdowns, when cleared, they still stay visible. So my argument is just for consistency.

[2016-03-14 19:12] jenniferthibault commented on #1124
When cleared by x'ing out of the filter tag that's generated? Or when cleared by deselecting it from the dropdown list?

When deselecting from the dropdown list, I'd also expect the checkbox to stay. When clearing it as a filter tag I'd expect the checkbox to go away.

If this is introducing a minutiae interaction we hadn't distinguished before, I'm ok with leaving it as is! Just wanted to make su

[2016-03-14 22:18] noahmanger commented on #1124
Yeah, whether you clear it by X-ing out a tag or by unchecking the box, it stays. Right now we're not distinguishing between the two, so I'd like to keep it as is.

[2016-03-14 22:27] jenniferthibault commented on #1124
:+1:

[2016-03-15 03:28] evankroske commented on #1052
I'm working on this. The issue is caused by a call to `preventDefault` from the event listeners on the tabs. The plan:
- [ ] Move tablist initialization from top-level scope to exported function.
- [ ] Write tests for tablist.
- [ ] Change tablist to use anchor links and popstate instead of pushState.

[2016-03-15 03:33] noahmanger commented on #1052
Thanks, @evankroske ! Sounds like a great place to plug in. This is really old code, so it will be great to get it updated and tested.

[2016-03-15 14:05] ccostino commented on #1124
Awesome, thanks @noahmanger and @jenniferthibault!

[2016-03-15 21:22] AmyKort commented on #1122
This is slightly modified language from our Public Funding brochure. Can we turn this into something we like?

Public funding of Presidential elections means that qualified presidential candidates receive federal government funds to pay for the valid expenses of their political campaigns in both the primary and general elections. Prior to the 2016 presidential election, national political parties

[2016-03-15 21:48] emileighoutlaw commented on #1122
I love that definition. So plain language!

What do you think about that? The word valid immediately makes me want a definition of "valid", while "certain" makes me feel less like that. But that's an anecdotal feeling.

[2016-03-17 13:51] LindsayYoung opened #1135 "Staging bugs release/public-beta-20160316"
Keeping track of them here:
 - [x] calendar works with chrome but not firefox
 - [x] schedule b not showing up in browse view
 - [x] schedule e not showing up in browse view

[2016-03-17 13:52] LindsayYoung commented on #1135
I'm looking at schedule b first.

[2016-03-17 15:49] jenniferthibault opened #1136 "So that users can make faster comparisons, add percentages to contributions on committee pages"
This is likely a task for down the road when we revisit committee and candidate pages, but wanted to log it now:

<img width="813" alt="screen shot 2016-03-17 at 11 48 05 am" src="https://cloud.githubusercontent.com/assets/11636908/13851862/2bdd4912-ec36-11e5-8cd2-912219a2912e.png">

h/t @LindsayYoung

[2016-03-17 17:20] AmyKort commented on #1122
How about:

Public funding of presidential elections means that qualified presidential candidates may elect to receive federal government funds to pay for certain expenses of their political campaigns in both the primary and general elections. Prior to the 2016 presidential election, national political parties could also receive federal money for their national nominating conventions.

[2016-03-17 17:27] emileighoutlaw commented on #1122
Would it be possible to say "choose" rather than "elect." Since we are talking about "elections", I think it will be helpful to the reader?

[2016-03-17 17:28] AmyKort commented on #1122
Sounds good!

[2016-03-18 23:28] noahmanger commented on #1136
:+1: Adding to the icebox until we pick up that priority.

[2016-03-18 23:42] #1020 closed

[2016-03-19 00:04] noahmanger commented on #1127
Forgot to respond to this earlier, but thanks! I totally agree and this is something we've heard a lot before. We have a place on the story map for this, and will address it once we prioritize that theme.

[2016-03-19 00:06] noahmanger commented on #1129
Where are we at with this? Do we want to address this this sprint @LindsayYoung ?

[2016-03-19 00:09] noahmanger commented on #1123
Sounds like we've captured all of these issues in other places, so I'm closing this. Thanks!

[2016-03-19 00:09] #1123 closed

[2016-03-19 00:10] noahmanger commented on #1120
I'm not familiar at all with it. In the interest of removing cruft, I vote to just drop it.

[2016-03-19 00:11] noahmanger commented on #1062
Since this is included in the master spreadsheet, I'm going to close the issue, as we'll address it as we work through that spreadsheet.

[2016-03-19 00:11] #1062 closed

[2016-03-19 00:15] noahmanger commented on #1122
Resolved.

[2016-03-19 00:15] #1122 closed

[2016-03-21 13:40] ccostino opened #1139 "Use autopilot for zero-downtime deploys"
We recently merged an updated to the [openFEC API](https://github.com/18F/openFEC/pull/1516) that uses the `autopilot` CloudFoundry plugin for zero-downtime deploys.  We'd like to incorporate the same functionality here in the openFEC web app.

h/t to @jmcarp for all of the initial work on the API side!

[2016-03-22 22:10] noahmanger commented on #1088
Long post alert :rotating_light:

There's a bunch of challenges we're trying to solve for when it comes to navigation:

1. Provide users with a clear sense of place in the hierarchy of all the pages (particularly the datatable pages)
2. Enable users to move between the different parent, children and sibling datatable pages.

Rather than trying to solve both of these challenges with a sub-navigatio

[2016-03-23 19:18] jenniferthibault commented on #1088
I'm all for trying this approach out! It seems like the interaction for discovering the child categories in the menu (such as the elements under `Advanced Data Tables` would be improved by hover functionality instead of click. InVision does have this option for hotspots, what do you think?

Open questions in my mind are how we handle categories with many siblings gracefully, such as Essentials lis

[2016-03-23 19:34] noahmanger commented on #1088
Good call on hover. I'll add that.

I just talked about the breadcrumbs in my critique, and I think it may actually work best to simply not include the `Siblings` there. It keeps the breadcrumbs more focused, and avoids tricky problems when there's many many siblings.

[2016-03-24 14:17] evankroske commented on #1088
Hover doesn't work on iOS.

[2016-03-24 14:23] jenniferthibault commented on #1088
V true. We could have the expanded states initiate on tap for mobile/tablets. We do most of our usability testing on desktop (remotely) through screenshare, which is why we're leading with these for prototypes. I know @noahmanger also has mobile mockups waiting in the wings

[2016-03-24 15:07] emileighoutlaw commented on #1088
My immediate thought is

Search a name or ID

That inclination is coming from trying to keep consistent language across all our filtering options. Do y'all think that's too technical sounding?

[2016-03-24 20:39] noahmanger commented on #1088
@emileighoutlaw the other headings are more categorical descriptions of the _type_ of thing you're looking at. Because so many people come to the site looking for one particular thing, I think it's good to draw them to that as the place to find those individual records.

Profiles _kind_ of gets at that, but it's weird.

That said, I think we _are_ talking about a departure from the way we've been

[2016-03-24 22:02] emileighoutlaw commented on #1088
Okay — another long post coming (sorry :/ )

I completely see what you're getting at. This is a tricky one because the `Profiles` section is for both individual candidates as well as groups, so any word that implies "human" won't work. Meanwhile, technically accurate words like "filer" or "registrant" are too user unfriendly.

"Profile" does seem close (but I agree, not quite right). Everything el

[2016-03-24 22:58] noahmanger commented on #1088
:thinking_face: "Finder" is interesting. Though sounds a little vague to me. A couple other ideas:

- Candidate and Committee Finder (very close to the current Candidate and Committee Viewer)
- Candidate and Committee Profiles
- Candidate and Committee Pages
- Candidate and Committee Records

I might like the "pages" option the most.

Interesting note on the "Start exploring button". What I was go

[2016-03-25 00:50] noahmanger commented on #1088
Update: I just added a second option for how this could work that we can test, as well as the mobile designs, which are probably worth testing as well (even though it uses a familiar pattern).

[2016-03-25 19:37] #1135 closed

[2016-03-25 21:22] noahmanger opened #1143 "Add a trigger for the ethnio signup form"
So that users can sign up to help with usability testing even after they close the ethnio pop up, add a button to either the footer or the feedback box to trigger the popup.

**Tasks:**
- [x] @jenniferthibault can you find a good place for this to go?
- [x] I'll add it on the web app
- [x] Add it on the CMS

[2016-03-28 13:55] emileighoutlaw commented on #1143
Do we want to just have content on the button? It seems like maybe we need a button and a little microcopy, something along the lines of

Help improve betaFEC (text)
[Sign up for a sneak peek] (button)

[2016-03-28 14:05] emileighoutlaw opened #1144 "Consider consolidating code for feedback tool"
Looks like this old feedback page may be ready for deletion:
https://github.com/18F/openFEC-web-app/blob/64a6d02e77e6edd81f217f0ef10f9dae2438950d/openfecwebapp/templates/feedback.html

For reference, I believe this is the current page that we're using:
https://github.com/18F/fec-style/blob/9480b11322a385e0f8e3ced7b02ffa52ae5e8b4c/js/templates/feedback.html

[2016-03-28 14:16] jmcarp commented on #1144
Those files do different things--the first formats the comment for submission to github as markdown, and the second shows the comment dialog on the site as html. We're using both. If there's time to review #1110 later on, we'll be able to delete the first file.

[2016-03-28 14:32] emileighoutlaw commented on #1144
Ahhh okay, that makes complete sense. Thanks so much for clarifying, Josh.

[2016-03-28 20:22] noahmanger commented on #1143
I like that idea!

[2016-03-28 21:51] LindsayYoung commented on #1082
This is working :)
https://beta.fec.gov/data/elections/house/MN/08/2014/?tab=comparison
![screen shot 2016-03-28 at 5 47 44 pm](https://cloud.githubusercontent.com/assets/4406333/14091329/a957d0c6-f50d-11e5-8d0b-07137339f421.png)

[2016-03-28 21:51] #1082 closed

[2016-03-29 14:59] jenniferthibault commented on #1088
Late to the party, but I LOVE ALL OF THESE

- Candidate and Committee Finder
- Candidate and Committee Profiles
- Candidate and Committee Pages
- Candidate and Committee Records

I think "pages" is my least-preferred option, because that describes a website element more than the information on it. @emileighoutlaw what about a content test for these?

[2016-03-29 19:31] emileighoutlaw commented on #1088
I think testing is a *fantastic* idea, because I was struggling to decide which I thought was better.

@brethauer, what do you think? My first thought is that (without having to do mockups) we could take just a few minutes to ask our users this week what they think they'd find behind each of these.

Jen and Noah— would the visual design be okay if that one section of content is so much longer than

[2016-03-29 20:23] brethauer commented on #1088
@emileighoutlaw yes! I think a simple content test could work- we probably would want to have a bit of context (could just be some text before or after) so it'd not totally devoid of context that might be important to decoding?

Before diving back into the specifics of how to test, I'd like to make sure I understand everything we want to try to learn this week.  If I'm understanding/following this

[2016-03-29 21:50] emileighoutlaw commented on #1088
Yes yes! Thanks for jumping in Nick!

Everything you brought up about the breadcrumbs is spot on, but I think my usability eye was specifically focused on the "candidate and committee" language options. Basically, those options are for the top navigation on the beta site— so if someone were to click into the navigation menu and type "Hillary Clinton" into the accompanying search box (which we're t

[2016-03-30 08:06] noahmanger commented on #1088
Sorry for the late response on this. Nick's right in that the main thing we're trying to figure out this sprint is:

A) navigate between datatable pages
B) understand their current place (on the site)

The question of the exact wording of the "Candidate and Committee Thing" is important, but isn't as important as settling on an overall navigation pattern that will allow us to move forward with the

[2016-03-30 13:37] AmyKort opened #1146 "Duplicate transaction entries resulting from amendments"
It appears if the committee amends a report, the transactions can be duplicated on the results page. For example, there should only be one entry for 1/14 and 1/6:
https://beta.fec.gov/data/receipts/?contributor_type=individual&contributor_name=Enrico%2C+Roger&min_date=01-01-2015&max_date=12-31-2016

[2016-03-30 14:22] emileighoutlaw commented on #1088
I hear you, Noah. Definitely agree that navigation tasks should take precedence over the small content question. I am also hopeful that the content question will take only ~3 minutes and provide us some nice clarity. Perhaps we can move it to the end of the test?

[2016-03-30 16:11] jenniferthibault commented on #1143
Here's how we could integrate that call to action in the feedback tool. It would need to be placed on two screens—once on the first feedback screen, once on the submitted/success screen.

![screen shot 2016-03-30 at 12 10 36 pm](https://cloud.githubusercontent.com/assets/11636908/14149077/7486cbfe-f670-11e5-899a-5c8c34a89f10.png)

We already had a lot of that language on the feedback tool screen,

[2016-03-30 17:38] emileighoutlaw commented on #1143
Love this Jen! It's so much easier to work with the language when I can envision the design. _Thank you._

How about for the first page (initial popup):

And then on the submission screen:

or

[2016-03-30 21:22] brethauer commented on #1088
Awesome!  So tomorrow we'll do:
1) Navigation: ~5 or so min
2) Content: 3 min
3) Continue concept testing from last week with remaining time

@emileighoutlaw let's sync up with our time in the morning to write the content & navigation test

[2016-03-31 00:25] noahmanger opened #1147 "Add Individual Contribution datatable page"
Using the filters and columns currently available, make a new datatable page for individual contributions.

[2016-03-31 00:25] noahmanger opened #1148 "Make operating expenditures datatable page"
Using the current filters and columns available, make an operating expenditures datatable page.

[2016-03-31 00:37] noahmanger commented on #1143
:+1: sounds good! Hope to get to this tomorrow.

[2016-03-31 17:56] LindsayYoung opened #1149 "Downloads should expire"
Noticed, but not huge deal, If you download something and come back to the site the next day, the download will have expired but the link will still be in the footer and it won't work anymore because the resource expired. It would be good if the downloads got cleared out after a day.

[2016-03-31 21:25] noahmanger opened #1151 "Identify system for tracking and publishing release notes"
In order to better communicate both internally (with FEC and the various 18F teams) and externally around our releases, I want to begin a more rigorous practice of writing up human-readable release notes and publishing them some place visible.

I could see a few options for how to do this:

1. Use GitHub's built in release-tagging and notes feature
2. Simply maintain a file of markdown release not

[2016-04-01 19:15] #1088 closed

[2016-04-01 20:05] #1144 closed

[2016-04-01 20:14] noahmanger opened #1153 "Visual design of site menu"
Usability testing revealed a couple key insights, and we're now ready to move this forward into visual design and then implementation.

First, there was a pretty strong signal that users preferred Option B, where all pages are listed out:
![b - nav - 1](https://cloud.githubusercontent.com/assets/1696495/14222316/35b21ed2-f824-11e5-98a5-793591ed475e.png)

This view immediately gives them a clearer

[2016-04-01 20:16] noahmanger opened #1154 "Implement new breadcrumbs"
Implement breadcrumb pattern on web app pages, and update on CMS to ensure consistency.

Dependency: [visual design](https://github.com/18F/openFEC/issues/1595)

[2016-04-01 23:05] noahmanger opened #1155 "Implement new site menu"
Code the new dropdown menu system with links to datatable pages that currently exist.

- [x] Implement on CMS
- [x] Implement on web app

Dependency: [Visual design](https://github.com/18F/openFEC-web-app/issues/1153)

Next step:
- [ ] Implement mobile version after verifying in testing

[2016-04-01 23:44] #1108 closed

[2016-04-04 14:09] #1026 closed

[2016-04-04 17:57] jenniferthibault opened #1157 "Create research readout or documentation (for dashboard design and other direction setting research)"
We should be capturing what we're learning about the dashboard design as it's in progress:
- research approach
- what we've tested and what we've learned
- overall conclusions

We have various synthesis documents, but this feature is so big and so large that we (and future us) will benefit a lot from a clearly organized, external-facing research readout.

cc @noahmanger @emileighoutlaw @brethauer

[2016-04-04 18:22] emileighoutlaw commented on #1157
This is a great idea, and I'm so glad you brought it up, Jen.

I'd love to know what (if any) kind of templates projects use to capture and store usability results for future reference. @brethauer, do you have any experience putting together documentation like this?

[2016-04-04 18:27] emileighoutlaw opened #1158 "Content: Microcopy consistency on data filters"
We've been looking at our microcopy for some time now in this spreadsheet: https://docs.google.com/spreadsheets/d/1-LjKQy3dOJI9FJmrhNEfgsr-uD7HzzH0qf1zpo3azTE/edit?pli=1#gid=1066620775

We've got great ideas for ways we can improve the user experience through consistency of language— now we need to implement those ideas. :)

[2016-04-04 20:18] brethauer commented on #1157
Yes! This has been on my to-do list (to aggregate all of this last couple week's worth of research/synthesis into one place.)  Thank you for the nudge! :+1:

[2016-04-04 22:55] LindsayYoung opened #1159 "election links from candidate table?"
During the run through, I thought it would be cool to link the office to the election page in candidates. That might help people find the election pages. Stashing this idea here for later.

[2016-04-04 23:02] noahmanger commented on #1159
👍

[2016-04-04 23:57] noahmanger opened #1160 "Show individual contributions and refunds together"
No idea if this is feasible, but there was a suggestion from the FEC to include individual contributions and refunds together in a view. This way, if someone contributed over the max, and then was refunded, it would be all visible together and the user could make more sense of what happened.

[2016-04-05 22:58] noahmanger commented on #1143
I was going to tackle this, but then realized we should wait until this is merged in: https://github.com/18F/openFEC-web-app/pull/1110

[2016-04-06 22:59] noahmanger commented on #1148
@LindsayYoung / @PaulClark2  do we already have a filter to limit a query to operating expenditures? I can't find it.

[2016-04-06 23:36] PaulClark2 commented on #1148
I don't think we do but @LindsayYoung will need to confirm. It's a fairly straightforward query.  We need to select all the uncategorized transactions on Line 17 of Form 3, Line 23 on Form 3P and Line 21 on Form 3X.

Here's how we are doing it for the bulk download file (http://www.fec.gov/finance/disclosure/ftpdet.shtml#a2015_2016)

FROM f_item_receipt_or_exp f_item
JOIN f_rpt_or_form_sub frpt ON

[2016-04-07 23:50] #1139 closed

[2016-04-08 00:39] noahmanger commented on #1148
@LindsayYoung do you know if we have this already?

[2016-04-08 14:59] jenniferthibault commented on #1153
ping :bell:  @emileighoutlaw — I'm starting the visual design of this, which means we should look more seriously at finalizing the copy for:
- Each page title/nav item title
  - What are the sub-nav items that are concise but specific and clear? Lookin' at you, "Most recent form 1's" which is convoluted and references unhelpful form numbers. In earlier IA mockups, I had used full titles instead of

[2016-04-08 16:44] jenniferthibault commented on #1153
@emileighoutlaw this is a work in progress, but wanted to show how things are moving around so that you can start mingling design & content thoughts.

![screen shot 2016-04-08 at 12 35 14 pm](https://cloud.githubusercontent.com/assets/11636908/14390702/67d511be-fd86-11e5-8166-2d016de8aeec.png)

One design decision I've altered, is that if we're grouping the button (previously, "start exploring") w

[2016-04-08 16:48] jenniferthibault commented on #1153
I should add that I'm also working on mobile mockups!

[2016-04-08 20:12] jenniferthibault commented on #1153
Ok! Some small line weight and typography changes to the desktop view. I'm going to continue making icon tweaks next week so that this can move forward.

![desktop - nav 1](https://cloud.githubusercontent.com/assets/11636908/14396155/002468b2-fda4-11e5-8590-50bf40e3cadb.png)

**Mobile mockups:**
Questions on my mind:
- do we need a direct link to get people back to the home nav screen if they're t

[2016-04-11 04:47] konklone commented on #1055
I just noticed this in the console for beta.fec.gov myself. Since the error says "The default protections will be applied.", I think that means that the `X-Xss-Protection` header is functionally inactive while this bug is present.

That said, it's very difficult for me to figure out what this header actually does. It [seems to](http://zinoui.com/blog/security-http-headers#x-xss-protection) trigger

[2016-04-11 17:28] emileighoutlaw commented on #1153
I've been lost in meetings but haven't forgotten this! I'm on it today!

[2016-04-11 18:44] emileighoutlaw commented on #1153
Warning— long post of copy notes. (Please let me know if there's a better place to leave these!)

Also, asking for y'alls thoughts on every line seems insane. So I put forth the below as my recommendations, with the caveat that I'd love to hear if you disagree on anything.

### Interactive overviews
- Lowercase `o` for `overviews`
- `Election fundraising and spending` (as the microcopy)
    - _Rea

[2016-04-11 21:16] #1158 closed

[2016-04-12 00:00] brethauer commented on #1157
@jenniferthibault see: https://github.com/18F/openFEC/issues/1596 and https://docs.google.com/document/d/1Pt-0TtdxS1RpKj_s-0vdAWFwMRLtaQeqG2MO-6B9DqA/edit#

[2016-04-12 00:13] noahmanger commented on #1157
Excellent. Thank you @brethauer . Closing this.

[2016-04-12 15:28] jenniferthibault commented on #1157
@noahmanger sorry I don't think this was ready to close yet. Reopening for discussion & refinements.

@brethauer @emileighoutlaw I read through and left comments and feedback in the doc. I love having all the things we've learned and done in one spot! My comments probably seem like a lot...but I'm trying to approach this with the mindset of someone who didn't sit through many of the interviews, an

[2016-04-12 17:23] noahmanger commented on #1157
Oops! Sorry for jumping the gun on this. Really good, thoughtful points @jenniferthibault . Really helpful to have your perspective on it, and agree throughout that further clarification will be good to document (especially with screenshots).

Only thing I'm wondering is to what extent do we want this to be a living document? As we talked about at the beginning of this work, this is a continuous d

[2016-04-12 17:34] jenniferthibault commented on #1157
Yes! Those totally overlap with some of my "where does this live" type questions. Probably a larger question to how/where we _should_ gather this and future things like this, that I'd love @brethauer 's take on!

[2016-04-12 20:16] noahmanger opened #1179 "Implement replacement for selenium tests"
Once upon a time we had Selenium tests. They were slow, brittle and not helpful, so we removed them. We should implement a replacement now, though, for basic tests.

Let's use this issue to discuss a strategy we want to use and then we can make new issues for implementing them.

CC @adborden @ccostino @anthonygarvan @LindsayYoung

[2016-04-12 22:04] jenniferthibault commented on #1153
Alrighty, here's the above changes implemented after Emileigh and I talked through it:

![desktop - nav 1 copy](https://cloud.githubusercontent.com/assets/11636908/14476911/9e1288ce-00d8-11e6-9afc-5f2b24a1ba18.png)

@emileighoutlaw one more content question I think we both missed:
`Form 5 filers only` (under `Report summaries` ) — This feels like it needs a plain language translation like we did w