[2015-09-10 17:54] noahmanger commented on #360
PR updated to reflect these changes https://github.com/18F/openFEC-web-app/pull/604

[2015-09-10 17:59] noahmanger commented on #621
Ah oops. Fix coming.

On Thu, Sep 10, 2015 at 10:51 AM, Wei Luo <notifications@github.com> wrote:

--
Noah Manger
18F <http://18f.gsa.gov> | Work: 415-696-6146

[2015-09-10 18:36] noahmanger opened #622 "Explain which itemized transactions and aggregates we're showing"
We currently don't show itemized transactions and aggregates for anything before 2011. Wherever we end up drawing the line, we need to explain that to the user. So if you're looking at an old election or old committee page, we should have a way of explaining why the receipts and disbursements tabs are empty.

Tasks:
- [x] @jmcarp Identify where the cutoffs are
- [ ] @jenniferthibault and I work on

[2015-09-10 18:37] noahmanger commented on #622
I think this makes sense to try to get for launch, but could be ok to wait.

[2015-09-10 19:12] jmcarp commented on #360
Merged #604.

[2015-09-10 19:12] #360 closed

[2015-09-10 19:57] wluoFEC opened #624 "Registration and reporting - RFAI link is not working (dev site)"
![image](https://cloud.githubusercontent.com/assets/7440932/9799323/6ad03f36-57d4-11e5-9708-2d435a0bdd75.png)

[2015-09-10 21:04] jenniferthibault commented on #529
@noahmanger could use your interaction expertise on the tooltip, since it's quite long.
Here's a mockup of two ways to make it activate: 1- by floating over the content in the sidebar, 2- by pushing the content down in the sidebar. My hunch is that the first one is better, but is there a better approach I didn't think of?

Does it need a close "x"? How else would the user get out of the tool?

![s

[2015-09-10 21:44] #621 closed

[2015-09-10 21:45] #601 closed

[2015-09-10 23:00] noahmanger commented on #572
I'm running into snags trying to get the `scrollX` working. @jmcarp do you mind taking a look?

[2015-09-10 23:40] noahmanger commented on #550
Thanks for pointing this out, David. The cursor no longer changes when hovering over these column headers so I'm going to close.

[2015-09-10 23:40] #550 closed

[2015-09-10 23:42] noahmanger commented on #555
We need to add a way to do this to terms on the CMS pages. @jmcarp any idea how best to do this? Elsewhere we just wrap them in a span with special data attributes.

[2015-09-10 23:45] noahmanger commented on #552
This is now fully implemented!

[2015-09-10 23:46] #552 closed

[2015-09-10 23:46] noahmanger opened #627 "Implement all links on cards on data landing"
All of the various browse links need to either be implemented or removed. Some of them require being able to set sort order in the url. If we can add that, great, but it's ok to just remove them.

[2015-09-11 12:10] PaulClark2 opened #630 "Inconsistent "Campaign finance data" drop down menus"
The left menu - cms
The center menu  - openFEC
Right menu - beta Home Page

![untitled](https://cloud.githubusercontent.com/assets/11817734/9814487/8240365c-585c-11e5-994a-807ee435df37.png)

[2015-09-11 12:24] PaulClark2 opened #631 "Inconsistent Terminology and Order -- data drop down menu and data landing page"
For example, in the drop down "browse candidates"  on the Landing Page "candidate data -- all candidate data"  Are these the same?  --- I know they are.  However, using different terminology may lead to confusion.   If the link takes a user to the same place / data / search functionally we should use the same terminology for it.  There are other inconsistencies on the page.

![datalanding dropdown

[2015-09-11 13:46] jenniferthibault commented on #529
One more option that allows the tooltip to leave the confines of the sidebar. Crazy!

![screen shot 2015-09-11 at 9 45 01 am](https://cloud.githubusercontent.com/assets/11636908/9816270/f542655a-5869-11e5-8e55-4bd5cac4cb25.png)

[2015-09-11 14:15] AmyKort opened #632 "Formatting on Terminate your Committee Page"
On the Terminate your committee page (https://fec-dev-cms.18f.gov/registration-and-reporting/terminate-your-committee/) there are two spots that should be bullet lists (or something).

You can file a termination report when your committee meets all of these criteria:

   [Bullet] You no longer intend to take in contributions.

   [Bullet]  You no longer intend to make expenditures.

    [Bullet] Y

[2015-09-11 14:19] jenniferthibault opened #633 "Text change in alert link on search for candidates and election by location"
Detail patrol:

On Search for candidates and election by location:
In the alert for a zip code that has multiple district, change link styling to keep it short, hide the `http://www.`, and capitalize "House"

Current:
Find your district on [https://www.house.gov](https://www.house.gov).

Change to:
Find your district on [House.gov](https://www.house.gov).
@emileighoutlaw is the capitalization of "

[2015-09-11 14:27] AmyKort opened #634 "Typo on Registration Options Page"
At the top, "By law, certain groups must register with the FEC and file regular reports about their campaign financial activity" should read "By law, certain groups must register with the FEC and file regular reports about their campaign FINANCE activity"

https://fec-dev-cms.18f.gov/registration-options/

[2015-09-11 14:29] jenniferthibault opened #635 "Fix pagination on outside spending tab"
The left/right buttons are loading and working, but the page numbers (1, 2, 3, 4) are not. See bottom right of screenshot below

https://fec-dev-web.18f.gov/elections/president/2016/?tab=spending

![screen shot 2015-09-11 at 10 27 15 am](https://cloud.githubusercontent.com/assets/11636908/9817251/bf10c034-586f-11e5-9f8b-a749b0898a24.png)

[2015-09-11 14:47] #578 closed

[2015-09-11 15:03] jmcarp commented on #555
One option would be adding a custom button to the wagtail rich text editor, e.g. next to the "Links" button. You'd select some text, click the "glossary" button, and specify a glossary term. Example of custom buttons here: https://jossingram.wordpress.com/2014/07/24/add-some-blockquote-buttons-to-wagtail-cms-wysiwyg-editor/

[2015-09-11 15:09] AmyKort opened #636 "Need bullets on Mandatory electronic filing page"
For all other filers, electronic filing is required if you meet any of the following criteria:

   [Bullet] You’ve raised or spent more than $50,000 this calendar year.

  [Bullet]  You raised or spent more than $50,000 in either of the last two calendar years.

    [Bullet] You’re a new committee, and at the end of the first quarter you’ve raised or spent more than $12,500.

   [Bullet]  You’re a

[2015-09-11 15:26] AmyKort opened #637 "Language Change on File by Paper page"
On the file by paper page, the address for House candidates should be changed to delete "Electronic Filing Office."

"House candidate committees submit reports to:

Electronic Filing Office [Delete this line from the address]

Federal Election Commission

999 E Street, NW

Washington, DC 20463"

[2015-09-11 15:30] AmyKort opened #638 "Bullets on File by Paper page"
The bullets don't show up for me on this page.

[2015-09-11 15:45] AmyKort opened #639 "Missing word and chart on Learn More about Quaterly Reporting Page"
Last paragraph needs a "the":

You’ll file quarterly reports even if your candidate retires, withdraws, loses the primary or otherwise drops out of [the] race before the general election.

Also--for me, the formatting on this page doesn't work. I think the list of reports/dates was supposed to be a chart, not a list

[2015-09-11 15:47] AmyKort opened #640 "Learn More about pre-election page chart formating"
text for chart needs to be formatted as a chart

[2015-09-11 16:13] jmcarp commented on #635
This seems to be intentional (we're specifying `pagingType: 'simple'` on those tables), but I'm not sure why we're doing it. @noahmanger, is it better to hide page number buttons on the "other spending" tables?

[2015-09-11 16:14] noahmanger commented on #555
Oh yeah, that sounds like a great solution. Also, I love that that site is a Wordpress :)

[2015-09-11 16:19] noahmanger commented on #635
I don't remember making a conscious decision to do that, but if I did it
would've just been to reduce clutter. I'm fine with either approach.

On Fri, Sep 11, 2015 at 9:13 AM, Joshua Carp <notifications@github.com>
wrote:

--
Noah Manger
18F <http://18f.gsa.gov> | Work: 415-696-6146

[2015-09-11 16:20] noahmanger commented on #639
Oh yep. The problem is that the CMS doesn't currently support doing table layouts, but we're going to add it. Thanks for reminding!

[2015-09-11 16:22] noahmanger commented on #638
There's a patch for this just waiting to be merged. Thanks!

[2015-09-11 16:22] AmyKort commented on #639
Thanks--I'll stop flagging those.

From:   Noah Manger <notifications@github.com>
To:     18F/openFEC-web-app <openFEC-web-app@noreply.github.com>,
Cc:     AmyKort <akort@fec.gov>
Date:   09/11/2015 12:21 PM
Subject:        Re: [openFEC-web-app] Missing word and chart on Learn More
about Quaterly Reporting Page (#639)

Oh yep. The problem is that the CMS doesn't currently support doing table
layou

[2015-09-11 16:23] noahmanger commented on #639
Please do keep flagging anything with spelling issues though!

On Fri, Sep 11, 2015 at 9:22 AM, AmyKort <notifications@github.com> wrote:

--
Noah Manger
18F <http://18f.gsa.gov> | Work: 415-696-6146

[2015-09-11 16:24] jmcarp commented on #635
Ambien paging™

[2015-09-11 16:25] jmcarp commented on #635
More seriously, we need to use simple paging (back and forward, but no page numbers) for the very large tables (itemized receipts and disbursements), since the database doesn't support arbitrary page selection in those cases. I'm wondering whether we copied that setting from the itemized tables to other tables that do support paging by number. Maybe we should allow paging by number for all tables

[2015-09-11 16:26] noahmanger commented on #630
Good catch. This has been fixed but is just waiting to be deployed.

On Fri, Sep 11, 2015 at 5:10 AM, Paul Clark <notifications@github.com>
wrote:

--
Noah Manger
18F <http://18f.gsa.gov> | Work: 415-696-6146

[2015-09-11 16:30] jmcarp commented on #445
I sent a patch to use nicer legend tick marks in #642, and @noahmanger has picked out a better color scale. Now that I'm reading this again, the discussion about the number of bins isn't relevant just now, because the color scale is continuous--even though we show a fixed number of colors in the legend, we actually allow states to have colors that are between those bins. So adding more bins won't

[2015-09-11 16:33] jmcarp commented on #591
Agree with @PaulClark2 about switching to Congressional candidates in 2017, but not sure we want to implement that piece now. Thoughts @noahmanger?

[2015-09-11 16:37] noahmanger commented on #591
Yeah, I agree that can wait.

On Fri, Sep 11, 2015 at 9:33 AM, Joshua Carp <notifications@github.com>
wrote:

--
Noah Manger
18F <http://18f.gsa.gov> | Work: 415-696-6146

[2015-09-11 16:45] #591 closed

[2015-09-11 18:29] jmcarp opened #643 "In order to speed up development of future election page features and prevent regressions, refactor and unit-test election pages."
The current election maps (on the committee detail page and election candidate comparison page) are in need of a refactor to the more recent style of class-based widgets. This will make testing easier and speed up development on future enhancements to the maps.

Related, and before we write any code for this issue, I think we should discuss the different ways we're making maps for different parts

[2015-09-11 19:15] jmcarp commented on #643
Thanks for the summary @shawnbot! When we first started on maps for this application, we didn't need panning, zooming, or tiles, so d3 made the most sense. Then we added leaflet when we implemented features that required all of the above. Sounds like using leaflet for all our maps is the way to go once we have time for this refactor.

[2015-09-11 19:20] #638 closed

[2015-09-11 21:28] jenniferthibault opened #645 "In order to help users understand the map comparison, clarify interaction of contributions comparison map(s)."
@noahmanger and I realized that the interaction was a bit clunky, and we could remove a click-step for users. Here's the idea:
#### Current view:

<img width="1147" alt="screen shot 2015-09-11 at 5 18 20 pm" src="https://cloud.githubusercontent.com/assets/11636908/9826579/6966e2c8-58a9-11e5-8030-fd69230d1922.png">
#### Proposed new interaction & design

This is the default map view: no candidate i

[2015-09-11 21:33] jenniferthibault commented on #643
That is a really nice election map!! I'm all for using the same map tool, since that will mean more visual consistency as well.

[2015-09-11 21:46] jenniferthibault commented on #635
To recap our convo and make sure I understand it right, we're going to:
 - Only offer paging by number on browse data tables. Else, they'll just have the forward page/backward page button.

Is that right @jmcarp ? or do i have that reversed?

[2015-09-11 23:01] jenniferthibault commented on #617
Based on this and a few other things we heard in usability testing, I have a few proposed design tweaks (based on a quick consultation with @onezerojeremy ):

 - Include a tag field where users can x out of filters they've selected, possibly including a "clear all" button. Here the year range shouldn't be able to be x'ed out of, because there's no scenario where we'd show all Massachusetts (or sta

[2015-09-11 23:21] PaulClark2 opened #646 "Data: Right now in the 2016 presidential election"
Data Landing Page “Right now in the 2016 Presidential Election” Data Needs Updated
Need to update the data on data landing page—not 16 candidates, etc.

https://fec-dev-web.18f.gov/

![pres-right-now](https://cloud.githubusercontent.com/assets/11817734/9828371/3cc42a26-58ba-11e5-8af0-1d72156edf69.png)

[2015-09-11 23:26] PaulClark2 opened #647 "Browse Candidates: Adding Star for incumbents"
On browse candidate pages, there isn’t a place on the page that tells you what the star means. In cases where a candidate is listed as having more than one election year, the star is meaningless or just confusing.  What election year does the star apply to?

https://fec-dev-web.18f.gov/candidates?cycle=2016

![stars](https://cloud.githubusercontent.com/assets/11817734/9828401/d63f3f1a-58ba-11e5-88

[2015-09-11 23:29] PaulClark2 opened #648 "Fundraising Comparison for Presidential Election"
The list of Candidates to Compare is ordered according to top receipts. It looks like it is in columns, so you want to read down the columns. Clinton first, then Bush.  But, the right order is when you read across. We found this confusing. Also, on the presidential map, we put the dollar amount next to each name so people understand why candidates are presented in a particular order. We think this

[2015-09-11 23:35] PaulClark2 opened #649 "Presidential Contribution by size sort order"
Why is the sort order of the presidential candidates different from the list right above of the break-out by size?  It seems we should pick general sort order -- alpha or most money or least money -- and that should the sort order users are presented with by default.   The user can then change the sort order.

![contrib-by-size](https://cloud.githubusercontent.com/assets/11817734/9828476/ee54ad50-

[2015-09-11 23:38] PaulClark2 opened #650 "So users understand the elections page Fundraising Comparison Map, alter the way candidates are added to comparison"
We found the map options confusing. It defaults to Clinton, and if you just press the “add candidate” button and don’t do the drop down, it adds Sanders. It isn’t at all clear that the logic for these choices is based on fundraising totals.  Even if I deselect Clinton the map of her financial activity is the first to appear.

https://fec-dev-web.18f.gov/elections/president/2016/

![map-compare](ht

[2015-09-11 23:43] PaulClark2 opened #651 "To accurately label the contributor location table, rework the "state" column"
Contributor Table—Location
If the label is “State,” then the things listed underneath that table need to be states (or DC). This list includes military postal codes and U.S. Territories—confusing, especially if these codes come up first. On the Candidate Viewer, we sum all of those and classify them as other. Additionally, we found the sort function confusing. The up arrow for the states organizes

[2015-09-11 23:46] PaulClark2 opened #652 "Change Tab Name - Outside Spending"
If we are including this in the demo the tab name needs to be changed from "Outside Spending" to "Other Spending."

https://fec-dev-web.18f.gov/elections/president/2016/

![other-spend](https://cloud.githubusercontent.com/assets/11817734/9828597/bb428b38-58bd-11e5-9f46-4725e8a64866.png)

[2015-09-12 00:02] PaulClark2 opened #653 "Data: Other Spending - Electioneering Communcations"
Started at 2012 Presidential Outside Spending (Other Spending) and scrolled down to electioneering communications

https://fec-dev-web.18f.gov/elections/president/2012/?tab=spending
![obama-ec-12](https://cloud.githubusercontent.com/assets/11817734/9828712/9f904428-58bf-11e5-86e5-ae7613c28f89.png)

Then selected Crossroads Grassroots Policy Strategies -- Landed on a 2009-2010 page for some reason

[2015-09-12 00:25] noahmanger commented on #652
Ah, thanks. This is addressed in an upcoming PR.

[2015-09-12 00:26] noahmanger commented on #650
Cool. We were just talking about this today. @jenniferthibault has some new suggestions here: #645

[2015-09-12 00:29] noahmanger commented on #649
In the list above, it's sorted by amount raised and the table below it's sorted by the first column, which is amount raised from $200 and under. But I hear you and am open to a consistent order. We just need to think through it.

Also, sort arrows are notoriously confusing. The "Down" arrow could mean "Descending" (highest to lowest) or it could mean "Lowest" (lowest to highest). Not sure which is

[2015-09-12 00:29] jenniferthibault commented on #650
Yes! :+1:

[2015-09-12 00:32] jenniferthibault commented on #632
This is happening on a few pages that stem from the checklist. We need to take a pass at formatting them all—I believe they are all unstyled right now.

[2015-09-12 00:38] jenniferthibault commented on #648
Ohhh interesting. Do we want to list them here in order of receipt amount, or alphabetical?

[2015-09-12 00:40] jenniferthibault commented on #649
This crosses over with #648 — Can we list candidates in the check box field alphabetically so that it avoids this confusion?

[2015-09-12 00:46] jmcarp commented on #653
Thanks for reporting. Here's what's going on:

* The cycle defaults to 2009-2010 because this committee's only F1 was filed in 2010
* No reports show up because this committee has no reports in `factpacsandparties_f3x`

If you look up this committee in FEC Viewer, we get the same message: "No financial activity reported."

We can change either of these behaviors--currently, the committee detail vi

[2015-09-12 00:52] PaulClark2 commented on #653
This committee will never show up in factpacsandparties_f3x because it is a Form 9 filer.

[2015-09-12 00:54] PaulClark2 commented on #652
:thumbsup:

[2015-09-12 01:00] jmcarp commented on #653
Right, what I'm saying is that the financial reports we're currently using on the committee detail page only pull from the fact* tables--and it looks like FEC Viewer isn't using Form 9 filings either. We can easily add Form 9 data for electioneering committees, but we'll have to decide what information to show in those cases.

What's the priority of adding Form 9 data? Is this something we should

[2015-09-12 01:08] noahmanger commented on #632
List styles are now working!
https://fec-dev-cms.18f.gov/registration-and-reporting/get-treasurer/

On Fri, Sep 11, 2015 at 5:32 PM, Jennifer Thibault <notifications@github.com

--
Noah Manger
18F <http://18f.gsa.gov> | Work: 415-696-6146

[2015-09-12 01:08] AmyKort opened #654 "2016 Presidential Election Contributions by Type--errors"
For the 2016 Presidential Election Contributions by Type chart, the text reads: "Contributions by time" where it should read "Contributions by type." Also, information for Graham is incorrect (individual and committee totals). @PaulClark2 @emileighoutlaw

[2015-09-12 01:09] AmyKort commented on #632
Thanks!

Sent from my iPhone

[2015-09-12 01:10] PaulClark2 commented on #653
If that's the case then all of the electioneering communications (ECs) and communication cost (CCs) links from the "Other Spending" tab will break.  ECs file Form 9 and CCs file Form 7.   This is a presentation and internal testing problem.  These should probably be removed from the Other Spending display.

![c3-two-year-sum](https://cloud.githubusercontent.com/assets/11817734/9829216/518d1c9c-58c

[2015-09-12 01:18] PaulClark2 commented on #653
@AmyKort @wluoFEC @jwchumley should chime in.  I don't think we need to have the F9 data ready for launch but we may want to remove the EC data from the Other Spending tab because we know it's a known issue.

[2015-09-12 01:19] PaulClark2 commented on #653
FYI:   Form 9 and Form 7 filers are never required to file Form 1.  Some do (rare) if they do not file a F1 FEC generates a F1Z based on information provided on the F9  or F7.

[2015-09-12 01:19] jmcarp commented on #653
As a possible quick fix, what if we defaulted to showing the Filings tab for electioneering committees, or even hid all other tabs? The Filings tab works just fine for this example: https://fec-dev-web.18f.gov/committee/C30001655?tab=filings.

[2015-09-12 01:21] PaulClark2 commented on #653
That works for me  and it would provide users with useful information.

[2015-09-12 01:25] AmyKort commented on #653
I agree that showing only the Filings tab for ECs would work. But, if we run into problems with that, I think we should take the EC data off of the tab until we're ready.

[2015-09-12 01:40] AmyKort commented on #648
Either is fine. I think we want to be consistent and make it readily clear what the logic is. If we do order them by receipt amount, I think it really helps to have the $ total next to the candidate.

[2015-09-12 18:32] PaulClark2 commented on #653
@jmcarp communication costs have a similar problem:  https://fec-dev-web.18f.gov/committee/C70001516

[2015-09-12 18:57] jmcarp commented on #653
Thanks @PaulClark2. I've submitted a patch that hides all but the "Filings" tab for electioneering and communication cost committees in #655.

I'm thinking we should also either disable the cycle select widget for these committees (since they typically don't have many filings), or change the way we build cycle options, since we're currently using F1 filings, which don't seem to be a good fit for t

[2015-09-13 12:58] PaulClark2 commented on #645
I like this especially starting with blank maps.    @amykort

[2015-09-14 14:21] LindsayYoung commented on #653
Sounds good to me!

[2015-09-14 14:44] emileighoutlaw commented on #633
@jenniferthibault There's shockingly little guidance out there on capitalizing URLs.  There's a lot of story here, but tl;dr 18F style is: `Find your district on house.gov`

And "Zip code" should be "ZIP code."

[2015-09-14 14:54] noahmanger commented on #653
:+1:

[2015-09-14 14:55] emileighoutlaw commented on #430
Circling back around to this:

The best way I can think to differentiate these two groups is `Individuals` and `Non-individuals`. Not very sexy content. I keep getting stuck, because the non-individuals group encompasses _so many_ different types of things. Thoughts on this @LindsayYoung @jmcarp @noahmanger

[2015-09-14 14:57] emileighoutlaw commented on #631
This is an interesting thought. I don't remember this particular confusion occurring in user testing, but @onezerojeremy might be able to shed some light on whether we should consider revising language for user needs?

[2015-09-14 14:58] noahmanger commented on #430
That works for me. I could see adding a tooltip similar to the one we're adding to the "show unique only" filter that explains more?

[2015-09-14 15:13] PaulClark2 commented on #653
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC-web-app]
Data:  Other Spending - Electioneering Communcations (#653)" sent on
9/14/2015 10:21:13 AM.

This is the only notification you will

[2015-09-14 15:13] PaulClark2 commented on #653
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC-web-app]
Data:  Other Spending - Electioneering Communcations (#653)" sent on
9/14/2015 10:54:44 AM.

This is the only notification you will

[2015-09-14 15:13] PaulClark2 commented on #631
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC-web-app]
Inconsistent Terminology and Order -- data drop down menu and data landing
page (#631)" sent on 9/14/2015 10:57:35 AM.

This is the

[2015-09-14 15:16] jmcarp commented on #647
Good catch @PaulClark2. Now that you bring this up, I'm thinking we should drop the incumbent star from this page entirely, and remove the corresponding data from the API--we currently include `incumbent_challenge` in the `candidates` endpoint, but without the context of election cycle, the information isn't meaningful.

Thoughts @LindsayYoung @noahmanger?

[2015-09-14 15:18] jmcarp commented on #458
Ping @PaulClark2: do you agree that receipts, disbursements, etc. should be set to `NULL` instead of zero for filings that don't include those fields? And if so, would you prefer to change `vw_filing_history` on your side, or for us to make the change on loading the data into our own view?

[2015-09-14 15:18] emileighoutlaw commented on #639
Seconding what Noah said about missing words and spelling issues @AmyKort ! I'll go in and fix them wherever you find them!

[2015-09-14 15:23] leahbannon commented on #529
FWIW, I vote for 'Active: pushes content down' option because I usually like that interaction elsewhere.

[2015-09-14 15:26] emileighoutlaw commented on #639
Actually, since this page is in Wagtail, can you fix the missing `the` @noahmanger ?

[2015-09-14 15:26] emileighoutlaw commented on #639
(or let me know how to get in for edits?)

[2015-09-14 15:28] AmyKort opened #656 "File by Paper page Fixes"
https://fec-dev-cms.18f.gov/registration-and-reporting/file-paper/

"Always retain proof of mailing and delivery." (insert "of")

Paper copies for House and Presidential candidates are not submitted to the t E-file office and do not need to be addressed to any specific office.

There are two addresses for Senate candidate - one for hand delivery and the other for courier/express delivery (e.g., Fe

[2015-09-14 15:29] AmyKort opened #657 ""Electronic Filing" Page Fix"
https://fec-dev-cms.18f.gov/registration-and-reporting/file-electronically/

"You should expect to receive this within a few minutes of submission — contact our Electronic Filing Office if you don’t. "  Let's insert the e-file office telephone number here.  (202) 694-1307.

@emileighoutlaw

[2015-09-14 15:31] AmyKort opened #658 "Add Comma Administrative Fine Page"
https://fec-dev-cms.18f.gov/registration-and-reporting/administrative-fines/

The committee couldn’t file because of unforeseen circumstances beyond its control and, when those circumstances ended, the committee filed the late report within 24 hours. This is also called the “best efforts” defense. (insert comma after ended)

@emileighoutlaw

[2015-09-14 15:41] AmyKort commented on #530
I like Noah's idea.

@jwchumley

[2015-09-14 15:56] jmcarp commented on #635
That's my understanding @jenniferthibault. Just filed these changes in #660.

[2015-09-14 16:14] emileighoutlaw commented on #657
I think we're trying to keep contact info only on the Contact Us page. How about if we hyperlink "Electronic Filing Office" to our "Contact Us" page? @noahmanger

[2015-09-14 16:50] jenniferthibault commented on #562
ping! @emileighoutlaw : thoughts on intro text here?

[2015-09-14 16:59] PaulClark2 commented on #458
@jmcarp Ideally we would fix it on the DW side.   We may need some help from you and @LindsayYoung .   Rohan told me he was unsure how to insert null values into a Postrgresgl numeric field.  This could also be a function of the transfer process.

[2015-09-14 17:00] PaulClark2 commented on #647
:thumbsup:

[2015-09-14 17:14] PaulClark2 commented on #458
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC-web-app]
Currency filter in the tables shows $0 for nulls (#458)" sent on 9/14/2015
11:18:19 AM.

This is the only notification you will rec

[2015-09-14 17:14] PaulClark2 commented on #529
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC-web-app]
Add help text / improve language of "Unique only" filter (#529)" sent on
9/14/2015 11:23:10 AM.

This is the only notification you

[2015-09-14 17:14] PaulClark2 commented on #647
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC-web-app]
Browse Candidates:  Adding Star for incumbents (#647)" sent on 9/14/2015
11:16:04 AM.

This is the only notification you will recei

[2015-09-14 17:26] jmcarp commented on #572
@noahmanger I got a decent start on this but could use a second pair of eyes on a few last issues--see description in #661.

[2015-09-14 18:04] jmcarp commented on #646
@PaulClark2: the current views exclude candidates who haven't yet filed any financial reports. That's fixed in https://github.com/18F/openFEC/pull/1195. Could you take another look once that patch is merged and see if there's anything else that needs to change here?

[2015-09-14 18:37] jenniferthibault opened #663 "As a person navigating the site, I would like the icons to be linked buttons as well as the text"
This bug came from last week's usability tests, where a user clicked repeatedly on the circle illustration expecting it to act as a linking button. When the icon did not respond to a click, the user thought that the page wasn't working.

<img width="168" alt="screen shot 2015-09-14 at 2 29 54 pm" src="https://cloud.githubusercontent.com/assets/11636908/9858193/52df382a-5aed-11e5-95d2-d27b80439bdb.

[2015-09-14 19:07] AmyKort commented on #645
I like it too.

[2015-09-14 19:09] AmyKort commented on #649
I think alphabetical in the check box field is a good idea. There aren't so many names that you need help identifying the candidates you are looking for. It's immediately apparent what the order is. I still have a question about whether the names are meant to be read down or across. It looks like three columns to me, but maybe that's just me.

[2015-09-14 19:15] PaulClark2 commented on #645
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC-web-app]
Clarify interaction of contributions comparison map(s) (#645)" sent on
9/14/2015 3:07:06 PM.

This is the only notification you wil

[2015-09-14 19:15] PaulClark2 commented on #649
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC-web-app]
Presidential Contribution by size sort order (#649)" sent on 9/14/2015
3:09:37 PM.

This is the only notification you will receive

[2015-09-14 19:15] PaulClark2 commented on #646
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC-web-app]
Data:  Right now in the 2016 presidential election (#646)" sent on
9/14/2015 2:04:47 PM.

This is the only notification you will re

[2015-09-14 19:16] AmyKort commented on #653
Thanks!

[2015-09-14 19:44] jmcarp opened #664 "Fix or remove cycle select for electioneering and communication cost committees"
While discussing #653, we noticed that the cycle select dropdown isn't right for electioneering and communication cost committees. We currently identify the relevant election cycles for a committee using F1 and F3 filings, but these committees may rarely file F1 forms and never file F3 forms. I see two non-exclusive fixes here:

* Fix election cycles for electioneering and communication committees

[2015-09-14 19:45] jmcarp commented on #653
Fixed in #664. Thanks for the feedback all!

[2015-09-14 19:45] #653 closed

[2015-09-14 19:58] jmcarp commented on #649
I think alphabetical order is fine for smaller races, but I'm not sure it's the best for Presidential elections, which can have hundreds of candidates. For example, here's how the checkbox list would look in alphabetical order for the 2012 Presidential election:

<img width="990" alt="screen shot 2015-09-14 at 3 53 39 pm" src="https://cloud.githubusercontent.com/assets/1633460/9860293/40849074-5af

[2015-09-14 20:08] AmyKort commented on #649
Good point. I was thinking that only the top number of candidates listed in the box would be alphabetical. But that probably doesn't work. I think our main concern with the way it is now is that, without listing the total receipts amount next to the name, like we do in the viewer, I don't know what order those candidates are in. Also, and this might just be me, my impulse was to read down the firs

[2015-09-14 20:12] emileighoutlaw commented on #562
Thanks for the ping! I've been thinking about this a lot, because I don't want non-tech-savvy folks to be confused and think the API documentation might be a place where they should go to search for information.

How about something like:

*Headline/intro:* Check out our API documentation
*Description:* Take a look at our interactive documentation; this API is the backbone of betaFEC's campaign fi

[2015-09-14 20:16] LindsayYoung commented on #562
Sounds good to me

[2015-09-14 21:03] LindsayYoung commented on #664
Would it simply things for committee drop-downs if we only look to see if anything comes up in the filings table for that cycle? Would that work for candidates too?

That would also fix the random F1z adding weird years such as 1988 to Trump's page http://localhost:3000/candidate/P80001571

[2015-09-14 21:04] onezerojeremy commented on #663
Yes! Thank you for filing it for me. There's some question if they are
viewing the whole crimson card as a button or just the icon and text. I
think we can try either way, and probably resolve it with hover effects.

On Monday, September 14, 2015, Jennifer Thibault <notifications@github.com>
wrote:

[2015-09-14 21:06] PaulClark2 commented on #649
I think we are still left with why am I seeing these candidates listed in this order.  Nothing on the page helps me figure that out.

Should I read the list of candidates:

Clinton, Bush, Paul, Huckabee, Sanders, Carson, Grahm, Cruz, Rubio, O'Malley, Trump ....
Or
Clinton, Sanders, Cruz, Bush, Carson, Rubio, Paul, Grahm, O'Malley, Huckabee, Trump ...

![untitled](https://cloud.githubusercontent.co

[2015-09-14 21:13] onezerojeremy commented on #649
2 thoughts:

1. could we say "Candidates to Compare (listed by amount raised)"
2. could we do some stats? I assume that there's probably some analysis
that would allow us to list by alpha "top raising candidates" and then the
dropdown filled with "other candidates".

maybe we already did the stats.

On Monday, September 14, 2015, Paul Clark <notifications@github.com> wrote:

[2015-09-14 21:14] emileighoutlaw commented on #649
1. Adding "listed by amount raised" makes sense to me.

[2015-09-14 21:15] PaulClark2 commented on #649
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC-web-app]
Presidential Contribution by size sort order (#649)" sent on 9/14/2015
5:14:13 PM.

This is the only notification you will receive

[2015-09-14 21:15] PaulClark2 commented on #649
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC-web-app]
Presidential Contribution by size sort order (#649)" sent on 9/14/2015
3:58:58 PM.

This is the only notification you will receive

[2015-09-14 21:15] PaulClark2 commented on #653
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC-web-app]
Data:  Other Spending - Electioneering Communcations (#653)" sent on
9/14/2015 3:16:40 PM.

This is the only notification you will

[2015-09-14 21:15] PaulClark2 commented on #649
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC-web-app]
Presidential Contribution by size sort order (#649)" sent on 9/14/2015
5:13:17 PM.

This is the only notification you will receive

[2015-09-14 21:15] PaulClark2 commented on #649
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC-web-app]
Presidential Contribution by size sort order (#649)" sent on 9/14/2015
4:08:15 PM.

This is the only notification you will receive

[2015-09-14 21:15] PaulClark2 commented on #653
I am out of the office until 09/15/2015.

I will respond to you email when I return.  If you need immediate
assistance please contact Jeff Chumley, jchumley@fec.gov, or Wei Luo,
wluo@fec.gov.

Note: This is an automated response to your message  "Re: [openFEC-web-app]
Data:  Other Spending - Electioneering Communcations (#653)" sent on
9/14/2015 3:45:34 PM.

This is the only notification you will

[2015-09-14 23:06] noahmanger commented on #649
+1 to "listed by amount raised". Not sure what an elegant solution to the "do I read across or down?" question though. Right now, if you read across (rather than down) the candidates are in order and then wrap onto subsequent lines.

[2015-09-14 23:08] noahmanger commented on #663
Makes sense! I'll fix it. I've had the same question about whether or not we should have the card be a button or not.

[2015-09-14 23:10] noahmanger commented on #664
Would that solve the above problem? Either way it makes sense to me.

[2015-09-14 23:12] noahmanger commented on #647
Sounds good. Let's remove it from here.

[2015-09-14 23:14] noahmanger commented on #639
Oh yeah! I'll show you tomorrow.

On Mon, Sep 14, 2015 at 8:26 AM, Emileigh Barnes <notifications@github.com>
wrote:

--
Noah Manger
18F <http://18f.gsa.gov> | Work: 415-696-6146

[2015-09-15 02:33] onezerojeremy opened #668 "As a user with opinions about your code, I'd like to visit your repo from the home page and make my opinions known."
Currently, we mention that we're listening on Github, but provide no link to it from the "What's next" box.
URL: https://fec-dev-cms.18f.gov/
<img width="1076" alt="screen shot 2015-09-14 at 10 29 56 pm" src="https://cloud.githubusercontent.com/assets/474916/9866437/448722a4-5b30-11e5-8afa-711af7c08a9f.png">

[2015-09-15 02:51] onezerojeremy opened #669 "In order to set the users expectations about the number of candidates in uncontested elections, replace the word "comparison" in uncontested elections"
URL: https://fec-dev-web.18f.gov/elections/senate/GA/2016/

<img width="1001" alt="screen shot 2015-09-14 at 10 49 58 pm" src="https://cloud.githubusercontent.com/assets/474916/9866653/fb2fe8ae-5b32-11e5-8556-ebaed785fe0e.png">

<img width="992" alt="screen shot 2015-09-14 at 10 47 52 pm" src="https://cloud.githubusercontent.com/assets/474916/9866646/e3c44ebc-5b32-11e5-9b4d-f47fc9b1c773.png">

( I

[2015-09-15 04:29] #635 closed

[2015-09-15 13:07] jenniferthibault commented on #562
As I started poking around in the layout, I found that we could actually give it a little more breathing space if we moved allowed it to be it's own element, instead of a 5th card. Since the API itself is geared toward heavily technical users, I don't want to raise it too far up the page, and interrupt the experience of less-technical user who aren't looking for it. On the other hand, I thought it

[2015-09-15 13:56] emileighoutlaw commented on #562
I LOVE this introduction and text.

[2015-09-15 13:56] emileighoutlaw commented on #562
Also! We should eliminate the comma after "programs," because FEC does not use the serial comma!

[2015-09-15 14:03] LindsayYoung commented on #562
<3 Love it Jenn!

[2015-09-15 14:05] noahmanger commented on #645
I like it! @jmcarp can you implement this?

[2015-09-15 14:14] noahmanger commented on #530
Passing to @LindsayYoung

[2015-09-15 14:16] wluoFEC commented on #562
LOVE the design Jenn! You Are The Best!

[2015-09-15 14:22] noahmanger commented on #654
I'm fixing the label. Not sure about the incorrect data though.

[2015-09-15 14:39] LindsayYoung commented on #458
He should just be able to pass a null. Happy to talk more with him later.

[2015-09-15 14:55] #562 closed

[2015-09-15 15:49] wluoFEC opened #670 "Post beta release design consideration: big picture presentation of the current Campaign Finance activities"
The open.fec.gov lacks the big picture presentation/Visualization of the current Campaign Finance activities, such as presential and House/Senate Maps and Charts FEC.gov currently has.
![image](https://cloud.githubusercontent.com/assets/7440932/9881811/9dc94fb2-5b9f-11e5-85da-4741efabb1d6.png)

![image](https://cloud.githubusercontent.com/assets/7440932/9881829/aa31042a-5b9f-11e5-8c3d-65c94eff0149

[2015-09-15 16:23] emileighoutlaw commented on #658
added.

[2015-09-15 16:23] #658 closed

[2015-09-15 16:47] noahmanger commented on #649
How does this look? Added the "listed by amount raised" and now ordered vertically instead of horizontally.

<img width="989" alt="screen shot 2015-09-15 at 12 46 28 pm" src="https://cloud.githubusercontent.com/assets/1696495/9883395/e16c49ce-5ba7-11e5-8f85-ef398538a03f.png">

[2015-09-15 17:17] emileighoutlaw commented on #634
addressed in fec-cms pull request

[2015-09-15 17:17] #634 closed

[2015-09-15 17:22] AmyKort commented on #649
I like it.

[2015-09-15 17:25] PaulClark2 commented on #649
:thumbsup:

[2015-09-15 17:25] emileighoutlaw commented on #657
Added hyperlink.

[2015-09-15 17:25] #657 closed

[2015-09-15 17:27] emileighoutlaw commented on #639
Added the word in!

[2015-09-15 17:27] #639 closed

[2015-09-15 19:17] jmcarp commented on #652
Done in #662.

[2015-09-15 19:17] #652 closed

[2015-09-15 20:16] jmcarp opened #672 "Review casing on candidate pages"
While looking at an unrelated issue, I noticed that lots of text on the candidate detail page Capitalizes Every Word ("Combined Financial Totals", "Ending Cash on Hand", etc.). This doesn't seem to be consistent with newer text. Should these be lower-cased @emileighoutlaw?

<img width="994" alt="screen shot 2015-09-15 at 4 13 45 pm" src="https://cloud.githubusercontent.com/assets/1633460/9888801/1

[2015-09-15 20:39] emileighoutlaw commented on #656
Addressed

[2015-09-15 20:39] #656 closed

[2015-09-15 20:53] emileighoutlaw commented on #672
It should be! I'm on it. Good catch. :)

[2015-09-15 21:15] #672 closed

[2015-09-15 23:28] #664 closed

[2015-09-16 01:38] noahmanger opened #680 "Consider removing occupation and employer columns"
We can't sort by occupation or employer on /receipts and they're being squished severely, so I think we may as well just remove them. Thoughts?

[2015-09-16 15:01] wluoFEC opened #685 "Bug: Display issues for some of place/city names"
example:

![image](https://cloud.githubusercontent.com/assets/7440932/9908508/fb7560fc-5c61-11e5-9b6d-5518ad05bb97.png)

[2015-09-16 15:10] wluoFEC commented on #680
This is one of features people really want.  we should consider to keep it if we can.

[2015-09-16 15:11] AmyKort opened #687 "Link to Definition of Candidate on Registration and Reporting Page"
Can you link to the glossary definition of candidate on the Registration and Reporting page when"

*Candidates* are people running for elected federal office. Federal office is the House of Representatives, the Senate, or the office of the president.

*Candidates* must designate at least one campaign committee. These authorized groups are called candidate committees.

@emileighoutlaw

[2015-09-16 15:15] AmyKort opened #688 "Link to Definition of Candidates on Essentials for House and Senate page"
https://fec-dev-cms.18f.gov/registration-and-reporting/essentials-house-and-senate-candidates-and-committees/

Can you link to the glossary definition of candidates on the essentials page?

Congressional *candidates* are people running for elected office in the Senate or House of Representatives.

Congressional *candidates* must designate at least one campaign committee. These authorized candidate

[2015-09-16 15:16] noahmanger opened #689 "Figure out a "messy data warning" pattern"
We need a way to warn users when data may be messy or inconsistent, and provide an explanation for why that may be.

[2015-09-16 15:30] LindsayYoung commented on #680
We needed to modify it for the presentation, We can always change things back, We do still have full text search on both fields. We could also try out different things, like displaying them together--  employer, occupation (in cases were they are not blank or repeated.)

[2015-09-16 15:31] AmyKort opened #690 "Glossary definition of Committee needs bullets"
They look like they are in there, but the style isn't applied. Thanks!

[2015-09-16 15:34] wluoFEC opened #691 "So that users can more easily explore different districts from the elections page, make districts in map clickable"
1) the highlighted district shows as clickable, however, nothing happened when I clicked on it. (screen shot).
2) It would be nice for users to be able to click on the other districts to view the elections for the selected districts.
![image](https://cloud.githubusercontent.com/assets/7440932/9909383/f7d1a542-5c65-11e5-8999-d716141df852.png)

[2015-09-16 15:43] wluoFEC opened #692 "So users with old browsers understand why things don't work, we will add a warning message"
Display a warning message politely informing the user that the site does not support older version of browsers.

[2015-09-16 16:00] AmyKort opened #693 "Glossary Definition for None needs bullets"
Will applying bullet styles to the glossary apply across the glossary? Or should I flag each instance?

[2015-09-16 16:04] AmyKort opened #694 "Register as A House or Senate Candidate Language Change"
What if we add:

Congressional candidates register with a Statement of Candidacy (Form 2) within 15 days of becoming a candidate. [An individual seeking nomination for election, or election, to a federal office becomes a candidate for the purposes of the campaign finance law when he or she (or agents working on his or her behalf) raises contributions or makes expenditures that exceed $5,000.]

@em

[2015-09-16 16:05] noahmanger commented on #693
Yep! Got it in the one issue. Thanks.

[2015-09-16 16:05] #693 closed

[2015-09-16 16:07] jmcarp commented on #689
For example, computed versus reported fundraising aggregates are likely to be a least a little different. Related to this, we may want to add notes on methodology for interested users--e.g., how exactly do we compute aggregates?

[2015-09-16 16:14] wluoFEC opened #697 "In order to show users where the data is coming from, link to the details from the summary number on the 2016 presidential election"
I really like the summary number on the 2016 presidential election. Can we link the summary number to the detail data page?

![image](https://cloud.githubusercontent.com/assets/7440932/9910630/0fbf2d68-5c6c-11e5-8400-b61b4e771191.png)

[2015-09-17 13:22] noahmanger commented on #420
Remaining task on this is to reposition the tooltip. Re-assigning this to Josh for that.

[2015-09-17 13:24] emileighoutlaw opened #698 "Checklist page: broken link"
Updating content page titles in Wagtail seems to have broken the links for "Learn more about how and why" for candidate and committee registration on the checklist.

Also looks like the RFAI link isn't working— not sure why.

I'd fix it, but I'm not sure how to figure out what the new link is. @noahmanger @jenniferthibault ?

![screen shot 2015-09-17 at 9 20 23 am]

(https://cloud.githubuserconten

[2015-09-17 13:24] noahmanger commented on #572
This has been resolved.

[2015-09-17 13:24] #572 closed

[2015-09-17 13:26] noahmanger commented on #688
Do we want both instances to be linked or just the first? It would be good to have a rule on this. I tend to think that only the first instance of a term on a page should be linked.

@emileighoutlaw I can show you how to do this. It's pretty easy.

[2015-09-17 13:29] AmyKort commented on #688
I'm fine either way.

[2015-09-17 13:30] emileighoutlaw commented on #688
@noahmanger I'd love you to show me! I also tend to think that just the first link is probably sufficient.

[2015-09-17 13:34] noahmanger commented on #668
Fixed.

[2015-09-17 13:34] #668 closed

[2015-09-17 13:46] #630 closed

[2015-09-17 13:46] #632 closed

[2015-09-17 13:49] #564 closed

[2015-09-17 13:51] AmyKort opened #699 "Name change to "Learn How to Comply with Fed Campaign Finance Law"
The phrase "Learn how to conduct election activity and run a campaign" is not appropriate. The FEC is not charged with teaching people this at all. We do teach them how to comply with federal campaign finance laws, but we're not going to help them with tactics, strategy, ballot access, etc.... I'd revise to read "Learn how to comply with federal campaign finance law". Also there are other laws the

[2015-09-17 13:55] LindsayYoung commented on #547
Hello,

We don't have additional information about donors, like we do for candidates. What we know about donors is in the receipts search. Candidates have IDs, so the information around them is easy to group information from different forms together. Contributions are reported by the various campaigns and do not have ids assigned by the FEC.  Names are actually bad identifiers and supporting infor

[2015-09-17 13:55] #663 closed

[2015-09-17 14:02] noahmanger opened #700 "Implement "other spending" tab on candidate pages"
In order for users to see which other groups are making IEs for or against a candidate, we should show them on the candidate's page.

Question for @jenniferthibault and @onezerojeremy : do you think this should just be on a separate tab? We had previously tried to remove tabs from candidate pages but this might be a fine reason to bring them back.

[2015-09-17 14:07] noahmanger opened #701 "There is an expectation that the committee information will be on the committee profile page. We need to figure out a solution for showing "Other spending" aggregates on committee pages"
In order for users to have a comprehensive understanding of the IEs, ECs or communication costs that name a committees make, we should show those "Other spending" categories aggregated by the candidate they name and if it's in support of or opposition to that candidate.

This allows the user to see an "other spending" aggregate on an election or candidate page, and then click through to that commi

[2015-09-17 14:10] noahmanger opened #702 "create a browse view for independent expenditures"
Users should be able to browse all independent expenditures happening and filter by some number of categories.

Tasks:
- [ ] Decide on which filters and columns
- [ ] Decide what is included in the details panel
- [ ] Figure out placement on data landing page
- [ ] Implement

This is an item for the backlog.

[2015-09-17 14:18] LindsayYoung commented on #702
The IE table is smaller than the schedules, I think filtering everything everything should be fine.

[2015-09-17 14:20] LindsayYoung commented on #700
I think that is important to separate out, since this is spending affecting a candidate and not spending the candidate is legally responsible for.

[2015-09-17 15:36] noahmanger commented on #702
Just curious: what are all of the columns? (Feel free to link to the code)

[2015-09-17 15:45] LindsayYoung opened #703 "Add sorting to the Independent Expenditures on Election page"
Sort by candidate, committee, support/oppose
![screen shot 2015-09-17 at 11 44 11 am](https://cloud.githubusercontent.com/assets/4406333/9938040/6cf3f340-5d31-11e5-93f9-8e56ef8c3dc9.png)

[2015-09-17 15:47] amypike commented on #699
Agree!  Now that I am looking at the language with fresh eyes, "run a campaign" is misleading.  "Learn how to comply with federal campaign finance laws" is much clearer.  I am glad that Dorothy flagged the term "federal election activity" (FEA) because that is a statutory term that applies to specific activities undertaken by state, district and local party committee so we should avoid using that

[2015-09-17 15:56] noahmanger commented on #689
Depending on how long those notes on methodology are, it could really be a set of pages on the website. Kind of an in-depth data glossary.

[2015-09-17 16:18] emileighoutlaw commented on #699
Agreed, and changed!

[2015-09-17 16:18] #699 closed

[2015-09-17 17:49] LindsayYoung opened #705 "wrong link to "top individual contributions" on the campaign finance"
We need to filter by line number too, so that pacs and parties are not in the results.

[2015-09-17 17:51] amypike commented on #694
Yes! It's a lot of text but if the purpose of these pages is to help newbies register, I think it is important to underscore when someone becomes a candidate - a newbie may find that she/he is not required to register because they haven't exceeded (or maybe do not plan to exceed) the $5,000 threshold which would be super helpful, methinks.

[2015-09-17 17:54] LindsayYoung commented on #705
it needs "contributor_type=individual" but it seems like the default filtering on that is date and we can't add that in the url.

[2015-09-17 18:06] noahmanger opened #706 "Bug: On IE 10 - tool tip persistence."
I noticed a small bug with totals maps on Internet Explorer today:

![bug](http://g.recordit.co/GGwRQWkeoT.gif)

If you mouse over a state to show the tooltip, but then mouse away from the map the tooltip stays on the last state. I'm not seeing it in Chrome.

[2015-09-17 18:08] amypike commented on #688
This may be a silly question but here goes:  What is the purpose of this sentence - "Congressional candidates are people running for elected office in the Senate or House of Representatives?"  Is it to explain to a novice user that "Congressional" includes both the Senate and the House?   That is a basic Civics issue and I'm not saying it isn't valid but I anticipate feedback from OGC that goes so

[2015-09-17 18:18] amypike commented on #637
I think @emileighoutlaw made this language change on Tuesday afternoon, after the presentation run-through.

[2015-09-17 18:25] AmyKort commented on #700
I agree with Lindsay that, however we do this, we need to strongly separate IE spending from the candidate's funds--lots of markers to make that distinction. Thanks!

[2015-09-17 18:26] noahmanger commented on #700
+1

[2015-09-17 19:27] AmyKort commented on #688
How about:

https://fec-dev-cms.18f.gov/registration-options/

U.S. House and Senate Candidates and Committees
An individual running for a seat in the U.S. House of Representatives or U.S. Senate becomes a candidate [link] under the campaign finance law when she raises or spends in excess of $5,000 in contributions [link] or expenditures [link].
Once an individual becomes a candidate, she must reg

[2015-09-17 19:46] jenniferthibault commented on #700
+1 as well

[2015-09-17 19:53] emileighoutlaw commented on #688
Not a silly question at all @amypike! I definitely see what you're getting at, but I would like to keep this from becoming super wordy, if we can.

As a jumping off point, could we say something like:

Generally, a candidate is a person running for office in the House or Senate. See the full, legal definition of a *candidate*(glossary).

Candidates must designate at least one campaign committee. T

[2015-09-17 20:09] emileighoutlaw commented on #637
Indeed!

[2015-09-17 20:09] #637 closed

[2015-09-17 20:14] LindsayYoung opened #708 "no way to sort report year or coverage date"
The receipt date is not always useful because things get amended.

[2015-09-17 20:18] PaulClark2 opened #709 "betaFEC feedback email"
We need to change the contact / feedback email address currently on betaFEC from info@fec.gov to betafeedback@fec.gov

[2015-09-17 20:18] emileighoutlaw commented on #688
OR. Could we go with what's on the page before (https://fec-dev-cms.18f.gov/registration-options/):

*Candidates* are people running for elected federal office. Federal office is the House of Representatives, the Senate, or the office of the president.

Candidates must designate at least one campaign committee. These *authorized groups* are called candidate committees.

[2015-09-17 20:44] AmyKort commented on #688
I think that we're running into a couple or problems here, as we start to get internal testers' responses to the language. There's a sense that we need to get to the registration threshold sooner--either this applies to you or not. There's also a sense that "candidate" has a specific meaning under the campaign finance law. So, by the time we get to the "essentials page," we'd better be getting aro

[2015-09-18 01:07] #703 closed

[2015-09-18 01:15] #688 closed

[2015-09-18 01:15] #694 closed

[2015-09-18 01:15] #698 closed

[2015-09-18 14:20] #530 closed

[2015-09-18 14:20] #489 closed

[2015-09-18 15:09] #708 closed

[2015-09-18 16:13] onezerojeremy commented on #700
Agree on the separation. I also want to call out that usability testing has
indicated the candidate page is the second place people look, after trying
in committee browse first.

(But that should be a separate issue)

On Thursday, September 17, 2015, Jennifer Thibault <notifications@github.com>
wrote:

[2015-09-18 16:44] #647 closed

[2015-09-18 17:29] noahmanger opened #713 "Back button on /receipts not working"
Once on /receipts, I'm not able to use the browser back button to return to whatever page I was on before. I'm not seeing this issue on other pages. We probably should have a test for this, no?

[2015-09-18 17:52] noahmanger opened #714 "Make it easy to pass multiple args for the same filter in url_for()"
On the data landing page we want to link to /committees filtered down to all PACs and all IE committees. But the `url_for()` function doesn't currently accept multiple instances of the same filter argument.

![screen shot 2015-09-18 at 10 36 11 am](https://cloud.githubusercontent.com/assets/1696495/9966724/4c2528c4-5df3-11e5-893c-d0e768d56d04.png)

[2015-09-18 17:55] jmcarp commented on #714
That's because `url_for` is a Python function, and Python doesn't let you repeat function arguments. Try passing a list instead:
`url_for(candidate_id=['C001', 'C002', ...])`

[2015-09-18 18:00] noahmanger commented on #714
Oops. That works. Thanks.

[2015-09-18 18:00] #714 closed

[2015-09-18 18:44] AmyKort opened #716 "Broken Link on Essentials for House and Senate Page"
https://fec-dev-cms.18f.gov/registration-and-reporting/essentials-house-and-senate-candidates-and-committees/

The link to Administrative Fines at the bottom doesn't work

Thanks!

[2015-09-18 19:23] noahmanger commented on #689
Thinking more about this I like the idea of some sort of icon + tooltip pattern. The meaning we're trying to convey, as I understand it, includes:

- Warn users of any time when we make complicated judgement calls (e.g. the Unique Only filter on receipts)
- Warn users when aggregates are based on free-text or otherwise ambiguous data (e.g. the disclaimer at the bottom of the aggregate Disbursement

[2015-09-18 20:38] noahmanger opened #718 "Update meta tag content and images on app and cms"
We need to update the share image and favicons on both the main site and the app, as well as content that shows up when sharing a page on social media.

@emileighoutlaw do you want to take the content on and @jenniferthibault the icons?

The code / copy currently lives here: https://github.com/18F/openFEC-web-app/blob/8373db749a3d8f13baae0774610e5d27e6b44024/templates/partials/meta-tags.html#L2

[2015-09-21 14:07] #529 closed

[2015-09-21 14:09] wluoFEC opened #721 "beta.fec.gov bookmark icon on iPhone's homescreen"
Design an FEC bookmark icon for beta.fec.gov on iPhone's homescreen.

![image](https://cloud.githubusercontent.com/assets/7440932/9993832/ee738246-6047-11e5-90de-4e74f20a6a2b.png)

[2015-09-21 14:43] #705 closed

[2015-09-21 16:11] noahmanger commented on #721
Thanks for the reminder! This will actually be captured here: https://github.com/18F/openFEC-web-app/issues/718. I'll add a note to make sure we get it, but then closing this issue.

[2015-09-21 16:11] #721 closed

[2015-09-21 16:12] noahmanger commented on #718
I believe most favicon generators do this already, but make sure to include an iOS homescreen icon per https://github.com/18F/openFEC-web-app/issues/721

[2015-09-21 16:13] jenniferthibault commented on #718
Yes! I was thinking about this last week. We should also find some way to test this, because I don't *think* it worked when we designed it and hooked it up for the API.

[2015-09-21 16:57] noahmanger commented on #689
Usability note: in the case of the "Show Unique" filter, it would be nice to have the tooltip show when an icon is focused / hovered, rather than the field or label itself, so that it doesn't obscure other filters. (See discussion here https://github.com/18F/fec-style/pull/101)

[2015-09-21 17:50] leahbannon commented on #373
Josh did this.

[2015-09-21 17:50] #373 closed

[2015-09-21 18:13] noahmanger opened #723 "Make accessibility fixes"
Running list of what needs fixing:
- [x] Add `:focus` styles for elements in header
- [x] Panel: After tabbing out of the panel, it should go to the next row, instead of the bottom of the table
- [x] Add `:focus` styles to form elements
- [x] Ensure placeholder content is high enough contrast
- [x] Make accordion buttons have spans that change text on expansion
- [x] Add 'aria-expanded` to accordi

[2015-09-21 18:19] leahbannon commented on #716
I think we just need to add a link. @AmyKort do you have the link for that?

[2015-09-21 18:39] leahbannon opened #724 "glossary + / - buttons need alt text"

[2015-09-21 19:06] leahbannon opened #725 "Disbursements and Receipts time filters don't all make sense"
From @jwchumley

[2015-09-21 19:08] LindsayYoung opened #726 "add link to pdf for receipts and disbursements"
In the panel view it would be great to have a link view the source.

Here is an example pattern for lining to a particular page:
http://docquery.fec.gov/pdf/718/201507159000204718/201507159000204718_000002.pdf

[2015-09-21 19:26] jenniferthibault commented on #445
Need to complete: Make zero value more different from non-zero value

[2015-09-21 19:28] emileighoutlaw opened #727 "Content: beta content warning"
Warning that content is in beta.

Document here: https://docs.google.com/document/d/1-mOlrfxv5vM2fuVSk6jk7OAk4vdtQ5uxKQHjG-GuLrI/edit
 * [x] Draft content
 * [x] Amy review

[2015-09-21 19:34] leahbannon commented on #725
Today is gone. Need to figure out This Month. Possibly "Last Month" and "Last Quarter"?

[2015-09-21 19:38] leahbannon commented on #725
For now, @noahmanger please remove "This Month" and "This Quarter" and add "This Cycle."

@onezerojeremy please do some user research/testing on what would help people most

[2015-09-21 19:48] leahbannon commented on #718
related to https://github.com/18F/openFEC/issues/1216

[2015-09-21 19:58] jenniferthibault commented on #700
To do: Just adding independent expenditures in a table on a new tab with all the same columns except for candidate.

[2015-09-21 20:02] jenniferthibault commented on #697
To do: figure out where each number should link to (form type) then where each should direct. @lindsayyoung to maybe think about it if she has time

[2015-09-21 20:03] leahbannon commented on #692
Need to make sure this comes up for Lotus Notes.

[2015-09-21 20:10] emileighoutlaw commented on #687
Done!

[2015-09-21 20:10] #687 closed

[2015-09-21 20:21] #612 closed

[2015-09-21 20:21] emileighoutlaw commented on #636
done

[2015-09-21 20:21] #636 closed

[2015-09-21 20:23] #508 closed

[2015-09-21 20:27] LindsayYoung commented on #702
Here are the results:

[code]

[2015-09-21 21:06] jmcarp commented on #609
Have we decided what's going to live at each url? Sounds like the CMS lives at beta.fec.gov, but what about the data site? Is the API staying where it is at api.open.fec.gov?

[2015-09-21 21:15] LindsayYoung commented on #609
If I remember correctly, we talked about moving the cms site and the data site to beta.fec.gov and keeping the API at the same url until we wanted to announce it was out of beta.

[2015-09-21 21:17] jmcarp commented on #609
Right, but the CMS and data site can't live at exactly the same URL. The URL for the CMS will be `beta.fec.gov`. What URL will represent the root of the data app?

[2015-09-21 22:11] leahbannon commented on #609
I say /data

[2015-09-21 23:16] PaulClark2 commented on #726
You can also use this pattern:  http://docquery.fec.gov/cgi-bin/fecimg/?201507159000204719

I'll ask EFO which is better and if there are any pitfalls for either pattern.

[2015-09-22 15:04] jmcarp opened #729 "To simplify code and make for a speedier user experience, load candidate detail data client-side"
We're now loading most data from the browser, but the candidate detail page is still loaded server-side. We should refactor this page to fetch data directly from the API via AJAX.

Part of #393.

[2015-09-22 15:05] jmcarp opened #730 "To simplify code and make for a speedier user experience, load committee detail information client-side"
Same as #729, but for committee detail data. Also part of #393.

[2015-09-22 15:05] jmcarp commented on #393
Replacing this with a couple of more specific issues / proposals in #729 and #730.

[2015-09-22 15:05] #393 closed

[2015-09-22 17:26] #716 closed

[2015-09-22 17:36] jmcarp opened #733 "To provide feedback and transparency to users in the event of errors, add error handling for datatables ajax"
When datatables encounters an error or timeout on loading table data from the API, it currently doesn't do anything. We should probably add some error-handling logic here: for example, on error, insert text above the table informing the user that something went wrong. This won't take long to implement, but there are many ways it could be designed, so probably best for @noahmanger and/or @jennifert

[2015-09-22 17:39] noahmanger opened #734 "Filings panels missing data"
On http://localhost:3000/committee/C00370007?tab=filings : the first three reports do not have data in their panels. The others do. This happens on other pages as well, but this is a good example. Despite having numbers for those fields on the reports, this data is consistently missing when trying to view the panel for these.

[2015-09-22 18:50] noahmanger opened #735 "Bad receipt + disbursement date data"
On both receipts and disbursements, if you clear the date filters and sort by date (both ascending and descending) you're shown transactions both very far in the future (2100s) and very far in the past (as far back as 1800s).

[2015-09-22 18:51] noahmanger opened #736 "Add disclaimer to /receipts + /disbursements about how far back data goes"
We need to specify on each page how far back the available data goes. And eventually would be good to add validation to the date fields so you can't set a date before the earliest limit.

[2015-09-22 18:51] #713 closed

[2015-09-22 18:57] jmcarp commented on #735
This issue comes up for lots of data types here (remember the kid who filed for President in 2044?). Seems like we have a choice between showing all the data (which includes the fake stuff), and all the plausible data. If possible, it would be good to take a consistence stance on this--if we hide implausible disbursements, we should probably also hide implausible candidates.

[2015-09-22 19:09] emileighoutlaw commented on #573
Hey there! Let's keep talking about this "Other spending" tab!

1. The section `Given by` could easily be misinterpreted as money given to a candidate. Can we change it to `Spent by` ?

2. I know we don't want to start giving legal definitions, but can we add some explanatory text to the "Independent expenditures" section? I was thinking something like

"Independent expenditures[glossary link]. Th

[2015-09-22 19:25] LindsayYoung commented on #573
+100

I really like "Spent by" to emphasize that the candidates are not directly receiving this money.

I also like a clear explanation in that section that the candidates are not spending or receiving this money.  The phrase "isn't made in coordination" has a legal definition, but we need something to quickly explain the chart.

[2015-09-22 20:25] PaulClark2 commented on #573
+1  I like "Spent by," too.  I think it's clearer.  Amy may have thoughts about the bigger explanation.

[2015-09-22 20:31] PaulClark2 opened #737 "Committee links not working"
https://fec-dev-web.18f.gov/
![untitled](https://cloud.githubusercontent.com/assets/11817734/10030700/189277d0-6147-11e5-8b7e-29b06d48649b.png)

The  "All PACs active 2015-2016 »"  and "All independent expenditure committees active 2015-2016 »" links don't work.

[2015-09-22 22:24] jmcarp opened #739 "Datatable loading overlay misplaced for some tables"
Tables with a scrolling body seem to show the loading overlay correctly, but other tables draw the loading overlay elsewhere on the page. For example, here's the loading screen on the committee detail aggregate by size:

<img width="1440" alt="screen shot 2015-09-22 at 6 23 02 pm" src="https://cloud.githubusercontent.com/assets/1633460/10033363/18f62d56-6157-11e5-9b25-0efad1f75b86.png">

[2015-09-22 22:40] noahmanger opened #741 "To understand which part of the site you're on, highlight the current page / section in the nav"
We want the nav to show which section of the site you're in. So if you're on a child page of a section, it should both highlight the child page in the dropdown as well as the parent page in the main nav.

[2015-09-22 22:41] noahmanger commented on #415
I made a bunch of changes as noted here https://github.com/18F/openFEC-web-app/issues/723

Remaining task is to have Nick go through and double check my work.

[2015-09-22 22:49] noahmanger commented on #739
I'm pretty sure this should be fixed in my last PR. I just had to add
position: relative to .dataTables_wrapper.

On Tue, Sep 22, 2015 at 6:24 PM, Joshua Carp <notifications@github.com>
wrote:

--
Noah Manger
18F <http://18f.gsa.gov> | Work: 415-696-6146

[2015-09-22 22:50] noahmanger commented on #415
**Remaining questions:**
- [ ] Do we need `aria-controls` or `aria-expanded` on the panel / rows ?
- [ ] Do we need `aria-controls` to accordion buttons and toggles?

[2015-09-22 22:55] #627 closed

[2015-09-22 23:08] noahmanger opened #742 "Weird data issues"
While reviewing the IE tab on candidate pages, I noticed a couple interesting things in the data and wanted to flag them for further investigation.

First, Citizens United SuperPAC LLC shows as having spent a lot to both support and oppose [Clinton](http://localhost:3000/candidate/P00003392?tab=other-spending):

![screen shot 2015-09-22 at 4 00 53 pm](https://cloud.githubusercontent.com/assets/169

[2015-09-23 01:05] noahmanger commented on #415
Added `aria-controls` to the toggles.

[2015-09-23 01:14] noahmanger commented on #389
[The research](https://www.filamentgroup.com/lab/politespace.html) I'm seeing says that input masks are really harsh for screen readers. The Filament group has one that they recommend, but it seems to make more sense for credit card numbers or phone numbers rather than dates.

So I think we should go with the [US Web Design Standards' recommendation](https://pages.18f.gov/designstandards/form-cont

[2015-09-23 01:15] noahmanger commented on #389
Also: I wouldn't consider this launch critical. This is a small part of the overall app and even if we need to keep the mask there I think it will be ok.

[2015-09-23 01:26] noahmanger commented on #555
@emileighoutlaw can we coordinate on this tomorrow? I think it makes more sense for you to do (if you've got the time).

[2015-09-23 01:27] noahmanger commented on #430
We axed this whole thing, so closing.

[2015-09-23 01:27] #430 closed

[2015-09-23 01:40] noahmanger commented on #709
To be clear: are we replacing all of the 18f-fec@gsa.gov email addresses with this as well? Seems like there should be a consistent email address for feedback.

[2015-09-23 02:06] onezerojeremy commented on #389
This seems right to me.

also the screen reader video in the article you linked to is :banana: s
https://docs.google.com/file/d/0B9rGmqNcHo-mRGpMS0xQbzVzeGM/edit

[2015-09-23 12:53] PaulClark2 commented on #709
This might be a @wluoFEC and @leahbannon question but I agree we should be consistent.

[2015-09-23 13:36] PaulClark2 commented on #742
So I don' think the "Other spending" tab is available on DEV:  https://fec-dev-web.18f.gov//candidate/P00003392?tab=other-spending

![untitled](https://cloud.githubusercontent.com/assets/11817734/10046240/7b2a9e5c-61d5-11e5-9362-bfd4d96d0d49.png)

Citizens United Super PAC LLC filed three (3) F24s for this independent expenditure.  The original indicated support for Clinton.  On the same day, 6/10

[2015-09-23 13:42] emileighoutlaw commented on #555
Yes. I can definitely do this. Let's chat today so I know I'm doing the CMS pages right.

[2015-09-23 13:57] PaulClark2 commented on #736
:+1: this was a clear takeaway from our meeting with the Commissioners yesterday

[2015-09-23 13:59] PaulClark2 commented on #735
I put this Slack to but it might be useful here, too.  Also we can look at other schedules and form tables.

Looking at the SA table in goldengate.open.fec it looks like we only have 133 transactions that are either before 1972 or after 2015. I think that set is small enough we could review that and correct any that are data entry errors.

select * from SCHED_A  where extract(year from CONTB_RECEI

[2015-09-23 14:30] jmcarp commented on #742
A few thoughts:

* @PaulClark2: Right, this is a proposed feature that hasn't been merged yet.
* @noahmanger: It looks like this PAC checked the "support" box by accident: http://docquery.fec.gov/cgi-bin/fecimg/?15951462974. This filing was amended later, but I'm not sure how to exclude it--all Schedule E transactions between this PAC and Hillary Clinton appear to be marked as amendments. @PaulCla

[2015-09-23 14:50] jmcarp commented on #734
I found a few different things going on here. @noahmanger: after we merge 18F/openFEC#1224 and #734, can you verify that this is working as expected?

[2015-09-23 16:06] onezerojeremy commented on #389
Thoughts that are possibly bad (that I had late last night):
can input boxes have background images (of, for example, masks?)

can we auto advance the cursor to the next box after they put two digits in? (putting an exception for tab press)

Just trying to limit the clicks for folks to enter a date. :\

[2015-09-23 16:22] noahmanger commented on #736
Great. I think I'd elevate a short-term solution (such as a simple text explanation on this page) to launch critical, but ideally it would be great to:
- Have form validation on the date filters
- If you're looking for an aggregate before the period where we show individual transactions, don't link to the the transactions

Moving this to this sprint. @emileighoutlaw and @LindsayYoung can you figur

[2015-09-23 16:24] noahmanger commented on #389
Not bad thoughts. I think it would be better to go with placeholder text
(in addition to the hint text below the input) rather than a background
image, so that you're not covering up the image with the text. That would
look weird.

Re: auto-advancing, the US Web Design Standards recommend against that. I
don't know the research to support that, but I'm inclined to go with their
word.

On Wed, Sep

[2015-09-23 16:25] #700 closed

[2015-09-23 16:27] #723 closed

[2015-09-23 16:27] #724 closed

[2015-09-23 16:28] noahmanger commented on #735
Do you expect these to be one time data errors that your system is now
catching from this point on? Or could they still happen in the future?

On Wed, Sep 23, 2015 at 9:59 AM, Paul Clark <notifications@github.com>
wrote:

--
Noah Manger
18F <http://18f.gsa.gov> | Work: 415-696-6146

[2015-09-23 16:30] noahmanger commented on #742
That makes sense. But yeah we definitely need to figure out how to handle
amendments in this regard.

On Wed, Sep 23, 2015 at 10:30 AM, Joshua Carp <notifications@github.com>
wrote:

--
Noah Manger
18F <http://18f.gsa.gov> | Work: 415-696-6146

[2015-09-23 16:30] jmcarp commented on #739
Rad.

[2015-09-23 16:30] #739 closed

[2015-09-23 16:49] jenniferthibault commented on #389
Late to the game, but I'm :+1: +:100: for following the US Web Design Standards' recommendations.

[2015-09-23 16:55] AmyKort commented on #573
I think the language we usually use is "made by" rather than "spent by." http://www.fec.gov/press/press2015/news_releases/20150128release.shtml
What if we just link "independent expenditure" to the glossary definition for now, and work up explanatory text later. IE's are a sticky issue, so we'll want to get the language just right.

[2015-09-23 17:40] leahbannon commented on #709
That's fine by me

[2015-09-23 17:46] jenniferthibault commented on #689
@noahmanger, what about this icon with this tooltip implementation?

![screen shot 2015-09-23 at 1 45 32 pm](https://cloud.githubusercontent.com/assets/11636908/10053316/63070170-61f9-11e5-824f-cfa09d5cd145.png)

![screen shot 2015-09-23 at 1 44 19 pm](https://cloud.githubusercontent.com/assets/11636908/10053294/44087240-61f9-11e5-8103-d1207e524fa7.png)

[2015-09-23 17:51] AmyKort commented on #573
For the label, I think spent by is fine

[2015-09-23 18:07] jenniferthibault commented on #733
This seems like a really good idea, and might even be worth trying to sneak in before launch if we can, so that  if/when people encounter errors and report them, they can give us useful error messages to triage.

What kind of message should be displayed @jmcarp ? (ping to @emileighoutlaw for future wordsmithing and @noahmanger for any ways we should suggest users to get out of the error situation?

[2015-09-23 18:28] LindsayYoung commented on #573
Sounds great, we will use "spent by" in the tab and I am adding official definition to glossary for now.

[2015-09-23 18:48] #709 closed

[2015-09-23 19:03] onezerojeremy commented on #389
right on.

We should try to figure out a pattern to counter users from having to click 6 times to enter dates. While it is true that some people know to use tab, but many do not. Does US wds have anything to help us with  that?

[2015-09-23 20:08] noahmanger commented on #389
Not that I know of, but that's a good point

On Wed, Sep 23, 2015 at 3:03 PM, Jeremy Canfield <notifications@github.com>
wrote:

--
Noah Manger
18F <http://18f.gsa.gov> | Work: 415-696-6146

[2015-09-23 21:12] LindsayYoung commented on #736
I can take this. I am coordinating with Emileigh.

[2015-09-23 21:20] mollieru commented on #389
cc @carodew who I believe helped us think through this the most, and can give a lil insight into the date field design

[2015-09-23 21:24] mollieru commented on #389
also, some thoughts from across the pond on the matter:

https://designpatterns.hackpad.com/Dates-vpx6XlVjIbE

[2015-09-23 21:52] jenniferthibault commented on #718
@noahmanger helped me break this down into 3 categories that need to be designed, and should feel consistent across platforms:
- [ ]  Social sharing images & headlines (facebook/twitter) More details on specs [here](https://dev.twitter.com/cards/types/summary-large-image)
  - [ ] Image
  - [ ] Title @emileighoutlaw
  - [ ] Description @emileighoutlaw
- [ ]  Favicon for browser tabs
- [ ]  "App" im

[2015-09-23 22:07] jenniferthibault commented on #736
On these browse pages, right?
https://fec-dev-web.18f.gov/receipts
https://fec-dev-web.18f.gov/disbursements

 @LindsayYoung / @emileighoutlaw if you can give me an idea of what the text will be, I'm glad to do a quick mockup, but placement will be determined by what it's saying

[2015-09-23 22:19] leahbannon commented on #718
For the app, I like the second design. I'm not sure about shortening to a incorrect link, though. How about removing the dot so it's betaFEC? I think that's what we're calling it in the blog post.

[2015-09-23 22:33] jenniferthibault commented on #718
Yessss. Helpful and certainly do-able!

Here are a few alternate favicons I'm kicking around based on the data flag, h/t @leahbannon :
![artboard 8 copy 3](https://cloud.githubusercontent.com/assets/11636908/10060787/8da491ae-6221-11e5-8282-210e65018fb4.png)
![artboard 8 copy 5](https://cloud.githubusercontent.com/assets/11636908/10060788/8da58a50-6221-11e5-9e56-75e54ca3aedb.png)

 I think the fir

[2015-09-23 22:49] leahbannon commented on #718
I agree that the first one is more distinguishable -- I like that one :)

[2015-09-23 23:02] noahmanger commented on #718
Nice! I like the second app icon. But I think I prefer the simplified seal favicon though. It'll feel more relevant across both parts of the site, and also feels more government-y, albeit subtly.

[2015-09-23 23:51] LindsayYoung commented on #737
These look like they are working now, @PaulClark2 can you confirm and close the issue when you get a chance?

[2015-09-23 23:55] LindsayYoung opened #750 "add net cycle to date for presidental"
Presidential net cycle to date figures got updated. This is relevant for the filings detail panel.

changed in 18F/openFEC/pull/1213

- this is not urgent

[2015-09-23 23:57] noahmanger opened #751 "Receipts from other committees needs to not filter by unique only"
On the "Between committees" tab, the receipts from other committees aggregate links need to set "unique only" to false, as that filters out committee transactions.

![screen shot 2015-09-23 at 4 55 32 pm](https://cloud.githubusercontent.com/assets/1696495/10062117/1af57950-6214-11e5-88e4-0533c80c972c.png)

[2015-09-24 00:00] noahmanger opened #752 "In order to make the "Unique only" filter make more sense, only show it if "individuals" is checked"
Am I correct in that "Unique only" should only be applied if you're just looking at individual transactions? In that case, can we only show that filter of only "Individual" is checked?

![screen shot 2015-09-23 at 4 57 29 pm](https://cloud.githubusercontent.com/assets/1696495/10062127/3b68c37c-6214-11e5-8037-b00848ecdfec.png)

There's a separate logic question as to whether the Individual and Comm

[2015-09-24 00:08] jenniferthibault commented on #736
@LindsayYoung 's #746 places these content bits in the filter list here:

![screen shot 2015-09-23 at 8 05 44 pm](https://cloud.githubusercontent.com/assets/11636908/10062233/9663e238-622e-11e5-8d10-bb8537ccec39.png)

I would slightly re-group the elements in the list, and use an alert style pattern, like so:
![screen shot 2015-09-23 at 8 07 51 pm](https://cloud.githubusercontent.com/assets/116369

[2015-09-24 11:54] PaulClark2 commented on #736
I like this as it informs the user upfront the scope of the data.

Can we also remind the user on the "results" page what filters they have applied.

For example, I searched for receipts from Alabama >= $2,000.00
![receipts-header](https://cloud.githubusercontent.com/assets/11817734/10072591/ee8e0b98-6290-11e5-92aa-0775b9c16f21.png)

Perhaps using commerce sites as a model?
![example-commerce](htt

[2015-09-24 13:46] carodew commented on #389
There's a lot of convo to catch up on here, so I'll try to weigh in on what we learned in researching the design standards based on issues raised above without being too overbearing.

Auto-advancing focus is bad for people who are using screen readers, so it's an accessibility issue. It has to do with them being able to go back and check/edit their inputs or understanding what is going on with the

[2015-09-24 13:53] AmyKort commented on #736
I agree--adding some information to the page to remind users of what filters they've applied is important. Even though it's in the URL, people don't think to look there. I'm happy with the suggested text above to say that results only go back to 2011, etc. One question--maybe for later--is whether we're going to need some explanation for really strange dates that show up. For example, if we say th

[2015-09-24 14:49] jmcarp commented on #733
Something like "Error fetching search results. Please try another search."

Or maybe this: http://www.cc.com/jokes/skuh9m/stand-up-mitch-hedberg--mitch-hedberg--please-try-again

[2015-09-24 15:01] emileighoutlaw commented on #733
I'd lean toward something like:

"Error loading search results. Please try a different search."

I think "fetching" could confuse some lower-level readers. With "loading" (let me know if loading isn't an accurate thing to say), they should know it's a processing issue, not a them issue.

[2015-09-24 15:05] emileighoutlaw commented on #736
Content-wise, I think this is a great idea! And simple. Just:

"XX of XXXX results for *term 1*, *term 2*, *term 3*."

I think we'd use commas for a list of items and colons for subsets of items.

[2015-09-24 15:20] PaulClark2 commented on #737
@LindsayYoung Yes the links are working

[2015-09-24 15:24] PaulClark2 commented on #735
These types of errors could happen in the future --- filer errors and data entry errors.

[2015-09-24 15:32] jmcarp commented on #736
For what it's worth, filters from the URL are automatically applied to the filter panel. So if the URL includes something like `cycle=2012&cycle=2010`, the 2012 and 2010 election cycle boxes in the filter panel will be checked. The filters also auto-submit on change, so the filter panel widgets will always be in sync with the table results. Is there an additional benefit of copying the filter logi

[2015-09-24 15:39] PaulClark2 commented on #609
makes to use /data.   I'm tagging Wei and Amy as they will need this information for our press office @wluoFEC @amykort

[2015-09-24 16:15] AmyKort commented on #736
When we were playing around with the site, we kept collapsing the filter panel. Also, only some of the filter options were showing on the page view. So, looking to the filters wasn't easy.

[2015-09-24 16:20] PaulClark2 commented on #736
:+1:  @AmyKort .   I like @emileighoutlaw idea it's simple and clean.

For example, it would help remind me I filtered on Alabama, >$2,000
![untitled](https://cloud.githubusercontent.com/assets/11817734/10079136/5ebf7440-62b6-11e5-8525-d7d5a3d7a118.png)

[2015-09-24 16:24] AmyKort commented on #736
I also like @emileighoutlaw idea

[2015-09-24 16:39] emileighoutlaw commented on #736
I've finally had a good idea! Hold on, I have to go call my mom and tell her.

[2015-09-24 16:55] noahmanger commented on #735
Cool. So might be good to build some logic in to our system just to flag it
down the road. I have no idea what this would look like, but just a thought.

On Thu, Sep 24, 2015 at 11:24 AM, Paul Clark <notifications@github.com>
wrote:

--
Noah Manger
18F <http://18f.gsa.gov> | Work: 415-696-6146

[2015-09-24 17:00] jenniferthibault opened #754 "So users know which data they're looking at even when they collapsed the filter panel, we'll show a quick summary of the filters applied"
Bringing discussion over from #736 : it appears that this could be implemented as breadcrumbs or as tags (a pattern that's supposed to be repeated in elections search, though i've lost the issue and don't see it implemented....next task)...

Questions: @noahmanger / @jmcarp is this too duplicative of an action, since the filters auto update, or since once the panels are closed, you lose your filte

[2015-09-24 17:00] jenniferthibault commented on #736
Looks like we've moved into new issue territory! To keep things clean, I'm separating the thread from here so that this one focuses only on disclaimer language. To talk more on filter breadcrumbs/tags, (which I think @noahmanger will have interaction thoughts on, let's head on over to #754

[2015-09-24 18:44] jenniferthibault commented on #754
AHA: I found the tag pattern that we recommended to be implemented on the maps, and could be helpful here. Check out this mockup: https://github.com/18F/openFEC-web-app/issues/617#issuecomment-139682940

I could see two options for this to be implemented on browse tables, but both of which would indicate that the table header area needs some restructuring of the pagination and checkbox/header elem

[2015-09-24 18:47] noahmanger commented on #754
Nice. First of all, I'm really interested in this idea, but we'll definitely want to do usability testing, which means it's not going to be in for launch. My concern would be if it gets confusing having multiple places where you can remove filters (both by x'ing out a tag or by changing the filter).

My other question would be in how it looks when you have _a bunch_ of filters applied.

Let's keep

[2015-09-24 18:48] noahmanger commented on #389
Thanks for the thoughts @carodew and @mollieru . This all makes a ton of sense, and I think suggests that we should move forward on my proposal above.

[2015-09-24 18:59] jenniferthibault commented on #754
I'm totally with you—why I wanted to separate it from the text disclaimer issue. Let's leave this in the backlog and come back to this when we can test it.

[2015-09-24 19:00] PaulClark2 commented on #754
Nice! This is a good start and I think in the end it'll be helpful to users.  Also, Jen's right it needed to be it's own issue.

[2015-09-24 19:22] amypike commented on #754
I wish I had something more substantive to add @jenniferthibault than "both the breadcrumb and tag options are pretty."  And helpful.  But there it is.

[2015-09-24 19:37] emileighoutlaw commented on #754
That's all I can ever add to Jen. Pretty and helpful. :) I agree this is a
post-launch thing.

On Thu, Sep 24, 2015 at 3:22 PM, amypike <notifications@github.com> wrote:

[2015-09-24 20:27] noahmanger opened #755 "Remaining accessibility issues"
## Home Page

- [x] In glossary, update span text on minimize buttons to say, collapse, or minimize, etc
- [x] Focus is lost when tabbing after the contact links
- [x]  Focus is lost off screen at the end of the page
- [x] Skip nav should focus on first element

## Registration and Reporting
- [x] Update alt tags in campaign guides to include all text seen in images
- [x] "Find by District" should

[2015-09-24 20:35] #445 closed

[2015-09-24 20:50] noahmanger commented on #573
Just flagging that whatever explanation we write needs to account for the logic that we settled on in this patch https://github.com/18F/openFEC/pull/1227

[2015-09-24 20:52] noahmanger commented on #689
I like the icon. But would we want to use the same one in the alerts that we're using elsewhere on the filters (where we currently use the exclamation point icon)?

[2015-09-24 21:52] jenniferthibault commented on #689
I was thinking that "alert" and "more information" were different kinds of info, and should have different icons. The interactions are also a little different, where here you interact with the icon, and an alert is presented to you without your interaction.
I may be misunderstanding though, do you mean the exact same icon should be used, or a more similar icon style?

[2015-09-24 22:57] #415 closed

[2015-09-24 23:03] #737 closed

[2015-09-24 23:08] noahmanger commented on #755
@jenniferthibault need some design help: the disabled links in the header still need to pass contrast requirements. Do you have any ideas how we should do this?

[2015-09-25 01:40] #742 closed

[2015-09-25 01:53] jmcarp commented on #701
Was this issue referring to the other spending tab on the candidate page or the committee page? We added the first but not the second.

[2015-09-25 01:58] noahmanger commented on #701
Oops! I misread.

[2015-09-25 15:23] jenniferthibault commented on #755
Ohhhh interesting! I was basing that choice on beta.consumerfinance, but it looks like their TBD content links aren't 508 compliant either.

What do you think about this?
 - Make text gray #737373 and 100% opacity for disabled links
 - Add parenthesis `(` x `)` around any disabled link to make it visually side-noted
 - Change `TBD` to `Content TBD` or `Page TBD` to make it more specific

That woul

[2015-09-25 15:38] #726 closed

[2015-09-25 15:43] jenniferthibault commented on #736
Reopening so that the styling in this comment can be implemented:
https://github.com/18F/openFEC-web-app/issues/736#issuecomment-142765359

[2015-09-25 16:04] AmyKort opened #758 "Change Glossary Definition for Independent Expenditure"
@emileighoutlaw
Can we change the glossary definition of Independent Expenditure so that it matches the definition from the glossary of the June 2014 Candidate Guide?

Independent expenditure
An expenditure for a communication that expressly advocates the election or defeat of a clearly identified candidate and that is not made in cooperation, consultation or concert with, or at the request or sug

[2015-09-25 16:06] AmyKort opened #759 "Change Glossary Definition for Electioneering Communication"
@emileighoutlaw
Can we change the glossary definition of Electioneering Communication so that it matches the definition from the June 2014 Candidate Guide?

Electioneering communication
Any broadcast, cable or satellite communication that:
•	Refers to a clearly identified candidate for federal office;
•	Is publicly distributed within certain time periods before an election; and
•	Is targeted to th

[2015-09-25 16:43] noahmanger commented on #755
I like it. Thanks.

[2015-09-25 16:49] jenniferthibault opened #760 "Move all Registration and Reporting sections to inactive and "Coming soon""
To prepare these features for a fast-follow release:
- [x] Make "Registration and Reporting" nav item inactive
- [x] Move new features card to "coming soon" section

![screen shot 2015-09-25 at 12 46 45 pm](https://cloud.githubusercontent.com/assets/11636908/10106587/965cdef6-6383-11e5-8fec-26683bf3fd45.png)

[2015-09-25 17:36] noahmanger commented on #755
Ok, got those fixed in a PR. That leaves the last three items on that list.

@jmcarp do you mind adding a little javascript to add alt-tags to the leaflet tiles? And if you have an idea for adding a `tabindex` to ethnio close button that should solve the problem of allowing that to be closed with the keyboard. But if not I think it's ok.

The last point about the year cycle select needing a label

[2015-09-25 18:15] #760 closed

[2015-09-25 18:38] emileighoutlaw commented on #759
Of course! On it.

[2015-09-25 18:39] emileighoutlaw commented on #758
Can do! :)

[2015-09-25 19:53] jenniferthibault commented on #718
Visually I do like the flag/graph favicon, but I think that the simplified seal will tie it to fec.gov more closely. Going to go with that for now, and the second app icon with the text adjusted to betaFEC.

[2015-09-25 19:56] #512 closed

[2015-09-25 20:00] noahmanger commented on #689
Hmm. Just to think this through out loud here:

The "alerts" here aren't actually alerting to something "new" or a difference in state. It's not that something has changed or that you stumbled on a particular edge case (unlike the "No data" messages when you go to a committee that hasn't filed reports or if there's an error in loading data for a table).

In this case, the messages are more about p

[2015-09-25 20:19] noahmanger commented on #734
Fixed!

[2015-09-25 20:19] #734 closed

[2015-09-25 20:34] #420 closed

[2015-09-25 20:36] #654 closed

[2015-09-25 20:37] emileighoutlaw commented on #624
Fixed!

[2015-09-25 20:37] #624 closed

[2015-09-25 21:18] noahmanger opened #762 "Allow ethnio pop up to be closed with keyboard navigation"
Currently, the "close" button on the Ethnio popup cannot be accessed by the keyboard (because it's actually just a `<div>` with no `tabindex`...d'oh). But we should add some js to give it a tabindex / figure something out.

Not launch-critical, but should be addressed at some point.

[2015-09-25 21:21] noahmanger commented on #690
I'll do this.

[2015-09-25 21:31] #690 closed

[2015-09-25 22:42] jenniferthibault commented on #718
https://github.com/18F/fec-style/pull/118 put all the images into the FEC style repo

[2015-09-25 22:47] jenniferthibault commented on #689
I think it makes sense. What I'm hearing is that instead of using the "alert" pattern in the disclaimers in #736 (which is what the latest mockup shows), we should possibly be using this tooltip pattern for the disclaimers. Is that right?

Glad to talk this one out in a video chat, I think we're close @noahmanger .

[2015-09-25 22:50] jenniferthibault commented on #718
Moved assignment to Emileigh to wrap up text. Woo!

[2015-09-25 23:19] jenniferthibault commented on #689
A quick call figured this out! Solution: what's happening here is ok and great, but what needed to happen was just switching the exclamation point mark in #736 with a matching "i" info mark so that the cue was the same.

[2015-09-25 23:22] jenniferthibault commented on #736
See this https://github.com/18F/openFEC-web-app/issues/689#issuecomment-143338009  for full history, but a small icon change here to use an `i` instead of `!`:

![i_alert_info](https://cloud.githubusercontent.com/assets/11636908/10114153/b5f0ad38-63ba-11e5-8963-86887196b912.png)

[2015-09-26 00:01] noahmanger opened #766 "So users can easily browse districts in their state, we will show all districts in ascending # order"
Washington State election results look weird: https://fec-proxy.18f.gov/data/elections/?cycle=2016&state=WA

The districts are out of order, there's a district 99, and it's missing 1 and 6, which do have pages.

[2015-09-26 00:16] leahbannon commented on #766
Most of the states with more than 2 or 3 districts show the districts out of order and are missing some.

[2015-09-26 00:30] noahmanger commented on #755
Alt tags have been added to the tiles, and I made a separate issue for the Ethnio popup. I don't think we need to worrry about the year select, so I'm closing this out.

[2015-09-26 00:30] #755 closed

[2015-09-26 01:02] #640 closed

[2015-09-26 01:02] #631 closed

[2015-09-26 01:06] noahmanger commented on #446
I believe this has not been an issue for a while since the redesign. Closing the issue.

[2015-09-26 01:06] #446 closed

[2015-09-26 01:11] #471 closed

[2015-09-26 01:12] noahmanger commented on #573
What's the status on this? Should this be before launch?

[2015-09-26 01:18] AmyKort commented on #573
I think that the glossary definitions we already have should be sufficient for launch. We can make the explanation a fast follow. @PaulClark2 ?

[2015-09-26 01:32] noahmanger commented on #622
We've added this to /receipts and /disbursements, but should still figure out a way to handle this on the committee page tabs.

[2015-09-26 04:07] #633 closed

[2015-09-26 04:07] #648 closed

[2015-09-26 04:07] #649 closed

[2015-09-26 04:07] #689 closed

[2015-09-26 04:07] #736 closed

[2015-09-26 04:21] jmcarp commented on #622
It'a actually pretty straightforward to extend the aggregates back in time--maybe to 1979, like the rest of the data. It's just the transactions that are complicated. If users wouldn't find it too confusing to show aggregates but not transactions pre-2011, we could make this change anytime.

[2015-09-26 17:47] jenniferthibault commented on #622
@noahmanger glad to work this up today if you'd like

[2015-09-26 19:39] noahmanger commented on #622
@jmcarp oh yeah that would definitely be better I think. Better to show the aggregates, but not have them link to the transactions. Maybe we include an "info warning" explaining why that is.

[2015-09-26 19:40] noahmanger commented on #622
It would be nice because looking at any committee page pre-2011 is just really sparse.

[2015-09-26 20:17] noahmanger commented on #573
Ok. The only thing that definition doesn't cover though is our decision to not include 24 / 48 hour reports, right? I think we need to make clear that these aren't included in our totals.

[2015-09-26 20:17] noahmanger commented on #555
Note: these need to be added to the table headers on the "Other spending" tabs.

[2015-09-26 20:28] LindsayYoung commented on #573
We can say that totals are from quarterly reports.

We are including the quarterly form 5, so all the groups are accounted for.  I think we need some more methodology explanations in general.

[2015-09-26 20:41] #751 closed

[2015-09-26 21:07] PaulClark2 commented on #573
We'll need to say "quarterly, monthly and semi-annual reports" because many PACs (Form 3X filers) report monthly and in non-election year many PAC quarterly filers file semi-annually.

[2015-09-26 21:13] LindsayYoung opened #772 "explanation on aggregates on committee page older that 2011"
I know we talked about running the aggregates for older records and just calculating them once.That would be better. If we don’t do that, we should at least have text that we have not populated maps for older data, or something like that.

[2015-09-26 21:14] LindsayYoung commented on #772
The same would go for the comparisons on the election pages.

[2015-09-26 21:19] LindsayYoung opened #773 "some links on committee browse broken"
Links from committee browse page are giving all the cycles, and the page breaks if it does not have entries for all of those cycles.

http://localhost:3000/committee/C00587592/?cycle=2012&cycle=2014&cycle=2016
http://localhost:3000/committee/C00587717/?cycle=2012&cycle=2014&cycle=2016

[2015-09-26 21:28] konklone opened #774 "Broken links out to committees on committee transfer tab"
On the ["Between committees" tab for a committee](https://fec-proxy.18f.gov/data/committee/C00548669/?tab=between-committees&cycle=2014), the link out to other committees is broken. The link shown here:

![image](https://cloud.githubusercontent.com/assets/4592/10119937/d6806de0-6473-11e5-9fc8-682e4e3041c2.png)

Links to:

[code]

which is a 404. It could be that it's going out to `fec-dev-cms` ins

[2015-09-26 21:56] noahmanger commented on #573
So how does this sound?

[code]

@emileighoutlaw ?

[2015-09-26 22:04] jmcarp commented on #773
Should be fixed in #765.

[2015-09-26 22:10] PaulClark2 commented on #573
Maybe, "These totals are drawn from quarterly, monthly and semi-annual reports.  24-hour and 48-hour independent expenditures reports are not included."

@emileighoutlaw @noahmanger

[2015-09-26 22:17] noahmanger opened #775 "Fix "Invalid party code" and "unknown" status"
Not sure where these values come from, but if it's possible to fix, that would be great.

![screen shot 2015-09-26 at 3 16 28 pm](https://cloud.githubusercontent.com/assets/1696495/10120130/acb1839e-6461-11e5-8d2c-d81575bcfb3f.png)

[2015-09-26 22:29] noahmanger opened #776 "Ensure all links go to fec-proxy"
h/t @konklone for catching these:

- [x] Contact link goes to fec-dev-cms instead of fec-proxy
- [x] When in the /data/ app, the FEC logo at top of page goes to fec-dev-cms instead of fec-proxy

[2015-09-26 22:31] noahmanger opened #777 "Remove "OpenFEC" references"
- [ ] https://fec-proxy.18f.gov/data/candidate/P60010535/?cycle=2016

[2015-09-26 22:32] noahmanger commented on #718
Remove references to "@18F" on twitter meta tags (h/t @konklone )

[2015-09-26 22:33] noahmanger opened #778 "Have consistent "target=blank" behavior on document links"
From Eric: On this filings page, the document link to docquery.fec.gov opens in a new tab, but in the expanded “more” tab that opens when you click the arrow, the “View original image” button loads the document in the same tab.

[2015-09-26 22:42] jmcarp commented on #774
Fixed in #765, along with many more broken links. Thanks for catching!

[2015-09-26 22:42] #774 closed

[2015-09-27 00:48] jmcarp commented on #775
This candidate (ID P60013265) has a `party_affiliation` of 999 and a `party_affiliation_desc` of "Invalid Party Code" in the `dimparty` table. But according to the candidate's F2, the correct party should be "IDP" / "Independence Party". @PaulClark2, can you look into this when you get a chance?

[2015-09-27 19:07] emileighoutlaw commented on #573
I think @PaulClark2's suggested language is okay with me if it's okay with @AmyKort

[2015-09-27 19:17] #718 closed

[2015-09-27 19:49] LindsayYoung opened #785 "As a user who wants to know about real candidates, we will limit typeahead to statutory candidates."
This is a brilliant suggestion from @boblannon that will filer out a lot of the prank filers, with beautiful names like "AAAAAAAAAA"

[2015-09-27 20:00] amypike commented on #573
You've got one Amy vote, sounds good to me.

[2015-09-27 22:55] AmyKort commented on #573
Sounds good!

Sent from my iPhone

[2015-09-27 23:35] #777 closed

[2015-09-28 00:23] #758 closed

[2015-09-28 00:23] #759 closed

[2015-09-28 00:26] #773 closed

[2015-09-28 00:26] noahmanger commented on #776
Resolved

[2015-09-28 00:26] #776 closed

[2015-09-28 00:45] #725 closed

[2015-09-28 00:53] noahmanger opened #789 "Add filer info to filings panel"
We should include the filer's name and maybe other information on the details panel for filings.

<img width="509" alt="screen shot 2015-09-27 at 8 52 44 pm" src="https://cloud.githubusercontent.com/assets/1696495/10126145/d8017eb6-6559-11e5-9a9f-8cf792c43401.png">

[2015-09-28 00:56] noahmanger opened #790 "To not confuse users, remove perf bar from the production site"
We need to be sure that the performance bar at the bottom of the window is hidden on production.

[2015-09-28 12:48] PaulClark2 commented on #785
I like this solution better than excluding F2Zs (re:  https://github.com/18F/openFEC/issues/964) but we'd need to explain that we are excluding certain Form 2 filers, ballot list candidates and draft committee candidates.

[2015-09-28 17:43] PaulClark2 commented on #775
There were 27 party codes missing from the DW table.  We've added them and they are in postgres now, too.

select * from dimparty where party_sk > 10000050;
select * from dimparty where party_affiliation = 'IDP';

[2015-09-29 02:21] #573 closed

[2015-10-01 13:50] LindsayYoung opened #791 "To provide consistent experience across browsers, fix the "hide filter" button on firefox on linux"
"Hide filter" cutoff in upper left

![screenshot from 2015-09-29 11_12_27](https://cloud.githubusercontent.com/assets/4406333/10222359/72e2bf48-6821-11e5-8453-15ec3388ad74.png)

[2015-10-01 13:54] LindsayYoung opened #792 "Bug: To provide consistent experience across browsers, fix the select arrows on firefox on linux"
![screenshot from 2015-09-29 11_00_38](https://cloud.githubusercontent.com/assets/4406333/10222439/f584786a-6821-11e5-9794-35517e81a944.png)

This shot was taken with Iceweasal/Firefox on Debian

[2015-10-01 14:52] LindsayYoung commented on #791
This was ice wheseal too

[2015-10-01 19:24] LindsayYoung commented on #785
This is just for the Candidate browse view, people would default to the statutory candidates, but be able to see all candidates that filed an F2 if they unselect statutory candidate checkbox.

We have been excluding candidates who we only have F2Z records, since those records are in poor condition. Simple data like district is wrong or missing.

Also 18F/openFEC#964 is only affecting the cycle cre

[2015-10-01 20:18] PaulClark2 opened #796 "Variable coverage periods for candidate financial summaries"
Also see Slack (#fec-partners) conversation on 9/17/15

As a user I would like to see:
2-year financial summaries for house candidates
            regular general elections are predictable
4-year financial summaries for presidential candidates
            general election always predictable
6-year financial summaries for senate candidates
            senate class elections predictable

@jwchumley

[2015-10-01 20:20] LindsayYoung commented on #785
I think "C" will work it looks like there is a bug in the dev api in /candidate it looks like it is using the oldest name and status, instead of the newest.

18F/openFEC#1244

[2015-10-01 21:13] PaulClark2 commented on #796
It might be useful to focus on regular elections first and then deal with house and senate special elections.   The coverage periods for regular elections are predictable.

For example:
House:	            2013-2014;  2015-2016;  2017-2018
President:          2009-2012;  2013-2016;  2017-2020
Senate class 1:  2007-2012;  2013-2018;  2019-2024
Senate class 2:  2009-2014;  2015-2020;  2021-2026
Senat

[2015-10-01 21:16] LindsayYoung commented on #785
Nope, the logic is right, but the receipt date on Obama's records, seems to have changed.

[2015-10-02 14:38] jenniferthibault commented on #389
No consensus yet, but there is more discussion happening over here since the web standards have launched: https://github.com/18F/web-design-standards/issues/751
I'll keep an eye on it and see if helpful recommendations come up

[2015-10-02 16:55] jenniferthibault commented on #545
Closing this issue in favor of https://github.com/18F/openFEC/issues/1184 which tracks the user story and need

[2015-10-02 16:55] #545 closed

[2015-10-02 19:31] noahmanger opened #799 "In order to better understand the data for one's district, add office-holder information to election pages"
Lindsay, Josh, Jen and I just discussed a number of short-term fixes to election pages to prevent confusion and/or fix bad data. Please chime in if I'm missing anything:
- [ ] Show current officeholder on election pages: This will bring consistency to the election search results page.
- [ ] If possible, show _both_ current senators on election pages and search results, but make clear that only one

[2015-10-02 23:02] noahmanger opened #801 "Wireframe new cycle behavior"
Wireframe a solution to allow users to easily view Presidential and Senate financial summaries for the full 4 or 6 year cycle, respectively, while also allowing them to view the traditional 2-year periods.

Decisions to make / questions to address:
- Does this advanced select only live on candidate pages? Or also their committee principal committee pages?
- How does this work with adjusting years

[2015-10-02 23:02] noahmanger opened #802 "To make it easier to understand senate elections, implement new election page designs"
As part of the work to address 4 year presidential terms and 6 year senate terms, as well as address continuing confusion about the way that different senate classes are handled by the election search and election pages, create wireframes that address the proposed new behavior:

**Election search:**
- Show all **offices** currently relevant to that user, regardless of whether that office has an el

[2015-10-02 23:08] noahmanger opened #803 "In order to make numbers easier to compare and read, create consistent decimal usage throughout the app"
Sometimes we display cents in currency values, and sometimes no. We should make this consistent, or at least consistent logic as to when cents are displayed or not.

[2015-10-02 23:32] noahmanger opened #804 "limit typeahead to statutory candidates."
In addition to a statutory candidate filter on the candidates page, what do you think about limiting typeahead suggestions to those as well?

Would be nice to not suggest garbage results:

[deleted screenshot...too crass. But just search "Trump" to see what I mean]

[2015-10-02 23:53] noahmanger commented on #775
Has this been resolved yet?

[2015-10-05 13:42] PaulClark2 commented on #799
Snowe filed a F2 with 2011 as the election year:  http://docquery.fec.gov/pdf/351/11020371351/11020371351.pdf

[2015-10-05 14:28] emileighoutlaw commented on #799
Hmm. Could you label the officeholder "officeholder" and the challenger "challenger" ?

[2015-10-05 14:39] LindsayYoung commented on #799
We could add the year, so that it is explicit- "2012 office holder"

I am also looking at the Snowe data, I am looking to see if there is a better way of handling special elections that we could implement quickly.

[2015-10-05 14:49] emileighoutlaw commented on #799
Yeah, I think `2012 officeholder` would be okay

[2015-10-05 15:08] LindsayYoung commented on #799
I am going into more depth about Snowe, in 18F/openFEC#1248

[2015-10-05 19:11] noahmanger opened #805 "In order to make the app content more easily readable, use full state names instead of two-letter abbreviations"
We currently use two-letter abbreviations in many places where a full state name would be more user friendly. The following places should be updated to use the full state name:
- Candidate page headers
- Election lookup results
- Details panels (whenever applicable)

Maybe more, but those come to mind. I think we can keep them the abbreviations in tables, but that should be it.

[2015-10-05 19:29] leahbannon opened #806 "feedback tool for every page"
- [x] @emileighoutlaw & @onezerojeremy write the questions
- [x] @jenniferthibault design the wireframe
- [x] @jmcarp implement tool

Needed functionality:
- send directly to github issues
- one of the fields should capture the URL

[2015-10-05 19:40] jenniferthibault opened #807 "Election pages: maps aren't showing up"
On pages like this, the maps aren't showing up https://fec-proxy.18f.gov/data/elections/senate/ME/2012/

[2015-10-05 19:44] noahmanger commented on #622
We're fixing this by running one-time aggregates for pre-2011 transactions.

[2015-10-05 19:44] #622 closed

[2015-10-05 19:50] noahmanger opened #809 "So users aren't confused by historical data changes, we need to add disclaimers/warnings"
We need to add disclaimers for points in history when the data changed for whatever reason (e.g. a new data entry contractor, new requirements, new processes).

**Steps:**
- [ ] @pclark2 create a list of all of the possible warnings or disclaimers we may want
- [ ] @emileighoutlaw , @jenniferthibault and I figure out how / if to display the warnings, and the language to use
- [ ] Implement logic o

[2015-10-05 20:06] noahmanger commented on #804
Posted this on friday, but here's a ~ping~. Would love to get this figured out.

[2015-10-05 20:22] LindsayYoung commented on #804
I deleted that one manually from the data bases-- I don't know how it came back. :/

I like that idea for the typeahead search. I do think that we don't want to be too aggressive and take it out of all search, so you can't find those candidates if you really want to.

[2015-10-05 20:49] leahbannon commented on #804
I like the idea of taking it out of typeahead but leave it in for actual searches.

[2015-10-05 20:51] noahmanger commented on #804
Yep, exactly. That's what I'm thinking.

[2015-10-05 20:55] jmcarp commented on #806
GitHub issues need to be filed on behalf of a user. We'll probably want to create a special user without write access for this purpose. How about something like fec-issues? Should I go ahead and create that account?

[2015-10-05 21:03] jenniferthibault commented on #806
That makes sense semantically to me. We could also make it clear that it's a bot (or non-person account) if that's important, such as FEC-IssueBOT ?

[2015-10-05 21:06] leahbannon commented on #806
This might be helpful WWBD https://github.com/benbalter/redliner

[2015-10-05 21:08] leahbannon commented on #806
Also! https://github.com/benbalter/problem_child

[2015-10-05 21:20] emileighoutlaw commented on #806
Are we envisioning a widget-thingy on the bottom of every page? Let me know if I'm off base, but in my head, I'm imagining something along the lines of:

`Report a problem`
which, when clicked, expands to a box with a field for the URL and a field for the issue itself.

Things we'll need: A disclaimer not to enter personally identifiable information in the text boxes. I like this tweak of the CFPB

[2015-10-05 21:34] noahmanger commented on #806
Problem child looks like it could be useful, but may end up being more than we need. @emileighoutlaw you're right. I believe we want a button on every page that can trigger a modal of some sort with a form.

Good call on the disclaimer. And I like the idea of `fec-issue-bot` or something along those lines.

[2015-10-05 21:49] jmcarp commented on #806
Looks like problem child is written in ruby, so using it here isn't an option, but we can still use Ben's code for inspiration. By the way, sorry if I'm missing something, but why would we have the user submit the URL of they page they're on? That's information we get automatically, so the only reason to include that field would be to let users report bugs about pages they aren't looking at anymor

[2015-10-05 21:57] noahmanger commented on #806
Oh if we can get that automatically let's just do that.

On Mon, Oct 5, 2015 at 2:49 PM, Joshua Carp <notifications@github.com>
wrote:

--
Noah Manger
18F <http://18f.gsa.gov> | Work: 415-696-6146

[2015-10-05 22:05] LindsayYoung commented on #804
This is an easy fix but there are some data holes. I want to take a look at our filtering tomorrow.

I am seeing candidates filtered out that should have candidate or former candidate status:
ISRAEL, STEVE J.
COSTELLO, RYAN A

We are pulling the most recent status, from dimcandproperties. Which makes sense, but seems to have holes. I am going to take a look tomorrow to see if the dimcandstatusici

[2015-10-06 15:06] jmcarp commented on #806
Started in #810.

[2015-10-07 05:13] noahmanger commented on #802
I've posted wireframes for two ways to handle the new senate election pages in InVision here: https://invis.io/RE4GG62GB

I drew up two different ways to handle Senate pages: A) Make separate pages for different Senate seats in a state; B) Include both seats on the same election page, but with further information about each one.

I include notes on the screens explaining the logic about what gets

[2015-10-07 05:18] noahmanger commented on #801
I've got wireframes for different approaches to this new time period select on InVision, as well as how it would work on candidate and election pages: https://invis.io/RE4GG62GB

After discussing with the team today, we're leaning towards going with Option A of a `<select>` with `<optgroup>`s to group two-year periods for each election year.

But the plan is to test that against one or two of the

[2015-10-07 17:38] jmcarp commented on #775
Looping back on this, I'm still seeing invalid parties in the database. @PaulClark2, am I looking in the wrong place? There's still a record in `dimparty` with a `party_affiliation_desc` of "Invalid Party Code", and about 1600 candidates are still linked to that party row. Here's a sample query:

[code]

[2015-10-07 18:05] PaulClark2 commented on #775
This might require us to refresh CFDM (data warehouse schema) to get the new entries in the reference table to be applied to the correct rows in the various DIM tables.   I'll ask our DBA folks if they have other ideas.

[2015-10-07 19:30] amypike opened #812 "In order to comply with OGC: Content Pages: Issue #1 of 3 - Electronic Filing Page"
@emileighoutlaw  I spoke with Jeff and found out a little about the validation process.  When a filer uses e-file software to produce a filing, the software encrypts the filing and then provides the user with a validation number.  When the filer goes to upload that filing to the fec server, the server encrypts the filing in the same way and also produces a validation number.  Those two validation

[2015-10-07 19:32] amypike opened #813 "In order to comply with OGC: Content Pages: Issue #2 of 3 - Citation for the Post-General Election Reports"
Hi @emileighoutlaw !  This is an easy one:  The citation for the post-general report is 11 CFR 104.5(a)(2)(ii)(A) and (B). @AmyKort

[2015-10-07 19:41] amypike opened #814 "In order to comply with OGC: Content Pages: Issue #3 of 3 - "Learn more about pre-election reports" page"
@emileighoutlaw  @amykort   This is the last one, and it is an easy one - I double-checked the comments from RAD/Info and the language we discussed on Tuesday is accurate.  The sentence (as the three of us edited it) should read:  "Pre-election reports are pre-primary, pre-general and pre-runoff reports.  File these reports for any primary, runoff or general election your candidate is involved in,

[2015-10-07 20:02] noahmanger opened #815 "In order to make datatables easier to read and understand, rethink the table + filter interaction"
The browse tables currently face a number of challenges that it would be nice to fix after launch:
- Not all columns are relevant to all records (e.g. Total receipts for Form 1s)
- Not all filters have columns, which would be useful when the filter is actually applied
- The number of columns often means that text is cut off
- The columns we show may not be useful in all circumstances (e.g. is Trea

[2015-10-07 20:35] noahmanger commented on #806
Ok, very simple, but here's a couple ideas:

The button could be a simple "Report a problem" on the bottom:

![button - bottom](https://cloud.githubusercontent.com/assets/1696495/10350133/1eb12de4-6cf7-11e5-9bfe-3a7a54ee52a8.png)

Or on the side:

![button - side](https://cloud.githubusercontent.com/assets/1696495/10350140/26b1bb08-6cf7-11e5-81d3-600c89d93c6e.png)

And it triggers either a modal:

[2015-10-07 21:11] leahbannon commented on #806
imho, fwiw...
* I like the bottom box more because it will allow people to more easily see or copy and paste the page, especially if they're having a data issue that they want to copy and paste.
* I like the disclaimers you have. I think we might even be able to get away with just the "describe the problem" field.
* I like the tan background more than blue on blue.

[2015-10-08 11:48] PaulClark2 commented on #806
I agree with Leah's 3 points and would add the button should probably just say "Feedback."  Should the feedback form text be more generic?  If a user wants to tell us he's confused about the presentation that's different from a link didn't work or Joe Six-pack was never an incumbent.

A question about the feedback button position -- right side or bottom.  If it's on the right side will the user be

[2015-10-08 12:45] emileighoutlaw commented on #814
Awesome! Thanks @amypike !

[2015-10-08 12:45] emileighoutlaw commented on #813
Excellent!!

[2015-10-08 12:47] emileighoutlaw commented on #812
Ah yes! A mystery solved. I think a slight tweak on the sentence you wrote will be perfect. Thanks for investigating, @amypike! :)

[2015-10-08 15:25] #789 closed

[2015-10-08 15:38] jenniferthibault commented on #806
@noahmanger / @PaulClark2 / @leahbannon a third alternative that wouldn't involve a modal or popup that overlaps anything would be how the UK digital service team solicits feedback: a link or button right above the footer. It asks two main questions:

- What were you trying to do? [text box]
- What went wrong? [text box]

To which we could add an alternate
 - OR: Just give us some feedback [text b

[2015-10-08 16:09] emileighoutlaw commented on #806
Oh I really like this idea, @jenniferthibault

[2015-10-08 16:25] PaulClark2 commented on #806
:+1:

[2015-10-08 16:27] jenniferthibault commented on #806
Sounds like it's at least worth a wireframe. I'll get on that now and hopefully will have it right in time for those west coasters to wake up :)

[2015-10-08 17:03] jenniferthibault commented on #806
Here's a take on that in the betaFEC style & with @emileighoutlaw 's language. I'm keen to hear @noahmanger 's thoughts overall on the interaction, since this would include the box above the footer on every page, so users would only see it at the bottom, instead of a button fixed to the edge of a screen.

#### Closed:
![screen shot 2015-10-08 at 12 56 36 pm](https://cloud.githubusercontent.com/ass

[2015-10-08 17:35] emileighoutlaw commented on #806
Oh I love this. How would people feel about changing `Is there anything wrong with this page?` to either
`Is anything wrong with this page`or (I prefer) `Is something wrong with this page?`

[2015-10-08 17:58] noahmanger commented on #762
Resolved by ethnio

[2015-10-08 18:02] noahmanger commented on #778
Resolved by #794

[2015-10-08 18:02] #778 closed

[2015-10-08 18:24] amypike commented on #806
The box and button look wonderful! I agree with @PaulClark2  comment, above,  that "Is something wrong with this page?" sounds like a link didn't work or the data seems inaccurate, not that the interface is confusing.  I offer that the, shall we say, "intense interest" in the feedback box was very much to get "user's thoughts," not just report that something is wrong.  @emileighoutlaw , "Is someth

[2015-10-08 18:42] noahmanger commented on #806
Ah! Ok, this is all helpful. For starters, I like the interaction above, but wonder if it still might be better to have it fixed to the bottom of the screen? Slightly worried that people will miss it if they don't scroll all the way down. The only change I'd make to the interaction for sure though is when it's open there should be a cancel or close button.

As far as language, this raises a good p

[2015-10-08 18:53] leahbannon commented on #806
To Noah's point, if this was something like a sticky banner across the bottom, this could also be a good opportunity to remind people this is a beta and that fec.gov is still the main place

[2015-10-08 20:09] jenniferthibault opened #819 "Repair search by state/district functionality"
Searching by state and district seems do be down, but searching by zip code is still working:

https://fec-proxy.18f.gov/data/elections/?cycle=2016&state=CA

[2015-10-08 20:53] jenniferthibault opened #820 "In order to help users find more content below the landing page hero section, we will add a downward pointing arrow"
One the beta landing page, data landing page (/data) , and registration landing page (/registration-and-reporting), add a centered 90 degree triangle that matches the border color. This arrow will provide a visual clue for users to scroll down for more.
![screen shot 2015-10-08 at 4 47 00 pm](https://cloud.githubusercontent.com/assets/11636908/10379673/99ec8166-6ddd-11e5-9deb-25e2b3261943.png)
![s

[2015-10-08 20:54] LindsayYoung commented on #820
"Downward pointing arrow" sounds like a yoga pose. ;)

[2015-10-08 20:56] LindsayYoung commented on #819
Yea, the dev site is acting up. There are a few queries that are acting up on the dev server and working fine on production and locally. :bug: <= it is hiding

[2015-10-08 20:57] jenniferthibault commented on #820
Hahaha, you beat me to it @LindsayYoung

[2015-10-08 21:00] LindsayYoung commented on #819
I am seeing an error in new relic that says,
[code]

Could it be because we are still creating the older aggregates, since that merged earlier?

[2015-10-08 21:07] #807 closed

[2015-10-09 15:33] jenniferthibault commented on #645
I know this is backlogged at the moment, but if the above map interaction isn't going to be implemented before launch, there is a bug with the current "View two candidates" button that should be cleaned up prior to launch. @jmcarp your thoughts on whether we want to clean up that button alignment, or have bandwidth for the new interactions above prior to launch?

<img width="1062" alt="screen shot

[2015-10-09 16:34] noahmanger commented on #741
Be sure to include active state on utility nav items:

<img width="286" alt="screen shot 2015-10-09 at 10 45 48 am" src="https://cloud.githubusercontent.com/assets/11636908/10396916/faa68bce-6e72-11e5-8752-20c9d5f02505.png">

[2015-10-09 17:00] AmyKort commented on #806
For the feedback box:  Our primary concern is to make commenting as easy as possible for users. We think a sticky box/banner is key to this. Whatever part of your screen you're looking at, we want you to be able to make a comment. The box needs to be labeled "feedback" or something to that effect rather than "report a problem." It is important to us to cast a very wide net to catch comments from o

[2015-10-09 17:19] PaulClark2 commented on #806
I'll repeat what I said above and I'll agree with Amy's comment above the box or circle needs to be labeled "feedback"

[2015-10-09 17:30] jmcarp commented on #819
It looks like this issue (and the contribution by size issue) have been resolved after merging #1261 and letting the views rebuild. @jenniferthibault, would you mind verifying that this is behaving as expected on the proxy site?

[2015-10-09 17:36] jenniferthibault commented on #819
Verified! Both are working on proxy.

[2015-10-09 17:44] jmcarp commented on #819
:sunglasses:

[2015-10-09 17:44] #819 closed

[2015-10-09 17:59] onezerojeremy commented on #806
I know and respect the need to get input from users. We want it. Absolutely. Full stop.

Apologies if you all know all this, but I feel like I wouldn't be doing my job if I didn't raise a slight concern about an open ended feedback box. One of the weirdest parts of learning to be a user experience designer is learning that you can't actually just ask your users what they think. Some of us call it

[2015-10-09 20:14] noahmanger commented on #796
This is captured in other issues with the wireframes. Closing it out.

[2015-10-09 20:14] #796 closed

[2015-10-09 20:24] noahmanger commented on #680
I'm going to consider this a sub-issue of #815 and close it out.

[2015-10-09 20:24] #680 closed

[2015-10-09 20:37] #762 closed

[2015-10-09 22:13] PaulClark2 opened #821 "So that users can explore and respond to different interactions, wireframe date range option for financial summaries"
For the beta release, we'll need to modify the wireframes, https://invis.io/RE4GG62GB, in Issue #801 to include a date range slider option.

@wluoFEC @amykort @jwchumley @amypike

[2015-10-09 22:15] PaulClark2 commented on #801
For the beta release we'll need to modify Option A so that for a Senate candidate the drop down menu would look like the one below. This should be the first option users are presented.  The default would be to the current full cycle.  We should include as many other options as the teams decide is useful to present to users.

        **Full Cycle 2012**
        2011-2012
        2009-2010
        2

[2015-10-10 00:03] noahmanger commented on #801
Just to clarify: are you saying for the release we need to *implement* this or simply update the wireframes to reflect this?

Second, are you saying that we don't include an option for "All: 2011 - 2016" and you want to use "Full Cycle 2016" to choose that time period?

[2015-10-10 00:04] noahmanger commented on #821
Can you clarify: are you asking to see a version with an actual date range slider? We hadn't discussed that, and there's a number of challenges with that interaction. Also, are you saying that you just want to see that in wireframes or implemented?

[2015-10-10 00:36] AmyKort commented on #821
We're looking for a wireframe that would show what a date slider might look like. It would allow people for example to pick their own beginning and ending dates and see summary data that way. The beginning and ending points would be limited to reports filed. For example, I want to see  everything from the July 2014 quarterly report to the July 2015 quarterly report. The idea is to give people some

[2015-10-10 00:40] AmyKort commented on #801
Just update the wireframe to reflect this. And, yes, please go with the "Full Cycle 2016" language instead of the All: 2011 - 2016 language.

[2015-10-10 00:46] AmyKort commented on #801
Also, Thank You!

[2015-10-10 01:59] PaulClark2 commented on #821
@AmyKort that's correct.  @noahmanger sorry I wasn't clearer with my description

[2015-10-10 02:02] PaulClark2 commented on #801
You're welcome Amy.  Again sorry I wasn't clear @noahmanger .  Like @AmyKort said we don't need to implement this we just need something folks can comment on.

[2015-10-12 17:01] noahmanger commented on #821
Cool, thank you. I believe there are some technical limitations on this end, but we can talk about that further.

[2015-10-13 14:04] LindsayYoung commented on #821
My former employer had trouble implementing a version of this and decided to give that up. Happy to explain more but, I think that if we do a slider, it should be locked to 1-year increments.

[2015-10-13 18:35] #806 closed

[2015-10-13 19:46] #812 closed

[2015-10-13 19:47] #814 closed

[2015-10-13 21:19] noahmanger opened #824 "To help users understand the time period they're looking at, add a tooltip to explain the two-year period select"
Using the pattern implemented elsewhere (such as with the "Unique only" filter on /receipts), add a tooltip to two-year period selects on candidate, committee and election pages. The tooltip should explain what this means and also include links to a GitHub issue that contains wireframes for the 2/4/6 year version and invites the user to comment.

**Steps:**
- [x] @emileighoutlaw write content for

[2015-10-14 14:10] emileighoutlaw opened #825 "To help users make specific inquiries, add additional departments to Contact Us page"
Current contact page includes:
- Electronic Filing Office
- Information Division
- Reports Analysis Division
- Public Records Office

We'd like to include any additional offices that would be *especially useful to users* with specific questions for FEC.

Steps:
- [x] @amykort @amypike help identify outstanding offices needed for page
- [x] Incorporate into new Contact Us page that Jen is designing

[2015-10-14 14:13] AmyKort commented on #825
I would add the Press Office (202-694-1220)

From:   Emileigh Barnes <notifications@github.com>
To:     18F/openFEC-web-app <openFEC-web-app@noreply.github.com>,
Cc:     AmyKort <akort@fec.gov>
Date:   10/14/2015 10:10 AM
Subject:        [openFEC-web-app] To help users make specific inquiries,
add additional departments to Contact Us page (#825)

Current contact page includes:
Electronic Filing Of

[2015-10-14 14:26] emileighoutlaw commented on #824
Working on this now

[2015-10-14 14:41] emileighoutlaw commented on #824
I workshopped this with my roomie, who consequently has *no* FEC experience. Here's what we came up with. Not a lot shorter, but she understood it. We can at least use it as a jumping off point. Thoughts?

This site groups data in two-year periods— if a candidate or committee has been active more than two years, it won't show all their data. We're working on a four-year view for presidential data

[2015-10-14 14:56] emileighoutlaw commented on #825
Awesome! Anything else?

On Wed, Oct 14, 2015 at 10:13 AM, AmyKort <notifications@github.com> wrote:

[2015-10-14 15:00] AmyKort commented on #825
I think those are our primary, public-facing offices. The only other
numbers we might add at some point are our Congressional Affairs Office
(202-694-1006) and our general number (202-694-1000). But, I don't think
either of those offices support the content we currently have on the beta
site. We might want to expand the list as we add functionality.

From:   Emileigh Barnes <notifications@github.c

[2015-10-14 15:08] amypike commented on #825
I tend to agree with you, AK (shocking!) that Congressional Affairs is
unnecessary at this juncture because we speak to incumbents, not
challengers, and the content is for lay users.  My (and Duane's) only
hesitation is that our office plans to do some outreach to our oversight
committees in preparation for the launch to get them interested and having
our number there makes them feel included so i

[2015-10-14 15:12] AmyKort commented on #825
I absolutely agree with you, AP. Let's put in Congressional Affairs.

From:   amypike <notifications@github.com>
To:     18F/openFEC-web-app <openFEC-web-app@noreply.github.com>,
Cc:     AmyKort <akort@fec.gov>
Date:   10/14/2015 11:10 AM
Subject:        Re: [openFEC-web-app] To help users make specific
inquiries, add additional departments to Contact Us page (#825)

I tend to agree with you, AK (

[2015-10-14 16:10] jenniferthibault commented on #447
@noahmanger— still true? or addressed by other issues?

[2015-10-14 16:24] emileighoutlaw opened #828 "To help users understand complex technical content, add additional phrases to the glossary"
@amypike @amykort Here are the words I've identified so far that I'd like to add into the glossary. Is there somewhere I can look for legal definitions of these? Many thanks!

- Receipt
- Disbursement
- Source prohibition
- SSF
- General public political advertising

[2015-10-14 16:32] noahmanger commented on #447
Hmmm. Not really sure. It's vague enough that we can probably close it for now but I just wanted to make sure we stayed open to the possibility that we may need to change things to meet user expectations.

[2015-10-14 17:36] amypike commented on #828
Another effort
to help users understand
our FEC speak:

Receipt: Anything of value (money, goods, services of property) received by a political committee. (no citation, definition is from Candidate Guide)
Disbursement: Any purchase or payment made by a political committee or any other person that is subject to FECA,  11 CFR 300.2(d).
SSF - A political committee established, administered or financi

[2015-10-14 18:07] noahmanger commented on #824
I like this.

[2015-10-14 18:37] jmcarp commented on #824
AFAIK, we don't know that we're going to be working on four- and six-year views, specifically--we know that we're working on some way of showing more (and maybe less) data than two year chunks.

[2015-10-14 18:43] noahmanger commented on #824
Good point. Let's make it a little more generic for now.

[2015-10-14 18:55] emileighoutlaw commented on #824
How about:

[2015-10-14 19:18] emileighoutlaw commented on #828
Our best haiku yet. :) Adding these in today. We can talk about the trickier ones next time we're together

[2015-10-14 19:22] jenniferthibault opened #829 "Move feedback box above map tiles credit line, in order to keep tools from overlapping and prevent confusion"
On the election search result pages, the map tiles credit line overlaps the feedback box:

<img width="1131" alt="screen shot 2015-10-14 at 3 19 04 pm" src="https://cloud.githubusercontent.com/assets/11636908/10494992/746a7ee4-7287-11e5-9d7f-65dce9ddc73e.png">

[2015-10-14 19:45] jmcarp opened #830 ""Hide filters" is partly visible in Firefox"
AFAIK, the "Hide filters" text should be hidden until hover, but in Firefox, part of it's peeking out:

<img width="550" alt="screen shot 2015-10-14 at 3 44 20 pm" src="https://cloud.githubusercontent.com/assets/1633460/10495559/8c7f9912-728a-11e5-8f1c-ed78e774eb6b.png">

cc @noahmanger

[2015-10-14 20:37] LindsayYoung opened #832 "link to specific filters on filings gets re-directed"
For example, "view source forms" on this page:
https://fec-proxy.18f.gov/data/candidate/P00003392/

The url looks right on hover:
https://fec-proxy.18f.gov/data/filings/?cycle=2016&amendment_indicator=N&committee_id=C00575795&form_type=F3&form_type=F3P

But then it redirects to:
https://fec-proxy.18f.gov/data/filings/

[2015-10-14 22:23] #832 closed

[2015-10-14 23:37] noahmanger commented on #824
:+1:

[2015-10-15 00:01] #804 closed

[2015-10-15 00:02] jmcarp opened #835 "To provide a clear search interface, consider consolidating or reorganizing similar search tools"
We have several different entry points for searching for candidates. They're all somewhat different, but also show some overlapping information. This came up during the offsite, so I wanted to flag it for discussion. Nothing is necessarily wrong here--just wondering whether we can merge some of this functionality at some point, and/or make it easier to find.
- https://fec-proxy.18f.gov/data/?searc

[2015-10-15 00:08] noahmanger commented on #835
Ha, Jen, Jeremy and I were just talking about this today. Thanks for flagging.

[2015-10-15 00:19] noahmanger opened #836 "Bug: Committee schedule A tables are missing"
On committee receipts tabs, the map shows up with values, but the table next to it is missing: https://fec-proxy.18f.gov/data/committee/C00213512/?cycle=2016&tab=receipts

![screen shot 2015-10-14 at 5 18 03 pm](https://cloud.githubusercontent.com/assets/1696495/10501544/badc838a-7297-11e5-8501-0403753e9e61.png)

I'm seeing this error:

```https://fec-dev-api.18f.gov/v1/committee/C00213512/schedul

[2015-10-15 01:34] noahmanger opened #837 "Bug: Unable to toggle to "location" comparison tab on election pages"
On: https://fec-proxy.18f.gov/data/elections/president/2016/ , the "Contribution location" tab won't show.

[2015-10-15 02:17] jmcarp commented on #836
This is working again--looks like a few indexes didn't get added to that aggregate table. Not sure of a straightforward way to automate checks for this, but we only rarely rebuild these tables, so I'm fine to check manually for now.

[2015-10-15 02:17] #836 closed

[2015-10-15 02:19] #829 closed

[2015-10-15 03:13] #837 closed

[2015-10-15 03:55] jmcarp commented on #645
Lots of this code is slated for refactor as soon as I can get to it, so if it's not urgent, it would be nice to refactor first, and then improve the behavior. I vote for fixing the button alignment for now (specifically, for @noahmanger to fix it!) and to implement @jenniferthibault's design once the code's in better shape. But if folks would like this update sooner, that's fine too.

[2015-10-15 04:18] jmcarp commented on #609
Done.

[2015-10-15 04:18] #609 closed

[2015-10-15 14:15] AmyKort commented on #828
@emileighoutlaw: Please wait to add additional glossary terms--we might still want to tinker with the language before it goes out. Thanks!

[2015-10-15 14:16] AmyKort opened #840 "Remove Glossary Entry for Communication Cost"
Please take down the glossary entry for Communication Cost--we're going to tinker with the language a little before it goes live. Thanks!

[2015-10-15 14:17] AmyKort opened #841 "Remove Glossary Entry for Electioneering Communication"
Please take down the glossary entry for electioneering communication. We're going to tinker with the language a little before it goes live.

[2015-10-15 14:27] LindsayYoung commented on #841
I copied this verbatim from the current FEC site
http://www.fec.gov/pages/brochures/electioneering.shtml

Are you sure we can't continue with this for now and update it later?

I have been adding links for each definition that I add.
https://github.com/18F/fec-style/commit/6a5293785c0aca892189d6319c1c70d0cd8a8eb3

[2015-10-15 14:29] emileighoutlaw commented on #828
Hey! So those are the definitions the OGC specifically asked us to add in for the registration and reporting pages (so I already have them up in the glossary now). Can we keep tinkering, and if we still don't have a good consensus, I'll pull them down before launch?

[2015-10-15 14:44] LindsayYoung commented on #840
Just talked to @AmyKort
She said it was ok to keep if we edited to match what is in the Candidate Guide exactly:
[code]

[2015-10-15 14:48] AmyKort commented on #840
This is a separate issue. The definition above is for Electioneering Communication. I am discussing the definition of Communication Cost here.

[2015-10-15 15:21] emileighoutlaw commented on #840
Hey there. So the current FEC website has Communication Cost as:

Can we use that?

[2015-10-15 15:35] jmcarp commented on #766
Looks like there are a few distinct issues here:

1. Elections aren't sorted by district. This is fixed in https://github.com/18F/openFEC/pull/1272.
1. Some elections for which candidates have filed aren't displayed. This is fixed in https://github.com/18F/openFEC/pull/1273.
1. Elections for which no candidates have filed aren't displayed. This is expected (from my point of view), but can be chang

[2015-10-15 15:43] PaulClark2 commented on #840
No we need to remove the glossary entry for Communication Cost.   @wluoFEC

[2015-10-15 15:44] PaulClark2 commented on #841
We need to remove the glossary entry for Electioneering Communication @wluoFEC

[2015-10-15 15:51] AmyKort commented on #840
We're not providing language on the beta site within the same context as language is provided on the current site. Please remove the glossary entry. Thanks.

[2015-10-15 15:52] AmyKort commented on #841
We're not providing language on the beta site within the same context as language is provided on the current site. Please remove the glossary entry. Thanks.

[2015-10-15 15:53] AmyKort commented on #828
These will be great additions when we launch the registration and reporting pages. Let's save them for that launch. Thanks. @wluoFEC

[2015-10-15 15:55] LindsayYoung commented on #841
No problem! Sorry for misunderstanding you.

[2015-10-15 16:19] noahmanger commented on #645
Makes sense to me. I'll fix the button thing. It only happens in certain instances where there's a really long option in the candidate select, but I'll fix it.

[2015-10-15 16:47] noahmanger commented on #766
This sounds right on. You're right that we began [rethinking the elections search](https://invis.io/244KD9TRX), so no need to touch that yet. These fixes will make it consistent with the logic we originally designed.

[2015-10-15 17:15] #555 closed

[2015-10-15 17:22] jenniferthibault commented on #824
These are the mockups I was planning to put into the new issue—they use a senate race as an example for each type of cycle select. Do these work? If we prefer, I can move the interaction notes to text in the GitHub issue instead of in the mockup itself

![candidate - senate copy](https://cloud.githubusercontent.com/assets/11636908/10521777/a12ca0de-733f-11e5-86a9-5720b6bee611.png)

![candidate - s

[2015-10-15 17:43] noahmanger commented on #824
Nice. I like the idea of moving the notes into the body of the issue, with headings separating the different versions.

@paulclark2 anything missing from these?

[2015-10-15 18:13] jenniferthibault commented on #645
That makes sense to me to, but I think this interaction would be really improved by the proposed changes. This would be good support for prioritizing refactoring sooner than later

[2015-10-15 18:34] PaulClark2 commented on #824
@noahmanger  I think this covers everything

@jenniferthibault Thanks for mockups they look great. For the A:  Single dropdown we need to merge "2016 Election" and "All:  2011-2016" so that they become a single entry "Full Cycle 2016."

Full Cycle 2016
  2015 - 2016
  2013 - 2014
  2011 - 2012
Full Cycle 2010
  2009 - 2010
  2007 - 2008
  2005 - 2006

@amykort @wluoFEC

[2015-10-15 18:36] noahmanger commented on #824
Heads up: because of the way that HTML `<select>` elements work, we won't be able to bold or style the "Full Cycle XXXX" items. Right now they're `<optgroup>` titles, which is what differentiates them visually, but they are not selectable items.

[2015-10-15 18:36] PaulClark2 commented on #824
@emileighoutlaw @jmcarp I tend to agree with Josh about this.  We need to explain that currently we are using 2-year periods.  If, in the end, we use committee reporting cycles then PACs and party committees have a 1-year reporting cycle and as we've been discussing candidates have 2, 4 or 6 year reporting cycles depending upon office.

[2015-10-15 18:40] PaulClark2 commented on #824
Thanks @noahmanger

Maybe something like this so that "full cycle xxxx" is selectable?

2016 Election
  Full Cycle 2016
  2015 - 2016
  2013 - 2014
  2011 - 2012
2010 Election
  Full Cycle 2010
  2009 - 2010
  2007 - 2008
  2005 - 2006

[2015-10-15 18:42] noahmanger commented on #824
Works for me. Of course we'll test it out and see if it makes sense to users.

[2015-10-15 18:43] jenniferthibault commented on #824
If "Full cycle" is a phrase users know and associate (and it sounds like it might be, but testing TBD?) I'd like to also make clear the start and end date. It's long, but would look like this:

2016 Election
 Full Cycle 2011–2016
 2015 - 2016
 2013 - 2014
 2011 - 2012
2010 Election
 Full Cycle 2005–2010
 2009 - 2010
 2007 - 2008
 2005 - 2006

[2015-10-15 18:44] noahmanger commented on #824
:+1: should probably be "Full cycle" (lowercase c)

[2015-10-15 18:47] jenniferthibault commented on #824
good catch :) I'll work up some new mockups with this integrated, and will start the new issue

[2015-10-15 18:59] noahmanger commented on #824
Already started one here https://github.com/18f/fec/issues/71

[2015-10-15 19:04] PaulClark2 commented on #824
Thanks!   Agreed all this is subject to usability testing.

[2015-10-15 19:21] #840 closed

[2015-10-15 19:21] #841 closed

[2015-10-15 19:22] PaulClark2 commented on #824
@noahmanger @jenniferthibault

ok ... I have more information.   The default needs to be "Full cycle" and in the case of a senate candidate page the default summary finanical information needs to cover 6 years.  So for a 2016 senate candidate the default needs to be Full cycle 2016 and the default coverage period needs to be 1/1/2011 to most recent filing in 2015.  The data might not matter for th

[2015-10-15 19:23] jmcarp commented on #766
All right, all the interim solutions we've been talking about here have been implemented. Based on discussion in https://github.com/18F/openFEC/issues/1271, we may have a better solution to the district 99 problem, but that's probably beyond the scope of this issue. Can this be closed @noahmanger?

[2015-10-15 19:26] PaulClark2 commented on #824
So for the image / mockup that folks will comment on we need the dropdown to look like this.

Full Cycle 2016
2015 - 2016
2013 - 2014
2011 - 2012
Full Cycle 2010
2009 - 2010
2007 - 2008
2005 - 2006

[2015-10-15 19:39] jenniferthibault commented on #824
Can do. These will just be static images for people to comment on, not interactive prototypes. I'm also planning on using just the cropped section with the first headline as you're seeing here, so that it's more obvious that we are only comparing one specific tool. This means that we don't need to worry about the data until actually implementing one of the solutions after getting feedback.

[2015-10-15 19:42] AmyKort commented on #824
Perfect!

[2015-10-15 19:47] PaulClark2 commented on #824
:+1:

Excellent!   Thanks @jenniferthibault  and @noahmanger .  So the "Full cycle" version will be Option A and the financial summary text will be "Financial summary for 2011-2016."

[2015-10-15 19:51] jenniferthibault commented on #824
You got it! Here's what A looks like @PaulClark2 . I'm still working on the others now.

<img width="786" alt="screen shot 2015-10-15 at 3 50 14 pm" src="https://cloud.githubusercontent.com/assets/11636908/10525755/8bedb036-7354-11e5-9b26-943540064cd6.png">

[2015-10-15 19:56] PaulClark2 commented on #824
@jenniferthibault you're great and thanks

[2015-10-15 20:23] #824 closed

[2015-10-15 20:39] jenniferthibault commented on #821
Addressed in #824 and https://github.com/18F/FEC/issues/71

[2015-10-15 20:39] #821 closed

[2015-10-15 21:06] PaulClark2 commented on #824
Hi @jenniferthibault one more comment about the Option A dropdown.  Should "Full cycle 2016" repeat.  Or is this usual dropdown behavior?

If it was just a choice, can we alter the mockup so that second "Full cycle 2016" does not appear.

@wluoFEC

[2015-10-15 21:11] noahmanger commented on #824
The idea here is that this just uses the native browser `<select>` element, which will render different for each browser. It will actually look like this (on Chrome):

![screen shot 2015-10-15 at 2 09 57 pm](https://cloud.githubusercontent.com/assets/1696495/10527661/878fbea2-7346-11e5-9238-7e3968df3113.png)

Whichever `<option>` is currently selected remains in the list.

[2015-10-15 21:27] noahmanger commented on #801
This is resolved.

[2015-10-15 21:27] #801 closed

[2015-10-15 21:29] noahmanger commented on #830
I'm not able to replicate this. Can you give me any more info?

[2015-10-15 21:57] noahmanger commented on #645
I agree with that. We should make that a separate issue written in the new format so we can prioritize relative to other things.

Also, how does this look as a temporary fix?

![screen shot 2015-10-15 at 2 57 32 pm](https://cloud.githubusercontent.com/assets/1696495/10528760/19e337d8-734d-11e5-9c73-59865d9bd7bf.png)

[2015-10-15 22:10] #790 closed

[2015-10-15 23:36] jmcarp commented on #830
Huh, looks like my Firefox was a few versions behind. If you downgrade to Firefox 37, I think you'll be able to replicate, but Firefox is normally pretty aggressive about pushing out new versions (except apparently for me), so now I'm thinking it's not worthwhile. I think this is fine to close.

[2015-10-15 23:39] #830 closed

[2015-10-15 23:47] noahmanger opened #846 "Bug: Maps on senate election pages not showing"
e.g. https://beta.fec.gov/data/elections/senate/or/2014/

[2015-10-16 00:10] noahmanger opened #847 "So that cycle select placement is consistent, move them to the headers of election pages"
Election pages still have cycle selects in line with the section titles, whereas candidate and committee pages have them in the header area.

I'd like to move them to the same area on candidate pages, but it's complicated by the presence of the map.

At the same time, there's the opportunity to make the titling of these pages more consistent with how we structure candidate and committee pages, whe

[2015-10-16 00:22] #766 closed

[2015-10-16 01:28] onezerojeremy commented on #700
Usability testing is indicating that users aren't associating "Other Spending" with the data that will be available on that tab, and therefore aren't clicking. They also don't reliably associate "Independent Expenditures" with Super Pacs.

Task:
How would you find which Super PACs are supporting or opposing Hillary Clinton?
User 1, relatively new to campaign finance:

[on the candidate's page, scr

[2015-10-16 01:49] onezerojeremy opened #850 "In order to find committees (esp super PACs) that are opposing or supporting a given candidate, users want the ability to filter committees by the candidate they are supporting or opposing."
In usability testing, users consistently attempt to first find independent expenditure only (super PACs) supporting or opposing a given candidate through the committee search.

In order to support this, we might consider adding the ability to filter committees by whether they have supported or opposed a given candidate. (not totally sure if this is possible, or how it would work from a data perspe

[2015-10-16 02:25] AmyKort commented on #700
That's really interesting feedback, I'll get with the FEC team and start coming up with some options to test in the future. Thank you.

[2015-10-16 16:13] LindsayYoung commented on #697
The disbursements and expenditures for the presidential race should link to new presidential reports:

https://fec-proxy.18f.gov/data/filings/?min_receipt_date=01-01-2015&max_receipt_date=12-31-2016&amendment_indicator=N&form_type=F3P

IEs link is trickier. We need to incorporate all the places where the IE summaries can be reported, so it should be limited to the new F5 and 3x forms.

https://fec

[2015-10-16 16:35] #846 closed

[2015-10-16 18:46] LindsayYoung opened #852 "bug: Sometimes the favicon on the data site doesn't load"
It works most of the time, this is an example of an error message on chrome.
(Thanks @jcscottiii!)

![pasted image at 2015_10_16 02_41 pm](https://cloud.githubusercontent.com/assets/4406333/10550337/6b339dcc-7414-11e5-9309-671a695f27a1.png)

[2015-10-16 18:51] PaulClark2 commented on #697
The F3P link seems right to me.   I'm not sure the IE link is helpful because it doesn't take you to IEs made for or against presidential candidates.  It takes you to F3X an F5 filings.

[2015-10-16 19:14] PaulClark2 opened #853 "Bug: Unexpected behavior for All independent expenditure committees active 2015-2016 link"
The All independent expenditure committees active 2015-2016 link misbehaves.   It takes the user to a list of 2016 committees.   Using Firefox if you hit the back button the IE filter become populated.

https://beta.fec.gov/data/
https://beta.fec.gov/data/committees/?committee_type=I&committee_type=O&committee_type=U&cycle=2016

![untitled](https://cloud.githubusercontent.com/assets/11817734/10550

[2015-10-16 19:51] noahmanger opened #854 "So that users understand why districts may be missing from election search, add disclaimer"
We want to add a disclaimer of some sort to the election search page along the lines of:

- [x] @emileighoutlaw write content
- [x] @jenniferthibault: where should we place this?
- [ ] I'll implement

[2015-10-16 20:22] leahbannon commented on #692
This was already completed

[2015-10-16 20:22] #692 closed

[2015-10-16 23:07] noahmanger commented on #785
We've decided against this.

[2015-10-16 23:07] #785 closed

[2015-10-16 23:08] noahmanger commented on #850
Big +1 to this. We've been seeing this come up a while.

It kind of relates to the big filter re-think I discuss here too https://github.com/18F/openFEC-web-app/issues/815

[2015-10-16 23:12] noahmanger commented on #700
I think the solution is in both redesigning the places where this "other spending" data shows up (like the committee browse page and committee pages, as you reference in other issues), as well as coming up with a better label for the tab. I'm going to break the tab issue out into its own issue and copy your comment there.

[2015-10-16 23:13] noahmanger opened #855 "To help users find "other spending", try to relabel the "Other spending" tab"
Per @onezerojeremy :

Usability testing is indicating that users aren't associating "Other Spending" with the data that will be available on that tab, and therefore aren't clicking. They also don't reliably associate "Independent Expenditures" with Super Pacs.

Task:
How would you find which Super PACs are supporting or opposing Hillary Clinton?
User 1, relatively new to campaign finance:

[on the

[2015-10-16 23:24] noahmanger commented on #651
Changed the title to reflect the need to clean up the language for the state column, either by:
- Changing the label to something other than "State"
- Or combining / removing territories and non-state geographies

As for the sort arrow question, in both cases the up arrow signifies "ascending" (lowest value to highest). It's kind of weird, but I don't believe we've heard from other users that it p

[2015-10-16 23:25] noahmanger commented on #835
This should also include work around weighting search results.

[2015-10-16 23:29] noahmanger commented on #506
This has been done for all except the "Committee types" filters.

[2015-10-16 23:33] boblannon commented on #785
oh, really?  I have the same problem with my typeahead, and was thinking of doing the same thing. what made you decide against? what are you doing instead?

[2015-10-16 23:33] leahbannon opened #856 "To collect users for usability testing, add ethnio popup to bottom right of beta.fec.gov"

[2015-10-16 23:40] noahmanger commented on #785
@LindsayYoung correct me if I'm wrong, but we decided against it because of the number of legit candidates that it filtered out. We decided better to leave it off for now, but in the future add a more intelligent way of weighting results to surface the accurate ones without accidentally cutting things out.

Also, I just realized that this issue started out referring to a statutory candidate checkb

[2015-10-16 23:44] noahmanger commented on #542
Thanks for reporting, David. I finally figured out what this was referring to. The bug here is that the `.twitter-typehead` div generated by the typeahead library is invisibly covering up the select on small screens. This will just take a small CSS tweak to fix.

[2015-10-16 23:46] #547 closed

[2015-10-16 23:52] noahmanger commented on #369
This was implemented a while ago.

[2015-10-16 23:52] #369 closed

[2015-10-16 23:54] #447 closed

[2015-10-16 23:55] noahmanger commented on #326
I know that there's some trickiness to the wording of this, but I still think it would be valuable.

[2015-10-17 00:08] noahmanger commented on #614
Do we still want to do this? I think it makes more sense for them to be listed in descending order, so the most relevant election is first. It would be weird on a candidate like [Pelosi](https://beta.fec.gov/data/candidate/H8CA05035/?cycle=2016) to show 1987 first I think.

[2015-10-18 14:52] LindsayYoung opened #858 "So users don't misunderstand outside spending add a disclaimer to candidate pages."
User testing revealed that showing independent expenditures on the candidate page without explanation confused users.

If we can't add a definition, we should at least add a disclaimer. Something like, "This money is not directly given to or spent by the candidate." (I am sure @emileighoutlaw could spruce the phrasing up.)

[2015-10-19 14:10] emileighoutlaw commented on #855
#858 also talks about this. I'm offering an idea over there for a temp solution; this issue seems like a good one for longterm discussion of language.

[2015-10-19 14:16] emileighoutlaw commented on #858
Oh interesting thought! I think we probably should have two sentences, one about what the tab *is* and one about what the tab *isn't*. How about something like:

"This tab shows spending that opposes or supports this candidate. None of the funds are directly given to or spent by the candidate."

Can we say "outside spending" ? I'd like it even better as:

"This tab shows outside spending that oppo

[2015-10-19 14:18] emileighoutlaw opened #859 "So users can better understand and apply filters, consider language edits to >$5K filter"
Considering alternatives to this language, which could confuse non-expert users:

<img width="180" alt="screen_shot_2015-10-16_at_4 37 27_pm_360" src="https://cloud.githubusercontent.com/assets/10552702/10579937/f5709644-7648-11e5-9889-6af8c0a3ab80.png">

Is this correct? The three options under `Candidates raising more than $5,000` are:
- `Statutory candidate` (which means they've raised more tha

[2015-10-19 14:51] jenniferthibault commented on #614
My inclination is also to put the most recent election first, then followed by older elections (meaning, most recent election --> most distant election).

If we want to test this, we could ask users to do a card sorting activity, where we give them an unsorted jumble of election years for a candidate, and ask the user to order them so that we can learn what type of ordering people expect to see. P

[2015-10-19 14:59] emileighoutlaw commented on #326
Agree that this could be helpful, especially for power users who want to know — for example — if the last quarterly report is included yet. I'm also worrying about candidates and committees whose last update was a long time ago, but the data is the most recent. Do we have concerns about that?

[2015-10-19 15:00] jenniferthibault commented on #646
@PaulClark2 is this resolved and ok to close?

[2015-10-19 15:28] PaulClark2 commented on #646
The total receipts and total disbursements numbers seem high to me.  I get the amounts below for 2016 presidential candidates.

Pres. TR:  $275,500,009.70
Pres. TD:  $154,820,182.43

[2015-10-19 15:53] emileighoutlaw commented on #813
Has been fixed in Wagtail

[2015-10-19 15:53] #813 closed

[2015-10-19 22:41] noahmanger commented on #854
This is something we want to do this sprint, right?

[2015-10-20 01:48] noahmanger commented on #847
Just realized I've been waiting for feedback on this. @jenniferthibault do you have thoughts about this as an interim solution?

[2015-10-20 01:55] #542 closed

[2015-10-20 13:55] jenniferthibault opened #864 "Bug: on development site, top banner overlaps glossary functionality, and glossary can't be closed"
I'm guessing the solution is to move the glossary down the same height as the banner, OR, don't make the banner sticky, and let the user scroll away from it on the page.

![screen shot 2015-10-20 at 9 51 59 am](https://cloud.githubusercontent.com/assets/11636908/10609185/69bb76dc-7710-11e5-9113-e98825280707.png)

cc @noahmanger / @jmcarp

[2015-10-20 14:01] jenniferthibault commented on #847
@noahmanger this makes sense as an interim solution to me, the one small adjustment I'd make is to make sure the underline under the election doesn't bump into the map, it should end at whatever grid column is before the map div. (looking at the third example of California District 2).

Sorry I missed it! I only have email notifications set up for issues I'm tagged in, but maybe I should change th

[2015-10-20 14:04] emileighoutlaw commented on #864
I also just noticed the banner gets stuck on the Candidate pages— when you scroll down and then scroll back up, it gets stuck cutting off the "Contact" link on the top.

<img width="1249" alt="screen shot 2015-10-20 at 10 03 11 am" src="https://cloud.githubusercontent.com/assets/10552702/10609473/efb6ab0c-7711-11e5-83b2-599fcc2c662f.png">

[2015-10-20 14:09] jenniferthibault commented on #854
I'd say so!

[2015-10-20 14:12] emileighoutlaw commented on #854
Yep! I'm working on the content now.

[2015-10-20 14:32] emileighoutlaw commented on #854
Was also toying with the idea of a two-sentence disclaimer, which is longer but more clearly spells out the "why no results?" piece:

Thoughts?

[2015-10-20 14:35] LindsayYoung commented on #854
Right now, we are not showing districts that don't have data to show. So they could have filed, but if we don't have any financial reports we are not creating a page.

Would an empty page be more or less confusing?

[2015-10-20 14:52] jmcarp opened #865 "To improve the reliability of the site, improve test coverage and refactor as needed"
# Unit tests

Much of the client-side logic was written before the project started to use unit tests. As a result, most older javascript doesn't have unit tests, and isn't written in a format amenable to unit testing. This increases the time necessary to fix bugs and add features. The following features are in need of tests:
- [ ] Tab lists
- [x] Data tables
- [x] Table filters
- [ ] Table panels

[2015-10-20 15:00] jenniferthibault opened #866 "So that users clearly understand how to engage with the FEC for feedback on betaFEC, develop and implement a contact/feedback strategy"
Here are a few light personas/scenarios that embody the needs our feedback channels must meet:

 - **"Plz Discuss"** users who want to engage in discussion about betaFEC
 - **"Send and End"** users who will report feedback or errors, but don't desire back-and-forth conversation
 - **"Curiosity Rovers"** users who would be interested in participating more deeply in the site's research, though inter

[2015-10-20 15:03] emileighoutlaw commented on #854
Ah, interesting. Does this get closer to the truth?

[2015-10-20 15:06] LindsayYoung commented on #854
Yes, that is what we are currently doing- though we have debated back and forth on that a few times and there is a that could add that if that would be better for users. (If we added that PR, we still wouldn't have districts where people haven't registered yet.)

[2015-10-20 15:24] jenniferthibault commented on #856
Hold please! See #866 for communication & feedback trategies around this before any implementation

[2015-10-20 15:27] jmcarp commented on #866
@jenniferthibault: if users want to subscribe to an issue, they can tag themselves in the feedback, or click through to the issue and click "Subscribe" from the issue page. These both seem pretty awkward.

I can think of a few alternatives, neither of which seems perfect.
* Add a second submit button ("submit with my github account") that opens a new issue dialog in a new window with the user's fe

[2015-10-20 15:32] emileighoutlaw commented on #854
Hmmmm:

[2015-10-20 17:32] LindsayYoung commented on #866
I feel like the feedback is for bug reporting and feature requests, if they want to contact us for a deeper conversation, they should use the email. I don't think GitHub is for having conversations with all users.

I think the beauty of what we have now, is that it is light-weight bug reporting and feature requests. If we want interactive conversations, I think that is something we would want to b

[2015-10-20 17:37] noahmanger commented on #854
I'd rather have the disclaimer be specific to whatever the rules we're operating with, so if we change the rules we just change the disclaimer. So I'd go with:

[2015-10-20 18:09] noahmanger commented on #866
This is terrific. Thanks for the thorough write-up.

As far as personas, I was going to suggest that the "Plz discuss" falls into two types — non-github savvy and github savvy — but I see you made that distinction in the solutions.

A few other thoughts:

1. I agree with Josh and Lindsay that it's probably not worth the dev time to really flesh-out a fully-featured solution to discussion around Gi

[2015-10-20 18:35] noahmanger commented on #847
Good catch!

[2015-10-20 19:08] jenniferthibault commented on #854
I can't tell if this message will show up all the time, or only on the occasion that no results are presented, but I think we should use the "feedback" pattern for the user, from the style guide below. I think the "alert" pattern might be a bit too much:

![screen shot 2015-10-20 at 3 05 43 pm](https://cloud.githubusercontent.com/assets/11636908/10618110/12230dd2-773c-11e5-987f-fe56217a9d58.png)

[2015-10-20 19:19] jenniferthibault commented on #646
@LindsayYoung / @jmcarp any idea why this might be different? Here's what it says on the site today:

<img width="489" alt="screen shot 2015-10-20 at 3 18 29 pm" src="https://cloud.githubusercontent.com/assets/11636908/10618448/e9d08506-773d-11e5-8022-5d4717f3ea8a.png">

[2015-10-20 19:20] jenniferthibault commented on #646
Or—is this a good candidate for the `data- meeting` tag?

[2015-10-20 19:21] jmcarp commented on #646
Will take a look.

[2015-10-20 19:32] emileighoutlaw commented on #854
How about this for content?

[2015-10-20 20:59] jenniferthibault commented on #858
Actually, I think this will work just fine as regular body intro text. We use that in a few other tabs as well.

For example, here's what the Financial summary tab looks like:

<img width="1273" alt="screen shot 2015-10-20 at 4 55 31 pm" src="https://cloud.githubusercontent.com/assets/11636908/10620880/7bf6953a-774b-11e5-8d60-93b41e30c808.png">

I'd imagine that text going in the same place under

[2015-10-20 23:47] noahmanger commented on #858
Resolved by #868

[2015-10-20 23:47] #858 closed

[2015-10-20 23:48] noahmanger commented on #854
:+1: to both visuals and language. I'll implement.

[2015-10-21 00:21] noahmanger commented on #854
Actually, just realized that this language isn't quite right. It's not just that "no results" message appears, but that you could get districts but not all districts. So I think we want something more like:

[2015-10-21 15:32] emileighoutlaw commented on #854
?:

[2015-10-21 15:41] jmcarp commented on #646
It looks like we were double-counting some totals because of duplicate candidate-committee rows for a given election year in the `dimlinkages` table. This is fixed in https://github.com/18F/openFEC/pull/1284, and the summary now looks like this:

<img width="445" alt="screen shot 2015-10-21 at 11 34 56 am" src="https://cloud.githubusercontent.com/assets/1633460/10641626/fdd23568-77e7-11e5-9968-24d

[2015-10-21 16:10] noahmanger commented on #854
Works for me if it works for @LindsayYoung and @jmcarp

[2015-10-21 16:13] jenniferthibault commented on #866
Interesting! I'm good with all three points.

On Ethnio especially, that's a really helpful perspective. Embedding it with feedback reporting could definitely be confusing. I hadn't thought of putting it on the data page as well, so that all sounds A++ !

If we're ok with this, then it sounds like here's how we go about it:

#### Tasks to completion:
 - [ ] Adjust home page copy to ask users to gi

[2015-10-21 16:28] PaulClark2 commented on #646
Thanks Josh.  No a candidate - committee pair should only show up once for a single election year.  I think you have already fixed this but one solution would be adding "expire_date is null" to the where clause.

select cand_sk, cmte_sk, cand_election_yr, count(*) from dimlinkages group by cand_sk, cmte_sk, cand_election_yr having count(*) > 1;
select * from dimlinkages where cand_sk = 10036995 an

[2015-10-21 16:37] PaulClark2 commented on #646
I think the numbers are fine.  They aren't exactly what I get from our production DB.

TR: $275,513,247
TD:  $154,842,953

@jwchumley can you confirm my numbers
select
sum(ttl_receipts), sum(ttl_disb)
from CANDIDATE_SUMMARY
where cand_office = 'P'
and  fec_election_yr = 2016
and cand_election_yr in (2015, 2016)
and (ttl_receipts > 0 or ttl_disb > 0);

[2015-10-21 17:03] LindsayYoung commented on #854
While we are at it can we also note that the district maps are approximate.

We are not getting all of the detail so that maps load faster so they will be wrong around the edges in many cases.

[2015-10-21 17:18] LindsayYoung opened #872 "bug: Election page "Contributions by size" should be "Individual contributions by size""
The aggregates we show, come from contributions [from individuals](https://github.com/18F/openFEC/blob/develop/data/sql_incremental_aggregates/prepare_schedule_a_aggregate_size.sql#L25).

~~update links to add `contributor_type=individual` on election pages~~
~~update links to add `contributor_type=individual` on committee pages~~
 - [ ] update words on election pages

<img width="1077" alt="scree

[2015-10-21 17:21] jmcarp commented on #646
@PaulClark2 thanks for the tip--filtering on `expire_date` would be simpler and faster than using `DISTINCT`, so I'll update the patch. I'm not sure why our numbers don't match yours exactly, but I also don't know exactly how your `CANDIDATE_SUMMARY` table is built. Maybe we can compare notes on Friday.

[2015-10-21 17:27] noahmanger opened #873 "So that users understand how totals and sub-totals are generated, provide consistent and accurate linking to source data"
## Background
FEC data includes two types of similar but almost-always-unequal data points (here's my attempt to label them as clearly as possible): Totals data and Itemized data. In turn, we display each of these types in two different ways each:

### 1. Totals data
A. **Reported totals:** These include things like "Total Receipts" and "Total Disbursements" for a particular reporting period (e.g.

[2015-10-21 17:40] noahmanger opened #874 "Bug: Report totals missing from details panel"
Just happened to notice this while clicking around on [this page](https://fec-proxy.18f.gov/data/filings/?cycle=2012&committee_id=C00431445&amendment_indicator=N&form_type=F3&form_type=F3P)
![image](https://cloud.githubusercontent.com/assets/1696495/10644860/9efb0612-77df-11e5-829a-e322cbd03b40.png)

The details panel is missing all kinds of numbers, but those are [reported on the form](http://doc

[2015-10-21 17:49] noahmanger commented on #874
Update! I realized that in one case I was looking at the Amended report (that's the one that has the data) and one was looking at the New report. The New one in both pages misses the data.

[2015-10-21 17:50] noahmanger commented on #874
And even in this case, do we want the links to "Source forms" to only link to New reports?

[2015-10-21 18:15] LindsayYoung opened #875 "Bug: many committees cycle selections not working"
Just noticed

Not working:
https://fec-proxy.18f.gov/data/committee/C00507384/?cycle=2010
https://beta.fec.gov/data/committee/C00507384/?cycle=2010

Working:
https://fec-proxy.18f.gov/data/committee/C00507384/
https://beta.fec.gov/data/committee/C00508002/

More examples that work the same on dev and production:
https://beta.fec.gov/data/committee/C00443176/?cycle=2006
https://beta.fec.gov/data/co

[2015-10-21 19:56] jmcarp commented on #875
Looks like we caused this in #1202. We're getting the list of active two-year periods from `vw_filing_history`, but we're populating most other fields in `ofec_committee_history_mv` using `dimcmteproperties`. So for committee C00507384, we think we'll get data for 2008-2016, but we only have records in `dimcmteproperties` from 2010-2016. That's because this committee filed a few F3s before its fir

[2015-10-21 20:33] jmcarp commented on #853
I just tried to reproduce this but didn't see the error--on clicking the IE link, I got a list of I, O, and U committees for 2016, and the filters were all populated without clicking back. I tried in Chrome and Firefox. It's possible that there was a bug that was fixed in an unrelated patch, but I'm not sure.

@PaulClark2, would you mind trying this again and letting me know if you're still seeing

[2015-10-21 20:35] LindsayYoung commented on #875
I think that full outer join with showing committee pages with mostly null values might be the best we can do. Especially if we ever add back ballot candidates, they won't have any summary data or even filings.

[2015-10-21 20:53] jmcarp commented on #874
There's a discrepancy between the way we handle filings in general and the way we handle F3* forms. We discard all F3, F3P, and F3X forms with non-null expiration dates (meaning they've been amended). For filings in general, we keep both new and amended filings. The result is that when we try to load detailed data for a filing that's been amended, we don't get any results, because we've discarded

[2015-10-21 21:00] jmcarp commented on #874
Just to be clear, we'll definitely want to continue to exclude F3* forms from our two-year aggregates.

[2015-10-21 23:27] noahmanger commented on #854
@emileighoutlaw This work?

[2015-10-21 23:28] PaulClark2 commented on #853
@jmcarp It's behaving as expected now.   I think we can close this issue.

[2015-10-21 23:31] jmcarp commented on #853
Thanks!

[2015-10-21 23:31] #853 closed

[2015-10-22 14:05] emileighoutlaw commented on #854
LGTM!

[2015-10-22 14:32] LindsayYoung commented on #854
That makes me happy!

[2015-10-22 15:37] #847 closed

[2015-10-22 16:07] LindsayYoung commented on #874
I like the idea of adding the amended report details. We would need to amend the api call that makes the charts on the financial summary on the committee pages.

![screen shot 2015-10-22 at 12 06 13 pm](https://cloud.githubusercontent.com/assets/4406333/10670801/545e411a-78b5-11e5-89c3-80debe2dab90.png)

When these were on the committee pages, we showed nulls as none with a link to none in the glo

[2015-10-22 16:12] noahmanger commented on #874
Ah got it. This is tricky. I agree that it's good to show the original numbers and the new numbers, but this requires some design work, I think. I could see a couple options:

1. In the details panel for amended filings, show the original numbers and the new numbers above or below them.
2. Just show the old numbers, but with a banner saying that the filings has been amended and linking to the amen

[2015-10-22 16:15] LindsayYoung commented on #874
We can't link to the new one yet. We don't have the "amended by" information but that is one of the things I think we will cover in the data meeting.

We can add a banner saying that record has been amended.

[2015-10-22 16:15] noahmanger commented on #874
So can we even show the new numbers in that case?

[2015-10-22 16:21] LindsayYoung commented on #874
We show the new numbers on the new form.

I am a little confused. I don't think I am understanding your question. This view is about the forms, so we would not want to show the numbers for another form on the form we are viewing, right?

[2015-10-22 17:30] PaulClark2 commented on #874
So the issue here is being able to show the summary/detailed summary information for all financial forms, new or amended, correct?  I guess there are a few ways to do this:  display the data on the details panel (this might take more time to do) or, perhaps, a short-term fix provide a link to the image for the filings that are not the most recent.

[2015-10-22 18:08] jenniferthibault commented on #856
We have this covered int he next steps of #866 — Ethnio will be on the home page and data home page (sharing the cookie so people still only see it once) but on the bottom left so that it doesn't overlap the feedback tool on the right.

[2015-10-22 18:08] #856 closed

[2015-10-22 18:35] jmcarp commented on #874
@PaulClark2: we proposed a fix in https://github.com/18F/openFEC/pull/1289. Instead of excluding all amended F3* records at the level of the materialized views, we're now including them and adding a filter to hide or show them as needed. That means we can fetch the relevant data for the details pane for records that have been amended.

[2015-10-22 21:10] #697 closed

[2015-10-22 21:15] #874 closed

[2015-10-22 21:18] #854 closed

[2015-10-22 21:27] noahmanger opened #883 "Bug: Some filings should have panels but don't"
On https://fec-proxy.18f.gov/data/filings/?committee_id=C00575795, the row for "July 15 (Q2) report  and Semi-annual 2015" has an arrow to suggest it has a panel but it does not have the `.js-panel-trigger` class and it can't open a panel.

[2015-10-22 21:47] emileighoutlaw opened #884 "To align user and team expectations, revisit beta homepage "What's next?" content"
#### Current content
<img width="1025" alt="what s next" src="https://cloud.githubusercontent.com/assets/10552702/10678840/c5f3cf20-78e2-11e5-9de6-862caa26f868.png">

^^ I think this is a little out of date

#### Suggested revision
What's next?
A few of the things we're working on:
- Registration, reporting and compliance resources
- Improvements to campaign finance data tools, including exportabl

[2015-10-22 23:39] noahmanger commented on #866
Ok, added the Ethnio screener to the data site https://github.com/18F/openFEC-web-app/pull/886

Also, the Ethnio screener is already on the beta home page in the left (open the page in incognito mode to see).

[2015-10-22 23:41] #873 closed

[2015-10-23 00:23] noahmanger opened #887 "Bug: Candidate filings not showing up on candidate pages"
Seems to be all candidate pages.

[2015-10-23 00:24] noahmanger commented on #887
Also independent expenditures.

[2015-10-23 00:24] noahmanger commented on #887
Sorry, IEs _are_ showing up. Disregard that last comment.

[2015-10-23 00:26] noahmanger commented on #887
Bah. Sorry, it's just not working for me locally. But I am ahead of the dev site, so keeping this open for someone to double-check.

[2015-10-23 00:34] noahmanger opened #888 "Bug: Some receipts links break back button"
We've almost squished this persistent bug, but I found two more locations where this happens:

From the committee page receipts tab, the links in the By Employer and By Occupation tables both send you to a receipts page that won't allow you to use the browser back button.

[2015-10-23 01:58] jmcarp commented on #887
Let's double-check once any last pending patches are deployed.

[2015-10-23 19:15] emileighoutlaw commented on #884
cc @LindsayYoung @noahmanger @jmcarp @jenniferthibault

I'd love to make this edit before the code freeze. What are your thoughts on the above, proposed new next?

[2015-10-23 20:00] noahmanger commented on #884
So are you proposing dropping the point about AOs?

[2015-10-23 20:30] emileighoutlaw commented on #884
I was— only because my understanding is that the legal tools are much further out on the horizon than the others. Do we want to promote features that are many months in the future?

[2015-10-23 20:40] LindsayYoung opened #892 "Ethno bug on fec.gov"
On Internet Explorer, if you use a control or function key a JS error from Ethnio pops up.

We will want to check out settings and contact Ethnio if the problem persists.

Did not know where to put this so I put it here so we don't forget it.

[2015-10-24 05:14] jmcarp commented on #875
@LindsayYoung and I put in a temporary fix for this to avoid problems during launch. Let's continue discussion of a better solution in https://github.com/18F/openFEC/issues/1287.

[2015-10-24 05:14] #875 closed

[2015-10-26 16:07] jmcarp commented on #888
This should have been fixed by #889--the problem seems to have come from null employers and occupations, with links like "...&employer_occupation=&min_date=...", since the empty query parameters were removed from the URL on table initialization. Can this be closed @noahmanger?

Going forward, #895 should give us a more comprehensive solution to this kind of problem.

[2015-10-26 16:10] jmcarp commented on #883
Looks like this was fixed in #885, and the offending row in the table linked above no longer has an arrow on dev. Can this be closed @noahmanger?

[2015-10-26 16:14] jmcarp commented on #872
Looks like we're already using `is_individual=true` on the relevant pages. I think we just need to update the language on the election page to clarify that we're only talking about individual contributions in the "Fundraising comparison" section.

Thoughts @emileighoutlaw?

[2015-10-26 16:16] LindsayYoung commented on #872
I thought `is_individual=true` filters out the earmarked funds and `contributor_type=individual` shows only donations from individuals.

[2015-10-26 16:27] jmcarp commented on #872
Unfortunately, it's a little more complicated than that. Filtering for `is_individual` restricts the results to transactions that are both from individuals and not earmarked. This is the filter we're using to build individual aggregates, not `contributor_type`.

[2015-10-26 16:47] emileighoutlaw commented on #872
So that I understand correctly, it's "Individual contributions (not earmarked) by donation size" ?

[2015-10-26 17:14] jenniferthibault commented on #866
@emileighoutlaw did you have a chance to resolve any thought on the footer copy?

@jmcarp I can't find an issue that tracks this, but want to confirm— will the feedback tool will be on the home page?

[2015-10-26 17:17] #888 closed

[2015-10-26 17:19] emileighoutlaw commented on #866
I think it still needs some mulling, but for now, let's go with 18f.gsa.gov style: a linked URL and icon

![screen shot 2015-10-26 at 1 18 11 pm](https://cloud.githubusercontent.com/assets/10552702/10736564/1343206a-7be4-11e5-9f87-3a2bca9a631f.png)

[icon]github.com/18F/FEC

[2015-10-26 18:32] noahmanger commented on #852
I fixed this.

[2015-10-26 18:33] #852 closed

[2015-10-26 19:28] jmcarp commented on #892
Ping @noahmanger. This makes the site pretty hard to use under IE.

[2015-10-26 19:50] noahmanger commented on #892
Ugh. Not sure what to do about this in the short term. We could hide the script for IE? Can someone email info@ethn.io with the bug info? They're very responsive.

[2015-10-26 22:00] LindsayYoung commented on #872
So there were two things going on, what parameters we need for filtering and what we should call that section.
 - I think that "Individual contributions by donation size" is close enough.
 - Thanks for talking with me earlier Josh, filtering for individuals is already included in the `is_individual=true` filtering. I updated the top of the ticket to reflect that. The data was just messy so I could

[2015-10-27 15:28] jmcarp commented on #887
@noahmanger now that the latest code is on dev and prod, can you check and see if this is an issue? I'm not sure which candidates were acting up before, so not sure how to test.

[2015-10-27 15:36] noahmanger commented on #887
Seems to be working.

[2015-10-27 15:36] #887 closed

[2015-10-27 16:14] noahmanger commented on #883
This works now.

[2015-10-27 16:14] #883 closed

[2015-10-27 20:41] noahmanger commented on #872
This language issue was resolved in #898

[2015-10-27 20:41] #872 closed

[2015-10-27 20:42] LindsayYoung commented on #892
I can't reproduce this I tried IE 10, 11 I am emailing Pat for more details.

[2015-10-27 20:58] noahmanger opened #899 "Bug: Tooltips on IE show when hovering over selects"
Not for launch: I just discovered an unfortunate bug / "feature" of Internet Explorer ([described here](http://stackoverflow.com/a/27555724/1864981)) that causes the time period select tooltips to show up when hover over the `select` element instead of just the `label`. Would be good to fix eventually.

[2015-10-28 18:58] nickbristow opened #904 "508 - Campaign Finance Data dropdown isn't accessible with keyboard"
The drop down in the nav that lets you browse by candiates and committe etc, doesn't appear to be accessible via keyboard.

I was expecting for it to either open when I tab to it, then tab to each item, or select it would open it.

Either way would work

[2015-10-28 19:00] nickbristow opened #905 "508 - Codesniffer is showing a js-reset button with no content in the text node"
I can't find this button when i view the source,

Low priority, but it would be nice to give this button some text content so codesniffer didn't flag it.

<img width="295" alt="home___beta_fec_gov" src="https://cloud.githubusercontent.com/assets/5296248/10799718/a6932bca-7d84-11e5-90e8-1ad9d1ba387a.png">

[2015-10-28 19:04] nickbristow opened #906 "When sorting "Support/Oppose" table is removed"
I believe this is because there is no data for this entry?

https://beta.fec.gov/data/candidate/H8VT01016/?tab=other-spending

<img width="1011" alt="sanders__bernard_congressman_-_candidate_overview_-_beta_fec_gov" src="https://cloud.githubusercontent.com/assets/5296248/10799800/2338108c-7d85-11e5-9837-9bd623963142.png">

*click sort on other spending -->

<img width="1028" alt="sanders__bernard_

[2015-10-28 19:07] nickbristow opened #907 "508 - Rollover is not accessible with keyboard"
<img width="163" alt="sanders__bernard_congressman_-_candidate_overview_-_beta_fec_gov" src="https://cloud.githubusercontent.com/assets/5296248/10799865/75bf4a50-7d85-11e5-94bd-7d00f5b40a81.png">

I assume this issue is for all rollovers, but i have seen any others yet.

[2015-10-28 19:41] nickbristow opened #908 "508 - Hidden input is accessible via keyboard, when it shouldn't be"
https://beta.fec.gov/data/

Choose and election cycle is keyboard accessible, when it shouldn't be.

<img width="1225" alt="campaign_finance_data_-_beta_fec_gov" src="https://cloud.githubusercontent.com/assets/5296248/10800801/4ae363c0-7d8a-11e5-88f3-3293f791daac.png">
![image](https://cloud.githubusercontent.com/assets/5296248/10800856/995f6ec2-7d8a-11e5-87ca-5f5f900c3f36.png)

[2015-10-29 15:55] emileighoutlaw commented on #859
Jamming on this again. What are your thoughts on:

- Prior to selected cycles (or election years)
- During selected cycles (or election years)
- After selected cycles (or election years)

[2015-11-02 20:28] noahmanger commented on #899
This will be fixed when making the tooltips 508 accessible.

[2015-11-02 20:41] noahmanger opened #914 "Bug: Election links from Senator pages are broken"
Election links from Senate candidate pages currently add district `00` to the URL, which takes you to broken senate pages.

As reported here: https://github.com/18F/FEC/issues/92

[2015-11-03 16:01] #864 closed

[2015-11-04 16:55] emileighoutlaw opened #920 "To clarify language for users, make "from state" more precise"
A couple places on the data site, we say a variation of `Total amount received from state`. On a literal level, it looks like this is saying the *state* gave the money.

<img width="521" alt="screen shot 2015-11-04 at 11 54 15 am" src="https://cloud.githubusercontent.com/assets/10552702/10945279/d0a5f134-82ea-11e5-88ba-c60ac3d084e7.png">

A couple options:
`Total amount received in state`
`Total a

[2015-11-04 19:32] jmcarp opened #921 "To simplify build process, switch from browserify to webpack"
Browserify's code-splitting functionality isn't great, and using browserify requires us to use a separate build tool (at the moment, gulp). I propose that we replace browserify and gulp (and their many associated plugins) with webpack to simplify our build process.

[2015-11-04 22:19] jmcarp opened #924 "To prevent regressions, share variables between JS and SASS"
Some information is currently duplicated between our scripts and styles, such as breakpoints. Like any code duplication, this is error-prone--it's easy to make a change to the JS without making the parallel change to the SASS. We should make this harder to screw up.
- Easy version: add a single JS and a single SASS file with shared variables, with comments reminding us to keep both files in sync.

[2015-11-04 22:20] jenniferthibault commented on #920
I get a little confused when it's changed to `in state` but any of those options with `by state` makes sense to me!

Perhaps the middle option, `Total amount received from contributors in state` is the most comprehensively accurate, but I think I'd have to choose the last `By state: total amount received`

Does anything need to change in the toggles?
<img width="974" alt="screen shot 2015-11-04 at

[2015-11-05 00:29] noahmanger commented on #924
Interesting. Of the two options, I think I prefer the second one, even if it's more complicated.

_But_, we only do this in one place as far as I can tell, which is in showing and hiding different columns at different breakpoints when the panels open and close.

I think my preference would be to find a way around setting breakpoints in the JS at all if we can find a way around it. Given how many a

[2015-11-05 00:45] jmcarp commented on #924
The second option's definitely better if we have to do either. But yes, it's definitely preferable if the JS and SASS don't have to share any information. I'll update the issue. The reason I was thinking about this was because @msecret asked about a hard-coded breakpoint in the filter panel in https://github.com/jmcarp/openFEC-web-app/blob/feature/refactor-filter-panel/static/js/modules/filter-pan

[2015-11-05 01:01] noahmanger opened #926 "Question: Should we not link to "Under $200" receipts?"
It looks like our number for the amount raised in receipts under $200 for any given committee is drawn from their reported "Unitemized individual receipts". Some committees apparently itemize these, and it's helpful to see them. But others don't, or at least don't itemize all of them. Would it be better to not link those sub-totals to the itemized views?

[2015-11-05 01:02] noahmanger commented on #924
Oh yeah, I caught that after I made my comment. So there's a couple places
where we make breakpoints in the JS.

On Wed, Nov 4, 2015 at 4:45 PM, Joshua Carp <notifications@github.com>
wrote:

--
Noah Manger
18F <http://18f.gsa.gov> | Work: 415-696-6146

[2015-11-05 13:04] emileighoutlaw commented on #920
I think the toggles are clear as is.

Agreed that the middle option (albeit accurate) is a little verbose. :)

[2015-11-05 17:40] msecret commented on #924
I think it'd be good to try and not do breakpoints in JS. The panel can be a little tricky but I'm pretty sure there's a way ad

[2015-11-05 18:38] jenniferthibault commented on #866
@emileighoutlaw when mocking this up, it made sense to either go all-icon or no-icon since it's the identical info to the Contact page, once you include the email address.

Thoughts?

![screen shot 2015-11-05 at 1 36 42 pm](https://cloud.githubusercontent.com/assets/11636908/10977983/79a840ac-83c2-11e5-8977-bfc2dfe2278d.png)

[2015-11-05 19:22] emileighoutlaw commented on #866
I think I like it better no icon. What do you think?

[2015-11-05 19:55] jenniferthibault commented on #866
My favorite strategy when I'm not sure about somethign: keep trying other things! This led me to realizing we may need a headline cue:

![screen shot 2015-11-05 at 2 53 30 pm](https://cloud.githubusercontent.com/assets/11636908/10979894/1c84b2b0-83cd-11e5-81c3-5aec3e4e057e.png)
![screen shot 2015-11-05 at 2 53 44 pm](https://cloud.githubusercontent.com/assets/11636908/10979893/1c83c382-83cd-11e5-9

[2015-11-05 20:15] jmcarp commented on #685
I've seen this before, but now I can't reproduce the problem. I'm wondering whether Stamen improved their map tiles, or if this only happens in some browsers. @wluoFEC, would you mind checking the production site and trying to replicate this? If you continue seeing this problem, could you let me know which OS and browser you were using? Thanks!

[2015-11-05 20:37] emileighoutlaw commented on #866
Oh yeah! I love that second option. It gets rid of symbol next to the address and phone number, which were the only two parts that felt a little unwieldy in the original design.

[2015-11-05 21:18] jenniferthibault commented on #866
:+1: ! I'll try to implement, but may need to tap in Noah for help.

[2015-11-05 22:52] onezerojeremy commented on #866
agreed, looks great!
also, that email is moving so fast!!

On Thu, Nov 5, 2015 at 4:18 PM, Jennifer Thibault <notifications@github.com>
wrote:

[2015-11-06 16:17] jenniferthibault opened #930 "Bug: Safari browse tables jump user to custom date field when loaded"
In Safari, when you navigate to the Filings, Receipts, or Disbursements browse tables, you are automatically jumped down to the custom date field. This doesn't happen on the Committee or Candidate browse pages, and doesn't happen in Chrome or Firefox.

![table-bug](https://cloud.githubusercontent.com/assets/11636908/11001919/f2b1099c-8477-11e5-8a20-56b5b6d17271.gif)

[2015-11-06 17:28] #904 closed

[2015-11-06 20:00] #905 closed

[2015-11-06 21:19] AmyKort commented on #859
How about something more like this (edit me):

    Candidates raising more than $5,000

        For election held prior to selected cycle
        For selected election cycle
        For election held after selected cycle

@emileighoutlaw

[2015-11-06 21:39] jenniferthibault opened #933 "Decide design direction for 2/4/6 cycle select"
Based on preliminary usability tests and feedback on https://github.com/18F/FEC/issues/73 , decide which design direction to build for live user testing

Story map card: [2/4/6 cycle select](https://18f.storiesonboard.com/m/fec/!card/qv-XXBL-Je7ikjnTowJqCg)

[2015-11-06 21:43] jenniferthibault opened #934 "Build version of 2/4/6 cycle select for usability testing"
Based on design direction determined by #933 , build and implement cycle select on staging for user testing.

Story map card: [2/4/6 cycle select](https://18f.storiesonboard.com/m/fec/!card/qv-XXBL-Je7ikjnTowJqCg)